<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminDefault}">

<th:block layout:fragment="customTitle">
    <title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customContents">
   <div class="row" style="display: inline-block;">
      <div class="tile_count">
        <h3>후기 댓글 관리</h3>
      </div>
   </div>
   <!-- 검색  -->
   <div class="x_panel">
    <!-- 검색 시작-->
		 <div class="container" style="float: left; margin-left: 8px; margin-bottom: 10px;">
			<div class="row">
				<form class="form-inline" th:action="@{/admin/review/reviewCommentSaerch}" method="post">
					<div class="form-group">
						<div class="col-sm-2">
							<input name="fromDate" class="date-picker form-control" placeholder="연도-월-일" type="date" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='date'">
						</div>
					</div>
					<span style="font-size: x-large; vertical-align: middle;">~</span>
					<div class="form-group">
						<div class="col-sm-2">
							<input name="toDate" class="date-picker form-control" placeholder="연도-월-일" type="date" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='date'">
						</div>
					</div>
					<div class="form-group">
						<select name="reportSearchKey" style="padding-top:7px; padding-bottom: 7px; text-align: center;">
							<option value="">- 전체검색 -</option>
							<option value="reviewList">후기목록</option>
							<option value="goodsList">상품 코드</option>
							<option value="buyerId">작성자 아이디</option>
							<option value="reviewContent">후기내용</option>
						</select>
					</div>
					<div class="form-group">
						<div class="col-md-8">
							<input type="text" name="reportSearchValue" class="form-control" style="width: 200px;" placeholder="검색어를 입력해주세요">
						</div>
						<div class="col-md-4">
							<button type="submit" class="btn btn-primary" style="width: 100%;">검색</button>
						</div>
					</div>
				</form>
			</div>
		</div>
        <!-- 검색 끝 -->
        <div class="col-md-12 col-sm-12 ">

          <div class="x_panel">
           
            <div class="x_title">
              <h2>후기 댓글 목록</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                      class="fa fa-wrench"></i></a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Settings 1</a>
                    <a class="dropdown-item" href="#">Settings 2</a>
                  </div>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
          
             
            <div class="x_content">
              <table class="table table-striped jambo_table bulk_action">
                <thead style="font-size: 12px;">
                  <tr class="headings">
                    <th style="text-align: center;" class="column-title">후기댓글목록 </th>
                    <th style="text-align: center;" class="column-title">후기목록 </th>
                    <th style="text-align: center;" class="column-title">작성자 아이디</th>
                    <th style="text-align: center;" class="column-title">후기댓글내용 </th>
                    <th style="text-align: center;" class="column-title">등록일시</th>
                    <th style="text-align: center;" class="column-title">수정일시</th>
                    <th style="text-align: center;" class="column-title">삭제</th>
                    <th style="text-align: center;" class="bulk-actions" colspan="7">
                      <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt">
                        </span> <i class="fa fa-chevron-down"></i></a>
                    </th>
                  </tr>
                </thead>

                <tbody style="text-align: center;">
	                <th:block th:if="${not #lists.isEmpty(reviewComment)}" th:each="r : ${reviewComment}">
	                  <tr class="even pointer">
	                    <td th:text="${r.reviewCommentList}"></td>
	                    <td th:text="${r.reviewList}"> </td>
	                    <td th:text="${r.userId}"></td>
	                    <td th:text="${r.reviewCommentContent}"></td>
	                    <td th:text="${r.regDate}"></td>
	                    <td th:text="${r.modifyDate}"></td>
	                    
	                    <td style="padding: 0px; "><a th:href="@{/admin/review/reviewCommentDelete(reviewCommentList=${r.reviewCommentList})}"><button type="button" class="btn btn-dark btn-xs" style="margin: 5px 5px 5px; ">삭제</button></a></td>
	                  </tr>
	                </th:block>
                  <tr th:unless="${not #lists.isEmpty(reviewComment)}">
					<td colspan="7">못찾겠다 꾀꼬리</td>
				  </tr>
                  
                </tbody>
              </table>
            </div>
            
            
            
          </div>
          </div>
		</div>
        
          
</th:block>
<!-- jQuery -->



<th:block layout:fragment="customTopJs">
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script>
		$(function() {
			let $checks = $('.indivChecks');
			$('#rowAllCheck').click(function() {
				$checks.prop('checked', $(this).prop('checked'));
			});
		});
	</script>
</th:block>
	



</html>
