<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminDefault}">

<th:block layout:fragment="customTitle">
    <title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customContents">

	<!-- 판매 상품 카테고리 소분류 -->
	<div class="row">
		<div class="col-sm-12">
        	<div class="x_panel">
            	<div class="x_title">
                	<h2 style="font-size: 17px;">판매 상품 카테고리 소분류</h2>
           	        <ul class="nav navbar-right panel_toolbox">
                      <li style="float: right;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
            	</div>
            	<div class="x_content">
            	    <!-- 판매 상품 카테고리 소분류 검색 조각 -->
	            	<div th:include="admin/category/goodsSmall/goodsSmallCategory_search :: goodsSmallCategory_searchFragment" style="margin-bottom: 10px"></div>
	            	<p style="font-weight: bold;">특정 행 클식하면 해당 내역으로 이동한다.</p>
                   	<div class="clearfix"></div>
					<div class="card-box table-responsive">
		            	<table id="datatable-checkbox" class="table table-striped table-bordered bulk_action" style="width:100%">
		    				<thead>
		                    	<tr>
                				    <th>
										<input type="checkbox" id="checkAllBtn" >
									</th>
			                        <th>판매 상품 카테고리 소분류 PK</th>
			                        <th>판매 상품 카테고리 대분류 FK</th>
			                        <th>판매 상품 소분류</th>
			                        <th>회원 아이디 FK(작성자)</th>
			                        <th>등록일</th>
			                        <th>사용 여부</th>
		                    	</tr>
		                   	</thead>
							<tbody>
									
									<!-- 판매 상품 카테고리 소분류 목록 -->
									<th:block th:if="${not #lists.isEmpty(goodsSmallCategoryList)}" th:each="gsList : ${goodsSmallCategoryList}">
										<tr style="cursor:pointer;">	
											<td>
												<input type="checkbox" class="checkAll" name="checkAll1">
				             				</td>
											<td class="moveToDetail" th:text="${gsList.goodsSmallCategory}">판매 상품 카테고리 소분류 PK</td>
											<td class="moveToDetail" th:text="${gsList.goodsLargeCategory}">판매 상품 카테고리 소분류 PK</td>
											<td class="moveToDetail" th:text="${gsList.smallCategoryName}">판매 상품 소분류</td>
											<td class="moveToDetail" th:text="${gsList.regId}">회원 아이디 FK(작성자)</td>
											<td class="moveToDetail" th:text="${gsList.regDate}">등록일</td>
											<td class="moveToDetail" th:text="${gsList.useCheck}">사용 여부</td>
										</tr>
									</th:block>									
									
							</tbody>
		        		</table>
					</div> <!-- </div class="card-box table-responsive"> -->
           			<div class="row">
           				<div class="col-sm-12">
	           				<div class="ml-auto">
	           					<a class="btn btn-success" th:href="@{/admin/category/addGoodsSmallCategory}" role="button">등록</a>
								<button type="button" class="btn btn-danger deleteModal" data-toggle="modal" data-target=".bs-example-modal-lg">삭제</button>
								<div class="ln_solid"></div>
								<ul style="padding-left: 0;">
									<li style="list-style: none; padding-left: 10px;">1. 등록 버튼 클릭하면 등록 화면으로 이동한다.</li>
									<li style="list-style: none; padding-left: 10px;">2. 삭제 버튼 클릭하면 체크박스가 체크된 열을 삭제하는 모달 창을 띄운다..</li>
								</ul>								
	           				</div>
           				</div> <!-- </div class="col-sm-12"> -->
           			</div> <!-- </div class="row"> -->
           			
            	</div> <!-- </div class="x_content"> -->
            </div> <!-- </div class="x_panel"> -->
            
		</div> <!-- </div class="col-md-12 col-sm-12"> -->
	</div> <!-- </div class="row"> -->
	
	<!-- 삭제 모달 -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    	<div class="modal-dialog modal-lg">
        	<div class="modal-content" style="text-align: center;">
	        	<div class="modal-header" style="padding-top: 35px;">
		        	<h4 class="modal-title" id="myModalLabel">판매 상품 카테고리 소분류 삭제</h4>
		            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
		            </button>
	          	</div>
        		<form class="eventRemove" action="removeCategory"  method="POST">
        	    	<div class="modal-body">
	            		<h4>비밀번호 확인</h4>
	            	    <input type="text" id="pwInput" placeholder="비밀번호를 입력하시길 바랍니다." style="height: 30px; width: 250px;">
	            	</div>
		            <div class="modal-footer">
			            <button type="button" class="btn btn-primary" data-dismiss="modal">취소</button>
			            <button type="button" id="deleteBtn1" class="btn btn-danger" onclick="passCheck(this)">삭제</button>
		            </div>
	           	</form>
        	</div>
      	</div>
    </div>
    
</th:block> <!-- </th:block layout:fragment="customContents"> -->

<th:block layout:fragment="customJsScript">
	<script type="text/javascript">
	
		// 전체 체크 버튼 탐색
		let checkAllBtn = document.getElementById('checkAllBtn');	
		
		// 모든 체크박스 탐색
		var checkAll = document.getElementsByClassName('checkAll');	
		
		// 삭제할 자주 묻는 질문 PK 담는 배열 객체 선언			
		var removeElement =  [];
		
		// 전체 체크 버튼에 이벤트 등록
		checkAllBtn.addEventListener('click', function(){
			for(var i=0; i<checkAll.length; i++){
				// 전체 체크 버튼의 checked 속성을 모든 체크박스에 대입함으로써 전체 체크 버튼을 누르면 모든 체크박스에가 체크/해체
				checkAll[i].checked = this.checked;
			}
		});	
		
		// 자주 묻는 질문 PK값 구해서 관리자 자주 묻는 질문 내역 화면으로 매핑하는 함수
		$(function(){
			// moveToDetail 클래스를 가지고 있는 모든 <td> 탐색
			var $moveToDetail = $('.moveToDetail');
			
			// moveToDetail 클래스를 가지고 있는 모든 <td>에 이벤트 등록
			$moveToDetail.each(function(i){
				$(this).click(function(){
					 var $allTd = $(this).parent().children();
					console.log($allTd[1].innerText); // String type
					var $goodsSmallCategory = $allTd[1].innerText
					
					location.href="goodsSmallCategoryDetail/" + $goodsSmallCategory;
				});
			}); // $(this).click(function(){
				
			// 모든 체크박스 탐색
			var $checkAll = $('.checkAll');
			
			// 체크박스가 체크된 열의 PK값을 배열에 담는다.
			$checkAll.each(function(i){
				$(this).click(function(){
					// PK값 탐색 
					var $regularAskPK = $(this).parent().next().text();
					// console.log($regularAskPK);

					// 체크박스가 체크되었는지 확인
					var isChecked = $(this)[0].checked;
					if(isChecked){
						// 체크가 됬을 때만 배열 객체에 PK값을 저장한다.
						removeElement.push($regularAskPK);
						
					} else{
						for(var i=0; i<removeElement.length; i++){
							// 배열 객체의 인덱스마다 어떤값이 저장되어 있는지 확인
							// console.log(removeElement[i]);
							// 만약 i번째 인덱스의 담긴 값이 PK갑과 같다면
							if(removeElement[i] == $regularAskPK){
								// 확실하게 같은지 확인한다.
								// console.log('배열 객체의 ' + i + '번째 요소의 값이 PK값과 같음');
								// 배열 객체에 담긴 PK값 삭제
								removeElement.splice(i, 1);
									// console.log('삭제 처리 후 배열' + removeElement);
							}
						} // for(var i=0; i<removeElement.length; i++){
					} // } else{
					
					console.log(removeElement);
				}); // $(this).click(function(){
			}); // $checkAll.each(function(i){
			
		}); // $(function(){
			
		// 관리자 비밀번호
		let userPw = 'pw001';
		
		// 삭제할 PK값 담는 배열 객체 선언			
		var removeElement =  [];
		
		/* 모달 유효성 검사 */
		function passCheck(i){
			 
			var pwInput = document.getElementById("pwInput");
			
			if(pwInput.value == ""){
				alert("비밀번호를 입력하세요.")
				pwInput.focus();
				
			}else if(pwInput.value != userPw){
					alert("비밀번호를 확인하시길 바랍니다.")
					pwInput.focus();
					
			}else if(pwInput.value == userPw){
				console.log(typeof removeElement);
				console.log(removeElement.length);
				if(removeElement.length <= 0){
					alert("삭제할 대상을 선택하시길 바랍니다.")
				}else{
		  			var request = $.ajax({
			  			  url: "/admin/category/removeGoodsSmallCategory", //요청 페이지 주소
			  			  method: "POST", //요청 방식
			  			  data: { removeElement : removeElement}, 
		                  //요청 페이지에 전달할 데이터 {key: value}
			  			  dataType: "text" //요청 페이지에서 응답할 방식
			  			});
			  			//정상적인 응답이 왔을 경우 실행되는 메서드
			  			request.done(function( data ) {
			  				console.log('응답 성공');
			  				console.log(data);
			  				
			  				location.href=data;
			  			});
			  			//비정상적인 응답이나 요청 후 응답 실패시 실행되는 메서드
			  			request.fail(function( jqXHR, textStatus ) {
			  			  alert( "Request failed: " + textStatus );
			  			});
				} // }else{
				
				// i.type = 'submit';
			} // else if(pwInput.value == userPw){
		} // function passCheck(i){
			
	</script>
</th:block>
</html>