<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/build/css/bootstrap.min.css}">
    <script th:src="@{/build/js/bootstrap.min.js}"></script>
    <script th:src="@{/build/js/jquery-3.6.1.min.js}"></script>

    <style>
        .orderBtn {
            width: 82px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="table-responsive">
        <table class="table text-center" style="height: 100%;">
            <colgroup>
                <col style="width:46.2%">
                <col style="width:14.2%">
                <col style="width:14.2%">
                <col style="width:14.2%">
                <col style="width:10.2%">
                <col style="width:11%">
            </colgroup>
            <thead>
            <tr>
                <th scope="col">상품정보</th>
                <th scope="col">주문일자</th>
                <th scope="col">주문번호</th>
                <th scope="col">주문금액(수량)</th>
                <th scope="col" colspan="2">주문상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${not #lists.isEmpty(regularPostHistory)}" th:each="l: ${regularPostHistory}">
                <td class="row">
                    <div class="col-5">상품이미지</div>
                    <ul class="col-7 list-unstyled text-left">
                        <li th:text="${l.goods.sellerId}">판매자</li>
                        <li th:text="${l.goods.goodsName}">상품명</li>
                    </ul>
                </td>
                <td th:text="${#strings.substring(l.order.orderDate, 0, 10)}">2022.09.26</td>
                <td>
                    <a class="text-decoration-none text-black-50" th:href="'/user/regularPost/' + ${l.order.orderNum}">[[${l.order.orderNum}]]</a>
                </td>
                <td>
                    <div class="" th:text="${l.orderDetail.orderPrice} + '원'">30000원</div>
                    <div class="" th:text="${l.orderDetail.orderAmount} + '개'">1개</div>
                </td>
                <td>
                    <div th:text="${l.orderDetail.orderStatus}">결제완료</div>
                    <button type="button" class="btn-sm" th:data-post-code="${l.orderDetail.postInfo}">배송조회</button>
                </td>
                <th:block th:switch="${l.orderDetail.orderStatus}">
                    <td th:case="결제완료">
                        <button type="button" class="btn-sm orderBtn orderCancel"
                                th:data-order-detail-code="${l.orderDetail.orderDetailCode}">주문취소
                        </button>
                    </td>
                    <td th:case="배송완료">
                        <button type="button" class="btn-sm orderBtn orderExchange"
                                th:data-order-detail-code="${l.orderDetail.orderDetailCode}">교환요청
                        </button>
                        <button type="button" class="btn-sm orderBtn orderRefund"
                                th:data-order-detail-code="${l.orderDetail.orderDetailCode}">환불요청
                        </button>
                        <button type="button" class="btn-sm orderBtn orderConfirm"
                                th:data-order-detail-code="${l.orderDetail.orderDetailCode}">구매확정
                        </button>
                    </td>
                    <td th:case="구매확정">
                        <button type="button" class="btn-sm orderBtn writeReview"
                                th:data-order-detail-code="${l.orderDetail.orderDetailCode}">리뷰작성
                        </button>
                    </td>
                </th:block>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>


    document.querySelector('button').tagName
    document.addEventListener('click', (e) => {
        if (e.target.tagName === 'BUTTON') {
            const postCode = e.target.dataset.postCode;
            const orderDetailCode = e.target.dataset.orderDetailCode;
            if (postCode !== undefined) {
                const url = `/user/regularpost/postcheck/${postCode}`;
                window.open(url, 'postCheck', '_blank');
            }
            if (e.target.classList.contains('orderCancel')) {

            }
            if (e.target.classList.contains('orderExchange')) {
                location.href = `/user/order/exchange/${orderDetailCode}`;
            }
            if (e.target.classList.contains('orderRefund')) {

            }
            if (e.target.classList.contains('orderConfirm')) {
                if (confirm('구매확정하시겠습니까?')) {
                    fetch(`/user/regularpost/confirm/${orderDetailCode}`)
                        .catch(() => {
                            alert('구매확정을 실패했습니다. 다시 시도해주세요')
                        })
                        .finally(() => { location.replace(location.href); });
                }
            }
            if (e.target.classList.contains('writeReview')) {

            }
        }
    });

    const buyConfirm = function () {
        this.dataset
    }

</script>
</body>
</html>