<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <style>
        .orderBtn {
            width: 82px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="table-responsive">
        <table class="table text-center" style="height: 100%;">
            <colgroup>
                <col style="width:46.2%">
                <col style="width:14.2%">
                <col style="width:14.2%">
                <col style="width:14.2%">
                <col style="width:10.2%">
                <col style="width:11%">
            </colgroup>
            <thead>
            <tr>
                <th scope="col">상품정보</th>
                <th scope="col">주문일자</th>
                <th scope="col">주문번호</th>
                <th scope="col">주문금액(수량)</th>
                <th scope="col" colspan="2">주문상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${not #lists.isEmpty(regularPostHistory)}" th:each="l: ${regularPostHistory}">
                <td class="row">
                    <div class="col-5">상품이미지</div>
                    <ul class="col-7 list-unstyled text-left">
                        <li th:text="${l.goods.sellerId}">판매자</li>
                        <li th:text="${l.goods.goodsName}">상품명</li>
                    </ul>
                </td>
                <td th:text="${#strings.substring(l.order.orderDate, 0, 10)}">2022.09.26</td>
                <td th:text="${l.order.orderNum}">12311234</td>
                <td>
                    <div class="" th:text="${l.orderDetail.orderPrice} + '원'">30000원</div>
                    <div class="" th:text="${l.orderDetail.orderAmount} + '개'">1개</div>
                </td>
                <td>
                    <div th:text="${l.orderDetail.orderStatus}">결제완료</div>
                    <button type="button" class="btn-sm" th:data-post-code="${l.orderDetail.postInfo}">배송조회</button>
                </td>
                <th:block th:switch="${l.orderDetail.orderStatus}">
                    <td th:case="결제완료">
                        <button type="button" class="btn-sm orderBtn">주문취소</button>
                    </td>
                    <td th:case="배송완료">
                        <button type="button" class="btn-sm orderBtn">교환요청</button>
                        <button type="button" class="btn-sm orderBtn">환불요청</button>
                        <button type="button" class="btn-sm orderBtn">구매확정</button>
                    </td>
                    <td th:case="구매확정">
                        <button type="button" class="btn-sm orderBtn">리뷰작성</button>
                    </td>
                </th:block>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>