<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">

<th:block layout:fragment="customCss">
<style>
	.btn-secondary, .btn-primary {
	    color: #fff;
	    background-color: #545b62;
	    border-color: #4e555b;
	}
	.birthdayBox {
		margin-top: 2px;
	}
	label	{
		padding-top: 8px;
	}
</style>
</th:block>

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customContents">
	<div class="row">
		<div class="col-md-12 col-sm-12 ">
			<div class="x_panel">
				<div class="x_title">
					<h2>Form Design <small>different form elements</small></h2>
					<ul class="nav navbar-right panel_toolbox">
						<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a class="dropdown-item" href="#">Settings 1</a>
								</li>
								<li><a class="dropdown-item" href="#">Settings 2</a>
								</li>
							</ul>
						</li>
						<li><a class="close-link"><i class="fa fa-close"></i></a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content" th:object="${paymentTotal}">
					<br />
					<form id="deleteForm" th:action="@{/admin/payment/removePaymentDetail}" method="post" data-parsley-validate class="form-horizontal form-label-left">
						<div class="item form-group">
							<label for="buyerId"class="col-form-label col-md-3 col-sm-3 label-align">회원아이디 <span class="required">*</span>
							</label>
							<div class="col-md-6 col-sm-6 ">
								<input type="text" id="buyerId" th:value="${paymentTotal.paymentInfo.buyerId}" class="form-control" readonly="readonly">
							</div>
						</div>
						<div class="item form-group">
							<label for="orderNum" class="col-form-label col-md-3 col-sm-3 label-align">주문번호 <span class="required">*</span>
							</label>
							<div class="col-md-6 col-sm-6 "	>
								<input type="text" id="orderNum" th:value="${paymentTotal.paymentInfo.orderNum}"  required="required" class="form-control" readonly="readonly">
							</div>
						</div>
						<div class="item form-group">
							<label for="orderDetailCode" class="col-form-label col-md-3 col-sm-3 label-align">주문상세번호 <span class="required">*</span>
							</label>
							<div class="col-md-6 col-sm-6 ">
								<input type="text" id="orderDetailCode" name="orderDetailCode" th:value="${paymentTotal.orderDetailCode}" required="required" class="form-control" readonly="readonly">
							</div>
						</div>
						<div class="item form-group">
							<label for="goodsName" class="col-form-label col-md-3 col-sm-3 label-align">상품정보</label>
							<div class="col-md-6 col-sm-6 ">
								<input type="text" id="goodsName" class="form-control" th:value="${paymentTotal.goodsName}" readonly="readonly">
							</div>
						</div>
						<div class="item form-group">
							<label class="col-form-label col-md-3 col-sm-3 label-align">결제수단</label>
							<div class="col-md-6 col-sm-6 ">
								<div id="paymentMethod" class="btn-group" data-toggle="buttons">
									<label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
										<input type="radio" th:value="${paymentTotal.paymentMethod}"> &nbsp; 카드 &nbsp;
									</label>
									<label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
										<input type="radio" th:value="${paymentTotal.paymentMethod}"> 계좌이체
									</label>
								</div>
							</div>
						</div>
						<div class="item form-group">
							<label for="cardCompany" class="col-form-label col-md-3 col-sm-3 label-align">영업사</label>
							<div class="col-md-6 col-sm-6 ">
								<input id="cardCompany" class="form-control" type="text" th:value="${paymentTotal.cardCompany}" readonly="readonly">
							</div>
						</div>
						<div class="item form-group">
							<label for="cardNumber" class="col-form-label col-md-3 col-sm-3 label-align">카드번호 / 환불계좌</label>
							<div class="col-md-6 col-sm-6 ">
								<input id="cardNumber" class="form-control" type="text" th:value="${paymentTotal.cardNumber}" readonly="readonly">
							</div>
						</div>
						<div class="item form-group">
							<label for="orderPrice" class="col-form-label col-md-3 col-sm-3 label-align">주문금액</label>
							<div class="col-md-6 col-sm-6 ">
								<input id="orderPrice" class="form-control" type="text" th:value="${'₩' + #numbers.formatInteger(paymentTotal.orderPrice, 3, 'COMMA')}" readonly="readonly">
							</div>
						</div>
						<div class="item form-group">
							<label for="approveDate" class="col-form-label col-md-3 col-sm-3 label-align">결제일자 / 승인일자</label>
							<div class="col-md-6 col-sm-6 ">
								<input id="approveDate" class="form-control" type="text" th:value="${paymentTotal.paymentInfo.approveDate}" readonly="readonly">
							</div>
						</div>
						
						<div class="ln_solid"></div>
						<div class="item form-group">
							<div class="col-md-6 col-sm-6 offset-md-3">
								<button value="0" class="btn btn-danger btnCheck" type="button">취소</button>
								<button value="1" class="btn btn-success btnCheck" type="button">삭제</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block layout:fragment="customJsScript">
	<script type="text/javascript" th:inline="javascript">
		$(function(){
			
			var msg =/*[[${msg}]]*/
				
			if(msg != null) alert(msg);
			
			$('.btnCheck').click(function(){
				
				if(this.value == 0){
					location.href = "/admin/payment/paymentDetail"
					return false;
					
				}else if(this.value == 1){
					
					let orderDetailCode = null;
					orderDetailCode = $('#orderDetailCode').val();
					console.log(orderDetailCode);
					
						var request = $.ajax({
							url: "/admin/payment/paymentDetailRemoveCheck",
							method: 'GET',
							data: { 'orderDetailCode' : orderDetailCode },
							dataType: "json" 
						});
	
						request.done(function( data ) { 
							console.log(data);
							if(data){
								if(confirm("정말 삭제하시겠습니까?")){
									$('#deleteForm').submit();
								}else{
									return false;
								}
							}
						});
							
						request.fail(function( jqXHR, textStatus ) {	
							alert( "Request failed: " + textStatus );
						});

				}
			})
		});
		
	</script>
</th:block>

</html>