<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/userDefault}">

<th:block layout:fragment="customTitle">
    <title th:text="${title}"></title>
	
</th:block>

<th:block layout:fragment="customCss">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<style>
		/* 목록 버튼 */
		.btn-lg{
			border-radius: 5px;
		}
	</style>
</th:block>

<th:block layout:fragment="customContents">
	<!-- 상단 이미지 -->
	<div class="hero-wrap hero-bread" style="background-image: url('/user/images/bg_1.jpg');">
    	<div class="container">
        	<div class="row no-gutters slider-text align-items-center justify-content-center">
          		<div class="col-md-9 ftco-animate text-center">
          			<p class="breadcrumbs"><span class="mr-2"><a th:href="@{/user}">Home</a></span></p>  
            		<h1 class="mb-0 bread">고객 문의 목록</h1>
          		</div>
        	</div>
    	</div>
    </div>
    
    
	<section class="ftco-section">
    	<div class="container">
    		<!-- 고객 문의 목록 -->
    		<div class="row justify-content-center">
    			<div class="col-md-12 mb-5 text-center">
   					<table class="table">
				    	<thead class="thead-primary">
				        	<tr class="text-center">
						        <th>번호</th>
						        <th>문의 카테고리</th>
						        <th>제목</th>
						        <th>작성자</th>
						        <th>문의일</th>
						        <th>답변 여부</th>
				      		</tr>
			    		</thead>
					    <tbody class="text-center">
							<!-- 고객 문의 카테고리 목록 -->
							<tr th:each="cAskList, status : ${customerAskList}" style="cursor:pointer;">
								<td class="moveToDetail" th:text="${status.count}">번호</td>
								<td class="moveToDetail" th:text="${cAskList.askCategory}">문의 카테고리 FK</td>
								<td class="moveToDetail" th:text="${cAskList.askTitle}">제목</td>
								<td class="moveToDetail" th:text="${cAskList.userId}">작성자</td>
								<td class="moveToDetail" th:text="${cAskList.askDate}">문의일</td>
								<td class="moveToDetail" th:text="${cAskList.answercheck}">답변 여부</td>
							</tr>	
				    	</tbody>
				    </table>
    			</div> <!-- </div class="col-md-12 mb-5 text-center"> -->
    		</div> <!-- </div class="row justify-content-center"> -->
			
			<!-- 화면 번호 -->
			<div class="row mt-5">
		    	<div class="col-sm-10">
		        	<div class="block-27">
		            	<ul class="text-center">
		                	<li><a href="#">&lt;</a></li>
			                <li class="pageNumber active"><a href="#"><span>1</span></a></li>
			                <li class="pageNumber"><a href="#">2</a></li>
			                <li class="pageNumber"><a href="#">3</a></li>
			                <li class="pageNumber"><a href="#">4</a></li>
			                <li class="pageNumber"><a href="#">5</a></li>
			                <li><a href="#">&gt;</a></li>
		             	</ul>
		             	
		           </div>
		    	</div>
	           <div class="col-sm-2">
	           		<a class="btn btn-primary btn-lg" th:href="@{/user/customerAsk/addCustomerAsk}" role="button">등록</a>
	           </div>
		    	
	        </div> <!-- <div class="row mt-5"> -->
	        
    	</div> <!-- </div class="container"> -->	
	</section>
</th:block> <!-- </th:block layout:fragment="customContents"> -->

<th:block layout:fragment="customJsScript">
	<script type="text/javascript">
			
			$(function(){
				
				// moveToDetail 클래스를 가지고 있는 모든 <tr> 탐색
				var $moveToDetail = $('.moveToDetail');
				

				// moveToDetail 클래스를 가지고 있는 모든 <td>에 이벤트 등록
				$moveToDetail.each(function(i){
					$(this).click(function(){
						var $allTd = $(this).parent().children();
						console.log($allTd[0].innerText); // String type
						var $customerAskPK = $allTd[0].innerText
						
			  			var request = $.ajax({
				  			  url: "/user/customerAsk/customerAskDetail", //요청 페이지 주소
				  			  method: "POST", //요청 방식
				  			  data: { customerAskPK : $customerAskPK}, 
			                  //요청 페이지에 전달할 데이터 {key: value}
				  			  dataType: "text" //요청 페이지에서 응답할 방식
			  			});
						
			  			//정상적인 응답이 왔을 경우 실행되는 메서드
			  			request.done(function( data ) {
			  				console.log('응답 성공');
			  				console.log(data);
			  				
			  				location.href=data;
			  			});
			  			//비정상적인 응답이나 요청 후 응답 실패시 실행되는 메서드
			  			request.fail(function( jqXHR, textStatus ) {
			  			  alert( "Request failed: " + textStatus );
			  			});
				  			
						
// 						location.href='customerAskDetail?customerAsk=' + $customerAskPK;
					});
				});
				
 

 				

			});
			
				
		</script>
</th:block> <!-- </th:block layout:fragment="customJsScript"> -->

</html>











