<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/userDefault}">

<th:block layout:fragment="customCss">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</th:block>

<th:block layout:fragment="customTitle">
    <title th:text="${title}"></title>

</th:block>

<th:block layout:fragment="customContents">
	<!-- 상단 이미지 -->
	<div class="hero-wrap hero-bread" style="background-image: url('/user/images/bg_1.jpg');">
    	<div class="container">
        	<div class="row no-gutters slider-text align-items-center justify-content-center">
          		<div class="col-md-9 ftco-animate text-center">
          			<p class="breadcrumbs"><span class="mr-2"><a href="http://130.162.131.42/user">Home</a></span></p>  
            		<h1 class="mb-0 bread">고객 문의 등록</h1>
          		</div>
        	</div>
    	</div>
    </div>
    
    
	<section class="ftco-section">
    	<div class="container">
    		<!-- 고객 문의 목록 -->
    		<div class="row justify-content-center">
    			<div class="col-md-12 mb-5 text-center">
   					<table class="table">
				    	<thead class="thead-primary">
				        	<tr class="text-center">
						        <th>번호</th>
						        <th>문의 카테고리</th>
						        <th>제목</th>
       						    <!-- 구매자의 닉네임 - tb_user 테이블에서 가져온다. -->
						        <th>작성자</th>
						        <th>등록일</th>
						        <th>답변 여부</th>
				      		</tr>
			    		</thead>
					    <tbody class="text-center">
				        	<tr style="cursor:pointer;">
				        		<td class="moveToDetail d-none">customerAsk001</td>
						        <td class="moveToDetail">1</td>
						        <td class="moveToDetail">결제 관련 문의</td>
						        <td class="moveToDetail">제목 01</td>
						        <td class="moveToDetail">김우식</td>
						        <td class="moveToDetail">2022-05-22 00:00:00</td>
						        <td class="moveToDetail">Y</td>
				      		</tr><!-- END TR-->
					        <tr style="cursor:pointer;">
					        	<td class="moveToDetail d-none">customerAsk002</td>
						        <td class="moveToDetail">2</td>
						        <td class="moveToDetail">정기 배송 문의</td>
						        <td class="moveToDetail">제목 02</td>
						        <td class="moveToDetail">김우식</td>
						        <td class="moveToDetail">2022-05-15 00:00:00</td>
						        <td class="moveToDetail">Y</td>
				      		</tr><!-- END TR-->
					        <tr style="cursor:pointer;">
					        	<td class="moveToDetail d-none">customerAsk003</td>
						        <td class="moveToDetail">3</td>
						        <td class="moveToDetail">배송 관련 문의</td>
						        <td class="moveToDetail">제목 03</td>
						        <td class="moveToDetail">김우식</td>
						        <td class="moveToDetail">2022-05-20 00:00:00</td>
						        <td class="moveToDetail">Y</td>
				      		</tr><!-- END TR-->
					        <tr style="cursor:pointer;">
					        	<td class="moveToDetail d-none">customerAsk004</td>
						        <td class="moveToDetail">4</td>
						        <td class="moveToDetail">홈페이지 오류 신고</td>
						        <td class="moveToDetail">제목 04</td>
						        <td class="moveToDetail">김도도</td>
						        <td class="moveToDetail">2022-06-01 00:00:00</td>
						        <td class="moveToDetail">Y</td>
				      		</tr><!-- END TR-->
					        <tr style="cursor:pointer;">
						        <td class="moveToDetail d-none">customerAsk005</td>
						        <td class="moveToDetail">5</td>
						        <td class="moveToDetail">판매 문의</td>
						        <td class="moveToDetail">제목 05</td>
						        <td class="moveToDetail">김도도</td>
						        <td class="moveToDetail">2022-06-03 00:00:00</td>
						        <td class="moveToDetail">Y</td>
				      		</tr><!-- END TR-->
				    	</tbody>
				    </table>
    			</div> <!-- </div class="col-md-12 mb-5 text-center"> -->
    		</div> <!-- </div class="row justify-content-center"> -->
			
			<!-- 화면 번호 -->
			<div class="row mt-5">
		    	<div class="col-sm-11 ">
		        	<div class="block-27">
		            	<ul class="text-center">
		                	<li><a href="#">&lt;</a></li>
			                <li class="pageNumber active"><a href="#"><span>1</span></a></li>
			                <li class="pageNumber"><a href="#">2</a></li>
			                <li class="pageNumber"><a href="#">3</a></li>
			                <li class="pageNumber"><a href="#">4</a></li>
			                <li class="pageNumber"><a href="#">5</a></li>
			                <li><a href="#">&gt;</a></li>
		             	</ul>
		             	
		           </div>
		    	</div>
	           <div class="col-sm-1 ">
	           		<a class="btn btn-primary" href="http://130.162.131.42/user/customerAsk/addCustomerAsk" role="button">등록</a>
	           </div>
		    	
	        </div> <!-- <div class="row mt-5"> -->
	        
    	</div> <!-- </div class="container"> -->	
	</section>
</th:block> <!-- </th:block layout:fragment="customContents"> -->

<th:block layout:fragment="customJsScript">
	<script type="text/javascript">
			// 삭제 버튼 탐색
			
			$(function(){
				
				// moveToDetail 클래스를 가지고 있는 모든 <tr> 탐색
				var $moveToDetail = $('.moveToDetail');
				
				// 자주 묻는 질문 PK값을 저장하는 배열 객체 removeElement 선언
				var removeElement = [];
				
				// moveToDetail 클래스를 가지고 있는 모든 <td>에 이벤트 등록
				$moveToDetail.each(function(i){
					$(this).click(function(){
						var $allTd = $(this).parent().children();
						console.log($allTd[0].innerText); // String type
						var $customerAskPK = $allTd[0].innerText
						
			  			var request = $.ajax({
				  			  url: "/user/customerAsk/customerAskDetail", //요청 페이지 주소
				  			  method: "POST", //요청 방식
				  			  data: { customerAskPK : $customerAskPK}, 
			                  //요청 페이지에 전달할 데이터 {key: value}
				  			  dataType: "text" //요청 페이지에서 응답할 방식
			  			});
						
			  			//정상적인 응답이 왔을 경우 실행되는 메서드
			  			request.done(function( data ) {
			  				console.log('응답 성공');
			  				console.log(data);
			  				
			  				location.href=data;
			  			});
			  			//비정상적인 응답이나 요청 후 응답 실패시 실행되는 메서드
			  			request.fail(function( jqXHR, textStatus ) {
			  			  alert( "Request failed: " + textStatus );
			  			});
				  			
						
// 						location.href='customerAskDetail?customerAsk=' + $customerAskPK;
					});
				});
				
 				// categoryActive 클래스를 가지고 있는 모든 <a> 탐색
				var $categoryActive = $('.categoryActive');
 				
 				// pageNumber 클래스를 가지고 있는 모든 <a> 탐색
				var $pageNumber = $('.pageNumber');
 				
 				// categoryActive 클래스를 가지고 있는 모든 <a>에 이벤트 등록
				$categoryActive.each(function(i){
					$(this).click(function(){
						// 현재 active 클래스를 가진 카테고리 탐색
						let $activeCategory = $('.categoryActive.active');
						
						console.log($activeCategory);
						console.log($(this));
						$activeCategory.toggleClass('active');
						$(this).toggleClass('active');
					});
				});
 				
 				// pageNumber 클래스를 가지고 있는 모든 <li>에 이벤트 등록
				$pageNumber.each(function(i){
					$(this).click(function(){
						// 현재 active, pageNumber 클래스를 가진 <li> 탐색
						let $activeNumber = $('.pageNumber.active');
						
						console.log($activeNumber);
						console.log($(this));
						$activeNumber.toggleClass('active');
						$(this).toggleClass('active');
					});
				});
			});
			
				
		</script>
</th:block> <!-- </th:block layout:fragment="customJsScript"> -->

</html>











