<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/userDefault}">

<th:block layout:fragment="customCss">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	
</th:block>

<th:block layout:fragment="customTitle">
    <title th:text="${title}"></title>

</th:block>

<th:block layout:fragment="customContents">
	<!-- 상단 이미지 -->
	<div class="hero-wrap hero-bread" style="background-image: url('/user/images/bg_1.jpg');">
    	<div class="container">
        	<div class="row no-gutters slider-text align-items-center justify-content-center">
          		<div class="col-md-9 ftco-animate text-center">
          			<p class="breadcrumbs"><span class="mr-2"><a href="http://130.162.131.42/user">Home</a></span></p>  
            		<h1 class="mb-0 bread">고객 문의</h1>
          		</div>
        	</div>
    	</div>
    </div>
    
    
	<section class="ftco-section">
    	<div class="container">
    		<!-- 고객 문의 목록 -->
    		<div class="row justify-content-center">
    			<div class="col-md-12 mb-5" style="background-color: gray;">
    				<h3 class="text-left">안녕!</h3>
    				<div>
	    				<h2 class="text-right">작성자</h2>
	    				<h2 class="text-right">등록일</h2>
    				</div>
		   		</div> <!-- </div class="col-md-12 mb-5 text-center"> -->
    		</div> <!-- </div class="row justify-content-center"> -->
			
    	</div> <!-- </div class="container"> -->	
	</section>
</th:block> <!-- </th:block layout:fragment="customContents"> -->

<th:block layout:fragment="customJsScript">
	<script type="text/javascript">
			
			$(function(){
				
 				

			});
			
				
		</script>
</th:block> <!-- </th:block layout:fragment="customJsScript"> -->

</html>











