<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="ks44team04.mapper.CategoryMapper">
	<!-- ==============================구매자 등급 카테고리============================== -->
	
    <!-- 구매자 등급 카테고리 목록 -->
	<resultMap  type="LevelBuyerCategory"	id="levelBuyerCategoryListMap">
		<id	    column="level_code"			property="levelCode"/> 		    <!-- 등급 코드 PK -->
        <result column="level_name"         property="levelName"/>		    <!-- 등급 이름 -->
        <result column="reg_id" 			property="regId"/>		        <!-- 회원 아이디 FK(등록인) -->
        <result column="level_reg_date" 	property="levelRegDate"/>		<!-- 등급 생성일 -->
        <result column="use_check" 			property="useCheck"/>			<!-- 사용 여부 -->
        <result column="buyer_price_terms"	property="buyerPriceTerms"/>	<!-- 구매자 구매 금액 조건 (6개월) -->
        <result column="save_rate" 		    property="saveRate"/>			<!-- 적립율(%) -->
        <result column="level_code_npk" 	property="levelCodeNpk"/>		<!-- 등급 코드 -->
	</resultMap>
    
    <!-- 구매자 등급 카테고리 목록 조희 -->
    <select id="getLevelBuyerCategoryList" resultMap="levelBuyerCategoryListMap">
		 SELECT 
			 level_code				 -- 등급 코드 PK
			,level_name 			 -- 등급 이름
			,reg_id 				 -- 회원 아이디 FK(등록인)
			,level_reg_date			 -- 등급 생성일
			,use_check				 -- 사용 여부
			,buyer_price_terms       -- 구매자 구매 금액 조건 (6개월)
			,save_rate		         -- 적립율(%)
			,level_code_npk	   		 -- 등급 코드
		FROM 
			tb_level_buyer_category; -- 구매자 등급 카테고리 테이블
    </select>
    
	
	<!-- ==============================구매자 등급 카테고리============================== -->
	
	<!-- ==============================자주 묻는 질문 카테고리============================== -->
	<!-- 자주 묻는 질문 카테고리 목록 -->
	<resultMap  type="RegularAskCategory"     id="regularAskCategoryListMap">
		<id	    column="regular_ask_category" property="regularAskCategory"/> <!-- 자주 묻는 질문 카테고리 PK -->
        <result column="category_name"        property="categoryName"/>		  <!-- 자주 묻는 질문 카테고리 -->
        <result column="reg_id" 			  property="regId"/>		      <!-- 회원 아이디 FK(등록인) -->
        <result column="use_check" 			  property="useCheck"/>			  <!-- 사용 여부 -->
        <result column="reg_date" 		      property="regDate"/>			  <!-- 등록일 -->
	</resultMap>
    
	<!-- 자주 묻는 질문 카테고리 목록 조희 -->
    <select id="getRegularAskCategoryList" resultMap="regularAskCategoryListMap">
    	SELECT 
	    	 rCategory.regular_ask_category       -- 자주 묻는 질문 카테고리 PK
	 		,rCategory.category_name		      -- 자주 묻는 질문 카테고리
		    ,rCategory.reg_id					  -- 회원 아이디 FK(등록인)
		    ,rCategory.use_check				  -- 사용 여부
		    ,rCategory.reg_date					  -- 등록일
		FROM 
			tb_regular_ask_category AS rCategory; -- 자주 묻는 질문 카테고리 테이블
    </select>
    
	<!-- ==============================자주 묻는 질문 카테고리============================== -->
	
    <resultMap 	type="GoodsLargeCategory" 		id="GoodsLargeCategoryMap">
		<id 	column="goods_large_category" 	property="goodsLargeCategory"/>
		<result column="goods_category" 		property="goodsCategory"/>
		<result column="reg_id" 				property="regId"/>
		<result column="use_check" 				property="useCheck"/>
		<result column="reg_date" 				property="regDate"/>
	</resultMap>
	
    <resultMap 	type="GoodsSmallCategory" 		id="GoodsSmallCategoryMap">
		<id 	column="goods_small_category" 	property="goodsSmallCategory"/>
		<result column="goods_large_category" 	property="goodsLargeCategory"/>
		<result column="small_category_name" 	property="smallCategoryName"/>
		<result column="reg_id" 				property="regId"/>
		<result column="use_check" 				property="useCheck"/>
		<result column="reg_date" 				property="regDate"/>
	</resultMap>

	<resultMap type="GoodsQnaCategory" 			id="GoodsQnaCategoryMap">
		<id column="goods_qna_category" 		property="goodsQnaCategory"/>
		<result column="reg_id" 				property="regId"/>
		<result column="category_name" 			property="categoryName"/>
		<result column="reg_date" 				property="regDate"/>
		<result column="use_check" 				property="useCheck"/>
	</resultMap>

	<resultMap 	type="BoardCategory" 			id="BoardCategoryMap">
		<id 	column="board_category" 		property="boardCategory"/>
		<result column="category_name" 			property="categoryName"/>
		<result column="reg_id" 				property="regId"/>
		<result column="use_check" 				property="regDate"/>
		<result column="reg_date" 				property="useCheck"/>
	</resultMap>
	
</mapper>