<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks44team04.mapper.OrderMapper">
    <resultMap type="Order" id="orderResultMap">
        <result column="order_num" property="orderNum"/>
        <result column="buyer_id" property="buyerId"/>
        <result column="coupon_code" property="couponCode"/>
        <result column="order_date" property="orderDate"/>
        <result column="order_status" property="orderStatus"/>
        <result column="total_sum" property="totalSum"/>
        <result column="total_price" property="totalPrice"/>
        <result column="coupon_price" property="couponPrice"/>
        <result column="use_point" property="usePoint"/>
        <result column="goods_discount_price" property="goodsDiscountPrice"/>
        <result column="post_price" property="postPrice"/>
        <result column="total_order_price" property="totalOrderPrice"/>
        <result column="final_confirm_price" property="finalConfirmPrice"/>
        <result column="final_confirm_date" property="finalConfirmDate"/>
        <result column="post_address_list" property="postAddressList"/>
    </resultMap>

    <resultMap type="OrderDetail" id="orderDetailResultMap">
        <result column="order_detail_code" property="orderDetailCode"/>
        <result column="order_num" property="orderNum"/>
        <result column="goods_code" property="goodsCode"/>
        <result column="order_amount" property="orderAmount"/>
        <result column="order_og_price" property="orderOgPrice"/>
        <result column="order_price" property="orderPrice"/>
        <result column="order_status" property="orderStatus"/>
        <result column="post_info" property="postInfo"/>
        <result column="refund_check" property="refundCheck"/>
        <result column="auto_confirm_date" property="autoConfirmDate"/>
        <result column="order_confirm_date" property="orderConfirmDate"/>
        <result column="save_point" property="savePoint"/>
        <association property="goods" resultMap="ks44team04.mapper.GoodsMapper.goodsResultMap"/>
        <association property="order" resultMap="orderResultMap"/>
    </resultMap>

    <resultMap type="OrderCancel" id="orderCancelResultMap">
        <result column="order_cancel_code" property="orderDetailCode"/>
        <result column="order_detail_code" property="orderDetailCode"/>
        <result column="payment_code" property="paymentCode"/>
        <result column="buyer_id" property="buyerId"/>
        <result column="cancel_ask_date" property="cancelAskDate"/>
        <result column="cancel_reason" property="cancelReason"/>
        <result column="approve_date" property="approveDate"/>
    </resultMap>

    <resultMap type="OrderExchange" id="orderExchangeResultMap">
        <result column="exchange_ask_code" property="exchangeAskCode"/>
        <result column="order_detail_code" property="orderDetailCode"/>
        <result column="buyer_id" property="buyerId"/>
        <result column="post_info" property="postInfo"/>
        <result column="exchange_ask_date" property="exchangeAskDate"/>
        <result column="exchange_reason" property="exchangeReason"/>
        <result column="approve_check" property="approveCheck"/>
        <result column="approve_date" property="approveDate"/>
        <result column="post_company" property="postCompany"/>
        <result column="invoice_number" property="invoiceNumber"/>
    </resultMap>

    <resultMap type="OrderReturn" id="orderReturnResultMap">
        <result column="order_return_code" property="orderReturnCode"/>
        <result column="order_detail_code" property="orderDetailCode"/>
        <result column="buyer_id" property="buyerId"/>
        <result column="return_ask_date" property="returnAskDate"/>
        <result column="return_reason" property="returnReason"/>
        <result column="permit_date" property="permitDate"/>
        <result column="post_company" property="postCompany"/>
        <result column="invoice_number" property="invoiceNumber"/>
    </resultMap>

    <insert id="setOrderExchange" parameterType="OrderExchange">
        INSERT INTO tb_order_exchange
        (exchange_ask_code, order_detail_code, buyer_id, post_info, exchange_ask_date, exchange_reason)
        VALUES (#{exchangeAskCode}, #{orderDetailCode}, #{buyerId}, #{postInfo}, NOW(), #{exchangeReason})
    </insert>
    <insert id="setOrderReturn" parameterType="OrderReturn">
        insert into tb_order_return
        (order_return_code, order_detail_code, buyer_id, return_ask_date, return_reason)
        VALUES (#{orderReturnCode}, #{orderDetailCode}, #{buyerId}, NOW(), #{returnReason})
    </insert>

    <select id="getOrderExchangeMaxCode" resultType="String">
        SELECT MAX(exchange_ask_code)
        FROM tb_order_exchange
    </select>
    <select id="getOrderReturnMaxCode" resultType="String">
        SELECT MAX(order_return_code)
        FROM tb_order_return
    </select>

    <select id="getOrderDetail" parameterType="Map" resultMap="orderDetailResultMap">
        select *
        from tb_order_detail as tod
        inner join tb_goods as tg
            on tod.goods_code = tg.goods_code
        <choose>
        <when test="orderDetailCode != null">
            where order_detail_code = #{orderDetailCode}
        </when>
        <when test="orderNum != null">
            where order_num = #{orderNum}
        </when>
        <when test="goodsCode != null">
            where goods_code = #{goodsCode}
        </when>
        <otherwise>
            where 1 = 2
        </otherwise>
        </choose>
    </select>
    
    <update id="setReturnPost" parameterType="Map">
        <choose>
            <when test="postType = 'exchange'">
                update tb_order_exchange
            </when>
            <when test="postType = 'refund'">
                update tb_order_return
            </when>
        </choose>
            set post_company = #{postCompany},
                invoice_number = #{invoiceNumber}
            where order_detail_code = #{orderDetailCode};
    </update>

    <update id="setOrderDetailStatus" parameterType="String">
        call set_order_status(#{orderDetailCode}, #{orderStatus})
    </update>

    <select id="getOrderList" parameterType="String" resultMap="orderDetailResultMap">
        select *
        from tb_order_detail as tod
                 inner join tb_goods tg
                            on tod.goods_code = tg.goods_code
                 inner join tb_order t
                            on tod.order_num = t.order_num
        where t.buyer_id = #{userId}
        order by order_detail_code desc
    </select>

    <select id="getGoodsInfo" parameterType="String" resultMap="ks44team04.mapper.GoodsMapper.goodsResultMap">
        select * from tb_goods where goods_code = #{goodsCode}
    </select>

</mapper>

        