<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks44team04.admin.mapper.PaymentMapper">
	
	<!-- 결제상세내역 -->
	<!-- <resultMap type="PaymentTotal" id="paymentDetailResultMap">
		<id 	column="order_num" 			property="orderNum"/>
		<result column="order_detail_code" 	property="orderDetailCode"/>
		<result column="goods_code" 		property="goodsCode"/>
		<result column="buyer_id"			property="buyerId"/>
		<result column="payment_method"		property="paymentMethod"/>
		<result column="card_company" 		property="cardCompany"/>
		<result column="card_number" 		property="cardNumber"/>
		<result column="refund_bank" 		property="refundBank"/>
		<result column="refund_account" 	property="refundAccount"/>
		<result column="order_price" 		property="orderPrice"/>
		<result column="approve_date"		property="approveDate"/>
		<result column="goods_name"			property="goodsName"/>
		<result column="coupon_price"		property="couponPrice"/>
		<result column="use_point"			property="usePoint"/>
		<result column="save_point"			property="savePoint"/>
		<result column="order_amount"		property="orderAmount"/>
		<result column="order_status"		property="orderStatus"/>
		<result column="order_date"			property="orderDate"/>
	</resultMap> -->
	
	<!-- 결제내역페이지 -->
	<resultMap type="PaymentInfo" id="paymentListMap">
		<result column="order_num" 		property="orderNum"/>
		<result column="buyer_id" 		property="buyerId"/>
		<result column="order_date" 	property="orderDate"/>
		<collection property="paymentHistory" javaType="list" ofType="PaymentHistory">
			<result column="goods_name"			property="goodsName"/>
			<result column="use_point"			property="usePoint"/>
			<result column="save_point"			property="savePoint"/>
			<result column="coupon_price"		property="couponPrice"/>
			<result column="order_amount"		property="orderAmount"/>
			<result column="order_status"		property="orderStatus"/>	
			<result column="order_price" 		property="orderPrice"/>
		</collection>
	</resultMap>
	
	<!-- 결제페이지종합 -->
	<resultMap type="PaymentTotal" id="paymentMap">
		<result column="order_detail_code" 	property="orderDetailCode"/>
		<result column="goods_code" 		property="goodsCode"/>
		<result column="payment_method"		property="paymentMethod"/>
		<result column="card_company" 		property="cardCompany"/>
		<result column="card_number" 		property="cardNumber"/>
		<result column="refund_bank" 		property="refundBank"/>
		<result column="refund_account" 	property="refundAccount"/>
		<result column="order_price" 		property="orderPrice"/>
		<result column="approve_date"		property="approveDate"/>
		<result column="approve_price"		property="approvePrice"/>
		<result column="goods_name"			property="goodsName"/>
		<result column="coupon_price"		property="couponPrice"/>
		<result column="use_point"			property="usePoint"/>
		<result column="save_point"			property="savePoint"/>
		<result column="order_amount"		property="orderAmount"/>
		<result column="order_status"		property="orderStatus"/>		
		<association property="paymentInfo" 	javaType="PaymentInfo">
			<id 	column="order_num" 		property="orderNum"/>
			<result column="buyer_id" 		property="buyerId"/>
			<result column="order_date" 	property="orderDate"/>
		</association>

		
	</resultMap>
	
	<!-- 결제상세목록 -->
	<select id="paymentDetailList" resultType="PaymentTotal" resultMap="paymentMap" fetchSize="100">
		SELECT
			*
		FROM
			(SELECT 
				o.order_num
				,od.order_detail_code
				,od.goods_code
				,o.buyer_id
				,p.payment_method
				,cp.card_company
				,cp.card_number
				,cp.approve_price
				,cp.approve_date
			FROM
				tb_order AS o
				INNER JOIN
				tb_order_detail AS od
				ON
				o.order_num = od.order_num
				INNER JOIN
				tb_payment AS p
				ON
				od.order_num = p.order_num
				INNER JOIN
				tb_card_payment AS cp
				ON
				p.payment_group_code = cp.card_payment_code) AS a
				
				UNION
				
				SELECT 
				o.order_num
				,od.order_detail_code
				,od.goods_code
				,o.buyer_id
				,p.payment_method
				,ap.refund_bank
				,ap.refund_account
				,ap.approve_price
				,ap.approve_date
			FROM
				tb_order AS o
				INNER JOIN
				tb_order_detail AS od
				ON
				o.order_num = od.order_num
				INNER JOIN
				tb_payment AS p
				ON
				od.order_num = p.order_num
				INNER JOIN
				tb_account_payment AS ap
				ON
				p.payment_group_code = ap.account_payment_code
			ORDER BY order_detail_code;
	</select>
	
	<!-- 결제내역페이지 -->
	<select id="paymentList" resultMap="paymentListMap" fetchSize="100">
		SELECT
			o.order_num
			,o.buyer_id
			,g.goods_name
			,o.coupon_price
			,o.use_point
			,od.save_point
			,od.order_price
			,od.order_amount
			,o.order_status
			,o.order_date
		FROM
			tb_order AS o
			INNER JOIN
			tb_order_detail AS od
			ON
			o.order_num = od.order_num
			INNER JOIN
			tb_goods AS g
			ON
			od.goods_code = g.goods_code
		ORDER BY o.order_num;
	</select>
	
</mapper>