<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks44team04.mapper.PointMapper">

    <resultMap type="PointDeal" id="pointHistoryMap">
        <id column="point_deal_code" property="pointDealCode"/>
        <result column="user_id" property="userId"/>
        <result column="status" property="status"/>
        <result column="point_deal_price" property="pointDealPrice"/>
        <result column="point_deal_id" property="pointDealId"/>
        <result column="point_deal_date" property="pointDealDate"/>
        <result column="point_end_date" property="pointEndDate"/>
        <result column="point_deal_reason" property="pointDealReason"/>
        <result column="point_deal_reference" property="pointDealReference"/>
    </resultMap>

    <select id="pointHistory" resultMap="pointHistoryMap">
        SELECT *
        FROM tb_point_deal AS p
        ORDER BY p.point_deal_date;
    </select>

    <select id="getUserPoint" parameterType="String" resultType="int">
        select sum(point_deal_detail)
        from tb_point_detail
        where user_id = 'buyer01'
        group by user_id;
    </select>

    <insert id="addPointDeal" parameterType="PointDeal">
        <selectKey resultType="Map" keyColumn="point_deal_code,point_deal_id"
                   keyProperty="pointDealCode,pointDealId" order="BEFORE">
            select concat(substr(max(point_deal_code), 1, 9), lpad(cast(substr(max(point_deal_code), 10) as unsigned) +
            1, 4, 0)) as point_deal_code,
            concat(substr(max(point_deal_id), 1, 1), lpad(cast(substr(max(point_deal_id), 2) as unsigned) + 1, 8,
            0)) as point_deal_id
            from tb_point_deal;
        </selectKey>
        insert into tb_point_deal (point_deal_code, user_id, status, point_deal_price, point_deal_id, point_deal_date,
        point_end_date, point_deal_reason, point_deal_reference)
        values (#{pointDealCode}, #{userId}, #{status}, #{pointDealPrice}, #{pointDealId}, now(),
        date_add(now(), interval 1 year), #{pointDealReason}, #{pointDealReference});
    </insert>

    <insert id="addPointDetailPlus" parameterType="PointDetail">
        <selectKey resultType="Map" keyColumn="point_detail,point_detail_code"
                   keyProperty="pointDetail,pointDetailCode" order="BEFORE">
            select concat(substr(max(point_detail), 1, 11), lpad(cast(substr(max(point_detail), 12) as unsigned) +
            1, 2, 0)) as point_detail,
            concat(substr(max(point_detail_code), 1, 1), lpad(cast(substr(max(point_detail_code), 2) as unsigned) + 1, 8,
            0)) as point_detail_code
            from tb_point_detail;
        </selectKey>
        insert into tb_point_detail (point_detail, user_id, point_deal_detail, point_detail_code, point_detail_save,
        point_deal_id, treat_date, point_end_date)
        values (#{pointDetail}, #{userId}, #{pointDealDetail}, #{pointDetailCode}, #{pointDetailCode}, #{pointDealId}, now(),
        date_add(now(), interval 1 year));
    </insert>


</mapper>