<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks44team04.admin.mapper.PointMapper">
	
	<resultMap type="PointDeal" id="pointHistoryMap">
		<id 	column="point_deal_code" 			property="pointDealCode"/>
		<result column="user_id" 	property="userId"/>
		<result column="status" 	property="status"/>
		<result column="point_deal_price" 	property="pointDealPrice"/>
		<result column="point_deal_id" 	property="pointDealId"/>
		<result column="point_deal_date" 	property="pointDealDate"/>
		<result column="point_end_date" 	property="pointEndDate"/>
		<result column="point_deal_reason" 	property="pointDealReason"/>
		<result column="point_deal_reference" 	property="pointDealReference"/>
	</resultMap>
	
	<select id="pointHistory" resultMap="pointHistoryMap">
		SELECT
			*
		FROM
			tb_point_deal AS p
		ORDER BY p.point_deal_date;
	</select>
	
	
	
</mapper>