<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks44team04.mapper.RegularAskMapper">
	<!-- 자주 묻는 질문 목록 -->
	<resultMap type="RegularAsk" id="regularAskMap">
		<id	column="regular_ask" 				property="regularAskPK"/> 		 <!-- 자주 묻는 질문 PK -->
        <result column="category_name"		 	property="categoryName"/>		 <!-- 자주 묻는 질문 카테고리 -->
        <result column="regular_ask_category"	property="regularAskCategory"/>	 <!-- 자주 묻는 질문 카테고리 이름 -->
        <result column="reg_id" 			 	property="regId"/>				 <!-- 회원 아이디 FK(작성자) -->
        <result column="regular_ask_title"  	property="regularAskTitle"/>	 <!-- 제목 -->
        <result column="regular_ask_content" 	property="regularAskContent"/>	 <!-- 내용 -->
        <result column="use_check" 				property="useCheck"/>			 <!-- 사용 여부 -->
        <result column="reg_date" 		    	property="regDate"/>			 <!-- 등록일 -->
        <result column="update_date"        	property="updateDate"/>		     <!-- 수정일 -->
	</resultMap>
	
	<!-- 자주 묻는 질문 목록 조회 -->
    <select id="getRegularAskList" resultMap="regularAskMap">
    	/* 자주 묻는 질문 목록 조회 */
    	SELECT 
			 rAsk.regular_ask 				    -- 자주 묻는 질문 PK
			,rAskCate.category_name 			-- 카테고리명
			,rAsk.reg_id 						-- 회원 아이디 FK(작성자)
			,rAsk.regular_ask_title 			-- 제목
			,rAsk.regular_ask_content 			-- 내용
			,rAsk.use_check 					-- 사용 여부
			,rAsk.reg_date 						-- 등록일
			,rAsk.update_date 					-- 수정일
		FROM 
			tb_regular_ask AS rAsk 			    -- 자주 묻는 질문 테이블
			INNER JOIN 
			tb_regular_ask_category AS rAskCate -- 자주 묻는 질문 카테고리 테이블
			ON rAsk.regular_ask_category = rAskCate.regular_ask_category
		ORDER BY rAsk.regular_ask; 				-- 자주 묻는 질문 PK 순으로 정렬
    </select>
    
    <!-- 특정 자주 묻는 질문 조회 -->
    <select id="getRegularAskByPK" parameterType="String" resultType="RegularAsk">
    	/* 특정 자주 묻는 질문 조회 */
	    SELECT 
			 rAsk.regular_ask         AS regularAskPK 	   -- 자주 묻는 질문 PK
	    	,rAskCate.category_name   AS categoryName      -- 자주 묻는 질문 카테고리 이름
			,rAsk.reg_id 			  AS regId 			   -- 회원 아이디 FK(작성자)
			,rAsk.regular_ask_title   AS regularAskTitle   -- 제목
			,rAsk.regular_ask_content AS regularAskContent -- 내용
			,rAsk.use_check 		  AS useCheck 		   -- 사용 여부
			,rAsk.reg_date 			  AS regDate 		   -- 등록일
			,rAsk.update_date 		  AS updateDate 	   -- 수정일
		FROM 
			tb_regular_ask AS rAsk 			    		   -- 자주 묻는 질문 테이블
			INNER JOIN 
			tb_regular_ask_category AS rAskCate 		   -- 자주 묻는 질문 카테고리 테이블
			ON rAsk.regular_ask_category = rAskCate.regular_ask_category
		WHERE 
			regular_ask = #{regularAskPK}; 				   -- 자주 묻는 질문 PK값을 매개변수로 입력 받는다.
    </select>
    
    <!-- 자주 묻는 질문 수청 처리  -->
    <update id="modifyRegularAsk" parameterType="RegularAsk">
    	/* 자주 묻는 질문 수청 처리 */
    	UPDATE tb_regular_ask -- 자주 묻는 질문 테이블
     	<trim prefix="SET" prefixOverrides=",">
     		-- 자주 묻는 질문 카테고리
			<if test="regularAskCategory != null and regularAskCategory != ''"> -- 값이 없거나 값이 공백일 경우 수정할 수 없다.
		    	regular_ask_category= #{regularAskCategory}
			</if>
			-- 제목
			<if test="regularAskTitle != null and regularAskTitle != ''"> -- 값이 없거나 값이 공백일 경우 수정할 수 없다.
				,regular_ask_title = #{regularAskTitle}
			</if>
			-- 내용
			<if test="regularAskContent != null and regularAskContent != ''"> -- 값이 없거나 값이 공백일 경우 수정할 수 없다.
				,regular_ask_content = #{regularAskContent}
			</if>
			-- 사용 여부 
			<if test="useCheck != null and useCheck != ''"> -- 값이 없거나 값이 공백일 경우 수정할 수 없다. 
				,use_check = #{useCheck}
			</if>
			-- 수정일
			,update_date = NOW() 
		</trim>
			WHERE 
				regular_ask=#{regularAskPK};
     </update>
     
     <!-- 마지막 인덱스에 저장되어 있는 자주 묻는 질문의 PK값을 조회 -->
     <select id="getLastIndexOfRegularAskPK" resultType="String">
    	/* 마지막 인덱스에 저장되어 있는 자주 묻는 질문의 PK값을 조회 */
		SELECT 
			MAX(regular_ask) -- 마지막 인덱스에 저장되어 있는 자주 묻는 질문의 PK값
		FROM 
			tb_regular_ask; -- 자주 묻는 질문 테이블
    </select>
    
    <!-- 자주 묻는 질문 등록 처리  -->
    <insert id="addRegularAsk" parameterType="RegularAsk">
    	/* 자주 묻는 질문 등록 처리 */
    	INSERT INTO tb_regular_ask
			 (regular_ask 			-- 자주 묻는 질문 PK
			,regular_ask_category 	-- 자주 묻는 질문 카테고리
			,reg_id 			  	-- 회원 아이디 FK(작성자) 
			,regular_ask_title 	  	-- 제목
			,regular_ask_content  	-- 내용
			,use_check 			  	-- 사용 여부
			,reg_date			    -- 등록일
			,update_date)  		    -- 수정일
		VALUES 
			(#{regularAskPK}		-- 자주 묻는 질문 PK
			,#{regularAskCategory} 	-- 자주 묻는 질문 카테고리
			,'admin01' 				-- 회원 아이디 FK(작성자) 
			,#{regularAskTitle} 	-- 제목
			,#{regularAskContent}	-- 내용
			,#{useCheck} 			-- 사용 여부
			,NOW() 					-- 등록일
			,NOW()); 				-- 수정일
    </insert>
    
    <!-- 자주 묻는 질문 검색 -->
    <select id="searchRegularAsk" parameterType="Map" resultMap="regularAskMap" fetchSize="100"> <!-- 100까지만 검색이 가능하다. -->
    	/* 자주 묻는 질문 검색 */
    	SELECT 
		     rAsk.regular_ask 				    -- 자주 묻는 질문 PK
		    ,rAskCate.regular_ask_category 		-- 자주 묻는 질문 카테고리 
			,rAskCate.category_name 			-- 카테고리명
			,rAsk.reg_id 						-- 회원 아이디 FK(작성자)
			,rAsk.regular_ask_title 			-- 제목
			,rAsk.regular_ask_content 			-- 내용
			,rAsk.use_check 					-- 사용 여부
			,rAsk.reg_date 						-- 등록일
			,rAsk.update_date 					-- 수정일
		FROM 
			tb_regular_ask AS rAsk 			    -- 자주 묻는 질문 테이블
			INNER JOIN 
			tb_regular_ask_category AS rAskCate -- 자주 묻는 질문 카테고리 테이블
			ON rAsk.regular_ask_category = rAskCate.regular_ask_category
		<if test="sK != null and sV != ''"> -- 검색 키가 있고, 검색 값이 공백이 아니다.
			<trim prefix="WHERE" prefixOverrides="AND | OR">
				/* 카테고리 검색 */
				<if test="sK != null and sV != '' and sK == 'rAskCate.category_name'"> -- 검색 키가 있고, 검색 값이 공백이 아니고, 검색 키가 카테고리이다.
					${sK} LIKE CONCAT('%', #{sV}, '%')
				</if>
				/* 제목 */ 
				<if test="sK != null and sV != '' and sK == 'rAsk.regular_ask_title'"> -- 검색 키가 있고, 검색 값이 공백이 아니고, 검색 키가 제목이다.
					${sK} LIKE CONCAT('%', #{sV}, '%')
				</if>
				/* 내용 검색 */ 
				<if test="sK != null and sV != '' and sK == 'regular_ask_content'"> -- 검색 키가 있고, 검색 값이 공백이 아니고, 검색 키가 내용이다.
					${sK} LIKE CONCAT('%', #{sV}, '%')
				</if>
				/* 사용 여부 검색 */ 
				<if test="sK != null and sV != '' and sK == 'rAsk.use_check'"> -- 검색 키가 있고, 검색 값이 공백이 아니고, 검색 키가 사용 여부이다.
					${sK} = #{sV}
				</if>
			</trim>
		</if>
		-- 자주 묻는 질문 PK를 내림차순으로 정렬한다.
		ORDER BY rAsk.regular_ask ASC;
    </select>
    
    <!-- 자주 묻는 질문 삭제 -->
    <delete id="removeRegularAsk" parameterType="String">
    	/* 자주 묻는 질문 삭제 */
		DELETE
		FROM 
			tb_regular_ask 				   -- 자주 묻는 질문 테이블
		WHERE 
			regular_ask = #{regularAskPK}; -- 자주 묻는 질문 PK값을 매개변수로 입력 받는다. 
    </delete>
    
</mapper>

