<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks44team04.admin.mapper.UserMapper">

    <resultMap type="User" id="userResultMap">
        <result column="user_id" property="userId"/>
        <result column="user_pw" property="userPw"/>
        <result column="user_name" property="userName"/>
        <result column="user_gender" property="userGender"/>
        <result column="user_nickname" property="userNickname"/>
        <result column="user_address" property="userAddress"/>
        <result column="user_phone" property="userPhone"/>
        <result column="user_email" property="userEmail"/>
        <result column="user_right" property="userRight"/>
        <result column="user_reg_date" property="userRegDate"/>
        <result column="user_update_date" property="userUpdateDate"/>
        <result column="user_status" property="userStatus"/>
        <result column="user_penalty" property="userPenalty"/>
        <result column="user_point" property="userPoint"/>
        <result column="user_info_keep" property="userInfoKeep"/>
        <result column="user_level" property="userLevel"/>
    </resultMap>

    <select id="userLogin" parameterType="String" resultType="String">
        SELECT IF(COUNT(*) = 1, user_pw, 'none')
        FROM tb_user
        WHERE user_id = #{userId};
    </select>

    <select id="getLoginUserInfo" parameterType="String" resultMap="userResultMap">
        SELECT user_name,
               user_right
        FROM tb_user
        WHERE user_id = #{userId};
    </select>
    
</mapper>