<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- 검색바 -->
	<div th:fragment="categorySearchFragment">
		<form action="#"  method="post">
			<select name="searchKey">
				<option value="memberId">아이디</option>
				<option value="memberName">이름</option>
				<option value="memberEmail">이메일</option>
				<option value="goodsName">상품명</option>
			</select>
			<input type="text" name="searchValue" placeholder="검색어를 입력해주세요.">
			<button type="submit">검색</button>
		</form>
	</div>
</html>