<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminDefault}">

	<th:block layout:fragment="customTitle">
	    <title th:text="${title}"></title>
	</th:block>
	
	<th:block layout:fragment="customContents">
		<div class="row">
			<div class="col-sm-12">
        		<div class="x_panel">
            		<div class="x_title">
                		<h2 style="font-size: 17px;">구매자 등급 카테고리</h2>
                    	<div class="clearfix"></div>
            		</div>
            		<div class="x_content">
	            		<div class="row">
                    		<div class="col-sm-12">
         						<br/>
								<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" th:action="@{/admin/category/modifyCategory}" method="post">
									<!-- 등급 코드 PK -->
									<div class="item form-group">
										<label class="col-form-label col-md-3 col-sm-3 label-align" for="level_code">등급 코드 PK
										</label>
										<div class="col-md-6 col-sm-6 ">
											<input type="text" id="level_code" value="levelBuyer01" disabled="disabled" class="form-control" maxlength="15">
										</div>
									</div>
									<!-- 등급 이름 -->
									<div class="item form-group">
										<label class="col-form-label col-md-3 col-sm-3 label-align" for="level_name">등급 이름
										</label>
										<div class="col-md-6 col-sm-6 ">
											<input type="text" id="level_name" value="씨앗" required="required" class="form-control" maxlength="15">
										</div>
									</div>
									<!-- 회원 아이디(등록) -->
									<div class="item form-group">
										<label class="col-form-label col-md-3 col-sm-3 label-align" for="reg_id">회원 아이디(등록)
										</label>
										<div class="col-md-6 col-sm-6 ">
											<input type="text" id="reg_id" value="admin01" disabled="disabled" required="required" class="form-control" maxlength="15">
										</div>
									</div>
									<!-- 등급 생성일 -->
									<div class="item form-group">
										<label class="col-form-label col-md-3 col-sm-3 label-align" for="level_reg_date">등급 생성일
										</label>
										<div class="col-md-6 col-sm-6 ">
											<input type="datetime" id="level_reg_date" value="2021-01-01 00:00:00" disabled="disabled" required="required" class="form-control" maxlength="15">
										</div>
									</div>
									<!-- 사용 여부 -->
									<div class="item form-group">
										<label class="col-form-label col-md-3 col-sm-3 label-align">사용 여부
										</label>
										<div class="col-md-6 col-sm-6 ">
											<input type="radio" class="flat" name="gender" id="genderM" value="M" checked="checked" required /> Y
											<input type="radio" class="flat" name="gender" id="genderF" value="F" /> N
										</div>
									</div>
									<!-- 구매자 구매 금액 조건(6개월) -->
									<div class="item form-group">
										<label class="col-form-label col-md-3 col-sm-3 label-align" for="buyer_price_terms">구매자 구매 금액 조건(6개월)
										</label>
										<div class="col-md-6 col-sm-6 ">
											<!-- 숫자만 입력 가능 -->
											<input type="number" id="buyer_price_terms" name="buyer_price_terms" value="0" required="required" class="form-control" oninput="handleOnInput(this, 15)">
										</div>
									</div>
									<!-- 적립율(%) -->
									<div class="item form-group">
										<label for="save_rate" class="col-form-label col-md-3 col-sm-3 label-align">적립율(%)
										</label>
										<div class="col-md-6 col-sm-6 ">
											<!-- 숫자만 입력 가능 -->
											<input id="save_rate" class="form-control" type="number" value="0.5" required="required" name="save_rate" oninput='handleOnInput(this, 15)'>
										</div>
									</div>
									<!-- 등급 코드 -->
									<div class="item form-group">
										<label class="col-form-label col-md-3 col-sm-3 label-align" for="level_code_npk">등급 코드 
										</label>
										<div class="col-md-6 col-sm-6 ">
											<input type="text" id="level_code_npk" value="levelBuyer01" disabled="disabled" class="form-control" maxlength="15">
										</div>
									</div>
									<div class="ln_solid"></div>
									<div class="item form-group">
										<div class="col-md-6 col-sm-6 offset-md-3">
											<button type="submit" class="btn btn-success">수정</button>
											<button class="btn btn-primary" type="reset">초기화</button>
											<button id="cancelBtn" class="btn btn-primary" type="button">취소</button>
										</div>
									</div>
								</form> <!-- <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left"> -->
           					</div> <!-- </div class="col-sm-12"> -->
           				</div> <!-- </div class="row"> -->
           				
           			</div> <!-- </div class="x_content"> -->
            	</div> <!-- </div class="x_panel"> -->
            
			</div> <!-- </div class="col-md-12 col-sm-12"> -->
		</div> <!-- </div class="row"> -->
	
	</th:block>

	<th:block layout:fragment="customJsScript">
		<script type="text/javascript">
			function handleOnInput(el, maxlength) {
			  if(el.value.length > maxlength)  {
			    el.value 
			      = el.value.substr(0, maxlength);
			  }
			}
			let cancelBtn = document.querySelector('#cancelBtn');
			cancelBtn.addEventListener('click', function(){
				console.log(location.href);
				window.location = 'http://localhost:8088/admin/category/categoryList';
			
			});
		</script>
	</th:block>

</html>