<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminDefault}">

<th:block layout:fragment="customTitle">
    <title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customContents">

	<div class="row">
		<div class="col-sm-12">
        	<div class="x_panel">
            	<div class="x_title">
                	<h2>구매자 등급 카테고리</h2>
                    <div class="clearfix"></div>
            	</div>
            	<div class="x_content">
     				<div class="row">
                    	<div class="col-sm-12">
			            	<div th:include="admin/category/category_search :: searchFragment" style="margin-bottom: 10px"></div>
                    	</div> <!-- </div class="col-sm-12"> -->
                   	</div> <!-- </div class="row"> -->
	            	<div class="row">
                    	<div class="col-sm-12">
							<div class="card-box table-responsive">
				            	<table id="datatable-checkbox" class="table table-striped table-bordered bulk_action" style="width:100%">
				    				<thead>
				                    	<tr>
					                        <th>
												<input type="checkbox" id="check-all" >
											</th>
					                        <th>등급 코드 PK</th>
					                        <th>등급 이름</th>
					                        <th>회원 아이디(등록)</th>
					                        <th>등급 생성일</th>
					                        <th>사용 여부</th>
					                        <th>구매자 구매 금액 조건(6개월)</th>
				                         	<th>적립율(%)</th>
				                        	<th>등급 코드</th>
				                    	</tr>
				                   	</thead>
									<tbody>
				                 		<tr>
				                		    <td>
												<input type="checkbox" id="check-all" >
				             				</td>
				                          	<td>levelBuyer01</td>
				                          	<td>씨앗</td>
				                          	<td>admin01</td>
				                            <td>2021-01-01 00:00:00</td>
				                            <td>Y</td>
				                        	<td>0</td>
				                        	<td>0.5</td>
				                        	<td>levelBuyer01</td>
				                    	</tr>
				                 		<tr>
				                		    <td>
												<input type="checkbox" id="check-all" >
				             				</td>
				                          	<td>levelBuyer02</td>
				                          	<td>새싹</td>
				                          	<td>admin01</td>
				                            <td>2021-01-01 00:00:00</td>
				                            <td>Y</td>
				                        	<td>200000</td>
				                        	<td>1</td>
				                        	<td>levelBuyer02</td>
				                    	</tr>
				                 		<tr>
				                		    <td>
												<input type="checkbox" id="check-all" >
				             				</td>
				                          	<td>levelBuyer03</td>
				                          	<td>잎새</td>
				                          	<td>admin01</td>
				                            <td>2021-01-01 00:00:00</td>
				                            <td>Y</td>
				                        	<td>400000</td>
				                        	<td>1.5</td>
				                        	<td>levelBuyer03</td>
				                    	</tr>
				                 		<tr>
				                		    <td>
												<input type="checkbox" id="check-all" >
				             				</td>
				                          	<td>levelBuyer04</td>
				                          	<td>열매</td>
				                          	<td>admin01</td>
				                            <td>2021-01-01 00:00:00</td>
				                            <td>Y</td>
				                        	<td>700000</td>
				                        	<td>2</td>
				                        	<td>levelBuyer04</td>
				                    	</tr>
									</tbody>
				        		</table>
							</div> <!-- </div class="card-box table-responsive"> -->
           				</div> <!-- </div class="col-sm-12"> -->
           			</div> <!-- </div class="row"> -->
           			<div class="row">
           				<div class="col-sm-12">
	           				<div class="ml-auto">
	           					<a class="btn btn-primary" th:href="@{/admin/category/modifyCategory}" role="button">수정</a>
	           					<a class="btn btn-danger" href="#" role="button">삭제</a>
	           				</div>
           				</div> <!-- </div class="col-sm-12"> -->
           			</div> <!-- </div class="row"> -->
            	</div> <!-- </div class="x_content"> -->
            </div> <!-- </div class="x_panel"> -->
            
		</div> <!-- </div class="col-md-12 col-sm-12"> -->
	</div> <!-- </div class="row"> -->

</th:block>
</html>