<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">

<th:block layout:fragment="customCss">
	<style>
th {
	text-align: center;
}

.table > tbody > tr > td {
	vertical-align: middle;
	text-align: center;
}
</style>
</th:block>

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customContents">
	<div class="col-md-12 col-sm-12 col-xs-12" style="overflow: scroll; width:100%; height:700px;">
		<div class="x_panel">
			<div class="x_title">
				<h2>전체회원 포인트조회 <small>Admin</small></h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-expanded="false"><i
							class="fa fa-wrench"></i></a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="#">Settings 1</a> <a
								class="dropdown-item" href="#">Settings 2</a>
						</div></li>
					<li><a class="close-link"><i class="fa fa-close"></i></a></li>
				</ul>
				<div class="clearfix"></div>
			</div>	
			<div class="x_content2">
				<div class="x_panel">
					<div th:replace="fragments/pointUserListSearch :: pointUserListSearchFragment"></div>
					<table id="datatable-checkbox" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
						<thead>
						<tr>
							<th style="width: 30px;">
								<input type="checkbox" class="form-check-input motherCheck">
							</th>
							<th>회원아이디</th>
							<th>이름</th>
							<th>닉네임</th>
							<th>권한</th>
							<th>등급</th>
							<!-- <th>연락처</th>
                            <th>이메일</th> -->
							<th>가입일</th>
							<th>최근접속일</th>
							<th>상태</th>
							<th style="display: none"><input type="text" name="adminId" th:value="${session.SID}"></th>
							<th style="display: none"><input type="text" id="couponCode" name="couponCode"></th>
						</tr>
						</thead>
						<tbody>
						<tr th:if="${not #lists.isEmpty(userList)}" th:each="l : ${userList}">
							<td><input type="checkbox" class="childCheck"></td>
							<td th:text="${l.userId}"></td>
							<td th:text="${l.userName}"></td>
							<td th:text="${l.userNickname}"></td>
							<td th:text="${l.rightList.rightStatus}"></td>
							<td th:text="${l.userLevelName}"></td>
							<!-- <td th:text="${l.userPhone}"></td>
							<td th:text="${l.userEmail}"></td> -->
							<td th:text="${l.userRegDate}"></td>
							<td th:text="${l.userUpdateDate}"></td>
							<td th:text="${l.userStatus}" th:value="${l.userStatus}" id="userStatus"></td>
						</tr>
						<tr th:unless="${not #lists.isEmpty(userList)}">
							<td colspan="14" style="text-align: center;">등록된 회원이 없습니다.</td>
						</tr>
						</tbody>
					</table>
				</div>		
			</div>
		</div>
	</div>

	<div class="pwCheckModal modal fade" id="pwCheckModal" tabindex="-1" role="dialog" aria-labelledby="pwCheckModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="pwCheckModalTitle" style="font-weight: bold; text-align: center;">관리자확인</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="adminPw" class="col-form-label">비밀번호를 입력해주세요.</label>
						<input type="password" class="pwInput form-control" id="adminPw" name="adminPw">
					</div>
				</div>
				<div class="modal-footer" style="text-align: center;">
					<button type="button" class="btn btn-dark" id="adminCheckBtn">확인</button>
					<button type="button" class="btn btn-secondary" id='closeBtn' data-dismiss="modal">닫기</button>
				</div>
			</div>
		</div>
	</div>

</th:block>

<th:block layout:fragment="customJsScript">
	<script type="text/javascript">
		$(function (){
			let motherCheck = $('.motherCheck');
			let childCheck = $('.childCheck');
			let pointSend = $('.pointSend');

			motherCheck.off().on('click', function(){
				$('.childCheck').prop('checked', $(this).prop('checked'));
			})

			pointSend.off().on('click', function(){
				let pointAmount = $('#pointAmount').val();
				console.log(pointAmount);
				if(typeof pointAmount != 'undefined' && pointAmount != null && pointAmount !=''){
					if(confirm(pointAmount + ' 포인트를 지급하시겠습니까?')){
						$('#pwCheckModal').modal('show');

						$('#adminCheckBtn').off().on('click', function () {
							var adminPw = $('input[name="adminPw"]').val();

							var request = $.ajax({
								url: "/admin/goods/pwCheck",
								method: 'POST',
								data: { userPw : adminPw },
								dataType: "json"
							});

							request.done(function( data ) {
								if (data) {
									$('#pwCheckModal').modal('hide');
									alert('관리자 확인');
								}else {
									if(typeof adminPw == 'undefined' || adminPw == null || adminPw == '') {
										alert('비밀번호를 입력해주세요.');
										$('#adminPw').focus();
										return false;
									}else {
										alert('비밀번호가 일치하지 않습니다.');
										$('#adminPw').focus();
										return false;
									}
								}
							})
							request.fail(function( jqXHR, textStatus ) {
								alert( "Request failed: " + textStatus );
							});
						});
					}
				}else{
					alert('지급할 포인트를 입력해주세요.');
				}
			})

			$('#pwCheckModal').on('hidden.bs.modal', function(e) {
				$('#adminPw').val(null);
			});

			$("#adminPw").keyup(function(e){
				if(e.keyCode == 13) {
					$('#adminCheckBtn').click();
				}
			});
		})
	</script>
</th:block>

</html>