<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminDefault}">

<th:block layout:fragment="customTitle">
    <title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customContents">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Form Design <small>different form elements</small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br/>
                    <form id="demo-form2" th:action="@{/admin/address/modify}" method="post" data-parsley-validate class="form-horizontal form-label-left">
                    <th:block th:object="${addressList}">
                        <input type="hidden" id="addressList" name="addressList" th:value="*{addressList}">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="addressName">
                                배송지명 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="addressName" name="addressName" required="required"
                                       class="form-control col-md-7 col-xs-12" th:value="*{addressName}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="receiverName">
                                수령인 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="receiverName" name="receiverName" required="required"
                                       class="form-control col-md-7 col-xs-12" th:value="*{receiverName}">
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="postalCode">
                                우편번호 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="postalCode" name="postalCode" required="required"
                                       class="form-control col-md-7 col-xs-12" th:value="*{postalCode}" readonly>
                                <span class="input-group-btn">
                                    <button id="addressSearchBtn" type="button" class="btn btn-dark">주소 검색</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address">
                                주소 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="address" name="address" required="required"
                                       class="form-control col-md-7 col-xs-12" th:value="*{address}" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address2">
                                상세주소 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="address2" name="address2" required="required"
                                       class="form-control col-md-7 col-xs-12" th:value="*{address2}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">
                                연락처 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="phone" name="phone" required="required"
                                       class="form-control col-md-7 col-xs-12" th:value="*{phone}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone2" class="control-label col-md-3 col-sm-3 col-xs-12">
                                연락처 2
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="phone2" class="form-control col-md-7 col-xs-12" type="text" name="phone2"
                                       th:value="*{phone2} != null ? *{phone2} : ''">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                                기본배송지 설정
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div class="checkbox">
                                    <label class="" style="padding: 0px;">
                                        <div class="icheckbox_flat-green checked" style="position: relative;">
                                            <input type="checkbox" id="defaultAddressCheck" name="defaultAddressCheck" class="flat" checked="checked"
                                                value="Y" style="position: absolute; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button class="btn btn-default" type="button" onclick="location.href='/user/address/list';">Cancel</button>
                                <button class="btn btn-default" type="reset">Reset</button>
                                <button type="submit" class="btn btn-dark">Submit</button>
                            </div>
                        </div>
                    </th:block>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="customJsScript">

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        document.querySelector('#addressSearchBtn').addEventListener('click', function() {
            new daum.Postcode({
                oncomplete: function(data) {
                    document.querySelector('#postalCode').value = data.zonecode;
                    document.querySelector('#address').value = data.address;
                }
            }).open();
        });
    </script>

</th:block>
</html>