<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminDefault}">

<th:block layout:fragment="customTitle">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/build/css/page.css}">
</th:block>

<th:block layout:fragment="customContents">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>주문관리</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_panel">
                <a href="javascript:getOrderList('결제|배송|구매')">전체</a>
                <a href="javascript:getOrderList('결제완료')">결제완료</a>
                <a href="javascript:getOrderList('배송준비중')">배송준비중</a>
                <a href="javascript:getOrderList('배송중')">배송중</a>
                <a href="javascript:getOrderList('배송완료')">배송완료</a>
                <a href="javascript:getOrderList('구매확정')">구매확정</a>
            </div>

            <div class="input-group col-md-4">
                <div class="col-md-4">
                    <select id="orderSearchSelect" class="custom-select form-control">
                        <option value="order_detail_code">주문번호</option>
                        <option value="goods_code">상품코드</option>
                        <option value="tg.goods_name">상품명</option>
                        <option value="t.buyer_id">구매자</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <input id="orderSearchText" type="text" class="form-control"/>
                </div>
                <div class="input-group-append col-md-2">
                    <button id="orderSearchBtn" class="btn btn-secondary" type="button" onclick="orderSearch();">검색
                    </button>
                </div>
            </div>

            <div class="x_content">
                <div class="table-responsive">
                    <table id="orderTable" class="table table-striped jambo_table">
                        <thead>
                        <tr class="headings">
                            <th class="column-title">주문번호</th>
                            <th class="column-title">상품명</th>
                            <th class="column-title">수량</th>
                            <th class="column-title">구매자</th>
                            <th class="column-title">주문현황</th>
                            <th class="column-title">버튼</th>
                        </tr>
                        </thead>
                        <tbody id="tableBody">
                        </tbody>
                    </table>
                    <ul id="page" class="">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="postModal" class="modal fade bs-example-modal-sm in" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span onclick="closeModal()">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">배송지 등록</h4>
                </div>
                <form id="postForm" th:action="@{/admin/order/post}" method="post">
                    <input type="hidden" id="orderDetailCode" name="orderDetailCode" value="">
                    <input type="hidden" id="postAddressList" name="postList" value="">
                    <div class="modal-body form-horizontal form-label-left">
                        <div class="form-group">
                            <label for="postSelect" class="control-label">배송업체</label>
                            <div class="">
                                <select id="postSelect" name="postCompanyName" class="form-control">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="invoiceNumber" class="control-label">운송장번호</label>
                            <div class="">
                                <input type="text" id="invoiceNumber" name="invoiceNumber" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" onclick="closeModal()">취소</button>
                        <button type="submit" class="btn btn-primary">등록</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div id="postModifyModal" class="modal fade bs-example-modal-sm in" tabindex="-1" role="dialog"
         style="display: none;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span onclick="closeModal2()">×</span>
                    </button>
                    <h4 class="modal-title">배송지 등록</h4>
                </div>
                <form id="postModifyForm" th:action="@{/admin/order/post/modify}" method="post">
                    <input type="hidden" id="postInfo" name="postInfo" value="">
                    <div class="modal-body form-horizontal form-label-left">
                        <div class="form-group">
                            <label for="postSelect" class="control-label">배송업체</label>
                            <div class="">
                                <select id="postSelectModify" name="postCompanyName" class="form-control">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="invoiceNumberModify" class="control-label">운송장번호</label>
                            <div class="">
                                <input type="text" id="invoiceNumberModify" name="invoiceNumber" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" onclick="closeModal2()">취소</button>
                        <button type="submit" class="btn btn-primary">수정</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="customJsScript">
    <th:block th:replace="fragments/adminJs :: datatablesFragment"></th:block>
    <script>
        window.addEventListener('load', () => getOrderList('결제|배송|구매'));

        /* 페이징 ajax 호출 */
        function getOrderList(status, select, text) {
            let dataPerPage = 10;
            let pageCount = 10;
            let globalCurrentPage = 1;
            let totalData;

            fetch('/admin/order/listoff', {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({status, select, text})
            })
                .then((response) => response.json())
                .then((data) => {
                    /* paging 함수 선언 시작 */
                    function paging(totalData, dataPerPage, pageCount, currentPage) {
                        let totalPage = Math.ceil(totalData / dataPerPage);

                        if (totalPage < pageCount) pageCount = totalPage;

                        let pageGroup = Math.ceil(currentPage / pageCount);
                        let last = pageGroup * pageCount;

                        if (last > totalPage) last = totalPage;

                        let first = last - (pageCount - 1);
                        let next = last + 1;
                        let prev = first - 1;

                        let pageHtml = "";
                        if (prev > 0) pageHtml += "<li><a href='#' id='prev'> 이전 </a></li>";

                        for (let i = first; i <= last; i++) {
                            if (currentPage === i) {
                                pageHtml +=
                                    "<li class='on'><a href='#' id='" + i + "'>" + i + "</a></li>";
                            } else {
                                pageHtml += "<li><a href='#' id='" + i + "'>" + i + "</a></li>";
                            }
                        }

                        if (last < totalPage) pageHtml += "<li><a href='#' id='next'> 다음 </a></li>";

                        document.querySelector('#page').innerHTML = pageHtml;

                        document.querySelectorAll('#page li a').forEach(function (e) {
                            e.onclick = function () {
                                let id = this.getAttribute('id');
                                let selectedPage = this.textContent;

                                if (id === 'next') selectedPage = next;
                                if (id === 'prev') selectedPage = prev;

                                globalCurrentPage = selectedPage;

                                paging(totalData, dataPerPage, pageCount, selectedPage, data);
                                displayData(selectedPage, dataPerPage, data);
                            }
                        });
                    }

                    /* displayData 함수 선언 시작 */
                    function displayData(currentPage, dataPerPage) {
                        let trHtml = "";
                        currentPage = Number(currentPage);
                        dataPerPage = Number(dataPerPage);
                        for (
                            let i = (currentPage - 1) * dataPerPage;
                            i < (currentPage - 1) * dataPerPage + dataPerPage && i < totalData;
                            i++
                        ) {
                            trHtml +=
                                '<tr class="pointer"><td><a class="orderDetailCode" href="javascript:void(0)">' +
                                data[i].orderDetailCode +
                                '</a></td><td><a href="javascript:void(0)">' +
                                data[i].goods.goodsName +
                                '</a></td><td>' +
                                data[i].orderAmount +
                                '</td><td>' +
                                data[i].order.buyerId +
                                '</td><td>' +
                                data[i].orderStatus +
                                '</td><td>';
                            if (data[i].orderStatus === '결제완료') {
                                trHtml += '<button type="button" class="btn-xs btn-dark" onclick="orderCheck(this);">주문확인</button>';
                            } else if (data[i].orderStatus === '배송준비중') {
                                trHtml += `<button type="button" class="btn-xs btn-dark postBtn" data-address-list="${data[i].order.postAddressList}">배송처리</button>`;
                            } else if (data[i].orderStatus === '배송중') {
                                trHtml += `<button type="button" class="btn-xs btn-dark postModifyBtn" data-post-info="${data[i].postInfo}">배송수정</button>`;
                            } else {
                                trHtml += '-';
                            }

                            trHtml += '</td></tr>';
                        }
                        document.querySelector('#tableBody').innerHTML = trHtml;
                    }

                    totalData = data.length;
                    paging(totalData, dataPerPage, pageCount, 1);
                    displayData(1, dataPerPage);
                });
        }

        function orderSearch() {
            let selected = document.querySelector('#orderSearchSelect');
            let text = document.querySelector('#orderSearchText');
            getOrderList('결제|배송|구매', selected.value, text.value);
        }

        function orderCheck(btn) {
            let orderDetailCode = btn.closest('tr').querySelector('.orderDetailCode').textContent
            fetch('/admin/order/check/' + orderDetailCode)
                .finally(() => {
                    return getOrderList('결제완료');
                });
        }

        /* 배송 수정 택배사 목록 받아오기 */
        let postCompanyHtml = '';

        fetch('https://apis.tracker.delivery/carriers')
            .then((response) => response.json())
            .then((data) => {
                for (let obj of data) {
                    postCompanyHtml += `<option value="${obj.name}">${obj.name}</option>`
                }
                document.querySelector('#postSelect').innerHTML = postCompanyHtml;
                document.querySelector('#postSelectModify').innerHTML = postCompanyHtml;
            });

        document.querySelector('#orderTable').addEventListener('click', function (e) {
            if (e.target.classList.contains('postBtn')) {
                document.querySelector('#orderDetailCode').value
                    = e.target.closest('tr').querySelector('.orderDetailCode').textContent;
                document.querySelector('#postAddressList').value
                    = e.target.dataset.addressList;
                document.querySelector('#postModal').style.display = 'block';
            }

            if (e.target.classList.contains('postModifyBtn')) {
                let postInfo = e.target.dataset.postInfo;
                fetch('/admin/order/postinfo/' + postInfo)
                    .then((response) => {
                        return response.json();
                    })
                    .then((data) => {
                        document.querySelectorAll('#postSelectModify option').forEach(function (opt) {
                            if (data.postCompanyName === opt.value) {
                                opt.selected = true;
                            }
                        });
                        document.querySelector('#postInfo').value = e.target.dataset.postInfo;
                        document.querySelector('#invoiceNumberModify').value = data.invoiceNumber;
                        document.querySelector('#postModifyModal').style.display = 'block';
                    })

            }
        });

        function closeModal() {
            document.querySelector('#postModal').style.display = 'none';
            document.querySelector('#postForm').reset();
        }

        function closeModal2() {
            document.querySelector('#postModifyModal').style.display = 'none';
            document.querySelector('#postModifyForm').reset();
        }

        function orderSearch() {
            let selected = document.querySelector('#orderSearchSelect');
            let text = document.querySelector('#orderSearchText');
            getOrderList('결제|배송|구매', selected.value, text.value);
        }

    </script>
</th:block>
</html>