<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminDefault}">

	<th:block layout:fragment="customTitle">
	    <title th:text="${title}"></title>
	</th:block>

	<th:block layout:fragment="customContents">
	
		<div class="row" style="display: block;">
			<div class="col-sm-12">
	        	<div class="x_panel">
	            	<div class="x_title">
	                	<h2 style="font-size: 17px;">고객 문의 목록</h2>
	                    <div class="clearfix"></div>
	            	</div>
	            	<div class="x_content">
	            		<!-- 검색 조각 -->
		            	<div th:include="admin/customerAsk/customerAsk_search :: customerAskSearchFragment" style="margin-bottom: 10px;"></div>
		            	<div class="clearfix"></div>
		            	<!-- 테이블 -->
						<div class="card-box table-responsive">
			            	<table id="datatable-checkbox" class="table table-hover table-bordered bulk_action" style="width:100%">
			    				<thead>
			                    	<tr>
	                				    <th>
											<input type="checkbox" id="checkAllBtn" >
										</th>
				                        <th>문의 PK</th>
				                        <th>문의 카테고리</th>
				                        <th>회원 아이디 FK(문의자)</th>
				                        <th>제목</th>
				                        <th>첨부 파일</th>
			                         	<th>등록일</th>
			                         	<th>답변 여부</th>
			                    	</tr>
			                   	</thead>
								<tbody>
			                 		<tr style="cursor:pointer;">
			                 			<td>
											<input type="checkbox" class="checkAll" name="checkAll1">
			             				</td>
			                          	<td class="moveToDetail">customerAsk001</td>
			                          	<td class="moveToDetail">결제 관련 문의</td>
			                          	<td class="moveToDetail">buyer01</td>
			                          	<td class="moveToDetail">제목01</td>
			                            <td class="moveToDetail">첨부파일01</td>
			                        	<td class="moveToDetail">2022-05-22 00:00:00</td>
			                        	<td class="moveToDetail">Y</td>
			                    	</tr>
			                 		<tr style="cursor:pointer;">
			                 			<td>
											<input type="checkbox" class="checkAll" name="checkAll1">
			             				</td>
			                          	<td class="moveToDetail">customerAsk002</td>
			                          	<td class="moveToDetail">정기 배송 문의</td>
			                          	<td class="moveToDetail">buyer01</td>
			                          	<td class="moveToDetail">제목02</td>
			                            <td class="moveToDetail">첨부파일02</td>
			                        	<td class="moveToDetail">2022-05-15 00:00:00</td>
			                        	<td class="moveToDetail">N</td>
			                    	</tr>
			                 		<tr style="cursor:pointer;">
			                 			<td>
											<input type="checkbox" class="checkAll" name="checkAll1">
			             				</td>
			                          	<td class="moveToDetail">customerAsk003</td>
			                          	<td class="moveToDetail">배송 관련 문의</td>
			                          	<td class="moveToDetail">buyer01</td>
			                          	<td class="moveToDetail">제목03</td>
			                            <td class="moveToDetail">첨부파일03</td>
			                        	<td class="moveToDetail">2022-05-20 00:00:00</td>
			                        	<td class="moveToDetail">N</td>
			                    	</tr>
			                 		<tr style="cursor:pointer;">
			                 			<td>
											<input type="checkbox" class="checkAll" name="checkAll1">
			             				</td>
			                          	<td class="moveToDetail">customerAsk004</td>
			                          	<td class="moveToDetail">홈페이지 오류 신고</td>
			                          	<td class="moveToDetail">seller01</td>
			                          	<td class="moveToDetail">제목04</td>
			                            <td class="moveToDetail">첨부파일04</td>
			                        	<td class="moveToDetail">2022-06-01 00:00:00</td>
			                        	<td class="moveToDetail">N</td>
			                    	</tr>
			                 		<tr style="cursor:pointer;">
			                 			<td>
											<input type="checkbox" class="checkAll" name="checkAll1">
			             				</td>
			                          	<td class="moveToDetail">customerAsk005</td>
			                          	<td class="moveToDetail">판매 문의</td>
			                          	<td class="moveToDetail">seller01</td>
			                          	<td class="moveToDetail">제목05</td>
			                            <td class="moveToDetail">첨부파일05</td>
			                        	<td class="moveToDetail">2022-06-03 00:00:00</td>
			                        	<td class="moveToDetail">N</td>
			                    	</tr>
			                    	
								</tbody>
			        		</table>
						</div> <!-- </div class="card-box table-responsive"> -->
						
						<!-- 등록, 삭제 버튼 -->
	           			<div class="row">
	           				<div class="col-sm-12">
		           				<div class="ml-auto">
		           					<a class="btn btn-success" th:href="@{/admin/regularAsk/addRegularAsk}" role="button">등록</a>
		           					<button type="button" class="btn btn-danger deleteModal" data-toggle="modal" data-target=".bs-example-modal-lg">삭제</button>
		           				</div>
	           				</div> <!-- </div class="col-sm-12"> -->
	           			</div> <!-- </div class="row"> -->
						
						<div class="clearfix"></div>
	           			
	            	</div> <!-- </div class="x_content"> -->
	            </div> <!-- </div class="x_panel"> -->
	            
			</div> <!-- </div class="col-md-12 col-sm-12"> -->
		</div> <!-- </div class="row"> -->
		
		<!-- 삭제 모달 -->
	    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
	    	<div class="modal-dialog modal-lg">
	        	<div class="modal-content" style="text-align: center;">
		        	<div class="modal-header">
		        		<div class="row">
		        			<div class="col-md-12 col-sm-12" style="padding-top: 35px;">
					        	<h4 class="modal-title" id="myModalLabel">고객 문의 삭제</h4>
					            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
					            </button>
		        			</div>
		        		</div>
		          	</div>
	        		<form class="eventRemove" action="removeCustomerAsk"  method="POST">
	        	    	<div class="modal-body">
		            		<h4>비밀번호 확인</h4>
		            	    <input type="text" id="pwInput" placeholder="비밀번호를 입력하시길 바랍니다." style="height: 30px; width: 250px;">
		            	</div>
			            <div class="modal-footer">
				            <button type="button" class="btn btn-primary" data-dismiss="modal">취소</button>
				            <button type="button" id="deleteBtn1" class="btn btn-danger" onclick="passCheck(this)">삭제</button>
			            </div>
		           	</form>
	        	</div>
	      	</div>
	    </div>
	    
	    <!-- 모달 기능 -->
	 
		
	</th:block>

	<th:block layout:fragment="customJsScript">
		<script type="text/javascript">
		
			// 고객 문의 PK값 구해서 구매자 고객 문의 내역 화면으로 매핑하는 함수
			$(function(){
				
				// moveToDetail 클래스를 가지고 있는 모든 <td> 탐색
				var $moveToDetail = $('.moveToDetail');
				
				// moveToDetail 클래스를 가지고 있는 모든 <td>에 이벤트 등록
				$moveToDetail.each(function(i){
					$(this).click(function(){
						 var $allTd = $(this).parent().children();
						console.log($allTd[1].innerText); // String type
						var $customerAskPK = $allTd[1].innerText
						
	  					location.href = "/admin/customerAsk/customerAskDetail/" + $customerAskPK;
					});
				});
				
			});
		</script>
	</th:block>
</html>