<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminDefault}">

	<th:block layout:fragment="customTitle">
	    <title th:text="${title}"></title>
	</th:block>

	<th:block layout:fragment="customCss">
		<style>
			.d-none{
				display: none;
			}
		</style>
	</th:block>
	
	<th:block layout:fragment="customContents">
		<!-- 고객 문의 내역 -->
		<div class="row">
			<div class="col-sm-12">
        		<div class="x_panel">
            		<div class="x_title">
                		<h2 style="font-size: 17px;">고객 문의 내역</h2>
                    	<div class="clearfix"></div>
            		</div>
            		<div class="x_content">
     					<br/>
						<form class="form-horizontal form-label-left" th:action="@{/admin/customerAsk/modifyCustomerAsk}" method="post">
							<!-- 자주 묻는 질문 PK -->
							<div class="form-group row ">
								<label class="col-form-label col-md-3 col-sm-3 label-align" for="customerAskPK">문의 PK
								</label>
								<div class="col-md-6 col-sm-6 ">
									<input type="text" id="customerAskPK" value="customerAsk001" disabled="disabled" required="required" class="form-control" maxlength="15">
								</div>
							</div>
							<!-- 자주 묻는 질문 카테고리 FK -->
							<div class="form-group row">
								<label class="col-form-label col-md-3 col-sm-3 label-align" for="customerAskCategory">문의 카테고리
								</label>
								<div class="col-md-6 col-sm-6 ">
									<!-- 수정할 요소 지정 .disabledToAbled -->
									<select class="select2_single form-control disabledToAbled"  id="customerAskCategory" disabled="disabled" required="required" tabindex="-1">
										<option></option>
										<option value="customerAskCategory01" selected="selected">결제 관련 문의</option>
										<option value="customerAskCategory02">정기 배송 문의</option>
										<option value="customerAskCategory03">배송 관련 문의</option>
										<option value="customerAskCategory04">홈페이지 오류 신고</option>
										<option value="customerAskCategory05">판매 문의</option>
									</select>
								</div>
							</div>
							<!-- 회원 아이디 FK(작성자) -->
							<div class="form-group row ">
								<label class="col-form-label col-md-3 col-sm-3 label-align" for="customerId">회원 아이디(문의자)
								</label>
								<div class="col-md-6 col-sm-6 ">
									<input type="text" id="customerId" value="buyer01" disabled="disabled" required="required" class="form-control" maxlength="15">
								</div>
							</div>
							<!-- 제목 -->
							<div class="form-group row ">
								<label class="col-form-label col-md-3 col-sm-3 label-align" for="customerAskTitle">제목
								</label>
								<div class="col-md-6 col-sm-6 ">
									<!-- 수정할 요소 지정 .disabledToAbled -->
									<input type="text" id="customerAskTitle" value="제목01" disabled="disabled" required="required" class="form-control disabledToAbled" maxlength="15">
								</div>
							</div>
							<!-- 내용 -->
							<div class="form-group row">
								<label class="col-form-label col-md-3 col-sm-3" for="customerAskContent">내용
								</label>
								<div class="col-md-6 col-sm-6" >
									<!-- 수정할 요소 지정 .disabledToAbled -->
									<textarea id="customerAskContent" class="form-control disabledToAbled" rows="3" required="required" disabled="disabled" placeholder="내용01" style="resize: none; overflow-y: scroll; height: 300px;">내용1
									</textarea>
								</div>
							</div>
							<!-- 첨부 파일 -->
							<div class="form-group row ">
								<label class="col-form-label col-md-3 col-sm-3 label-align" for="customerAskFile">첨부 파일
								</label>
								<div class="col-md-6 col-sm-6 ">
									<!-- 수정할 요소 지정 .disabledToAbled -->
									<input type="text" id="customerAskFile" value="첨부파일 01" disabled="disabled" required="required" class="form-control disabledToAbled" maxlength="15">
								</div>
							</div>
							<!-- 등록일 -->
							<div class="item form-group">
								<label class="col-form-label col-md-3 col-sm-3 label-align" for="regDate">등록일
								</label>
								<div class="col-md-6 col-sm-6 ">
									<input type="datetime" id="regDate" disabled="disabled" value="2022-05-22 00:00:00" required="required" class="form-control" maxlength="15">
								</div>
							</div>
							<!-- 수정일 -->
							<div class="item form-group">
								<label class="col-form-label col-md-3 col-sm-3 label-align" for="updateDate">수정일
								</label>
								<div class="col-md-6 col-sm-6 ">
									<input type="datetime" id="updateDate" disabled="disabled" value="2022-05-23 00:00:00" required="required" class="form-control" maxlength="15">
								</div>
							</div>
							<div class="ln_solid"></div>
							<div class="item form-group">
								<div class="col-md-6 col-sm-6 offset-md-3">
									<button type="button" class="btn btn-primary modifyBtn">수정</button>
									<button type="button" id="addAnswer" class="btn btn-success">답변 등록</button>
									<button class="btn btn-info" id="resetBtn" type="reset">초기화</button>
									<button class="btn btn-warning returnToListBtn" type="button">목록</button>
									<button type="button" class="btn btn-danger" data-toggle="modal" data-target=".removeCustomerAskModal">삭제</button>
								</div>
							</div>
						</form> <!-- <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left"> -->
           				
           			</div> <!-- </div class="x_content"> -->
            	</div> <!-- </div class="x_panel"> -->
            
			</div> <!-- </div class="col-md-12 col-sm-12"> -->
		</div> <!-- </div class="row"> -->
		
		<!-- 문의 답변 등록 폼 -->
		<div class="row d-none" id="addAskAnswerForm">
			<div class="col-sm-12">
        		<div class="x_panel">
            		<div class="x_title">
                		<h2 style="font-size: 17px;">문의 답변 등록</h2>
                    	<div class="clearfix"></div>
            		</div>
            		<div class="x_content">
     					<br/>
						<form class="form-horizontal form-label-left" th:action="@{/admin/customerAsk/addAskAnswer}" method="post">
							<!-- 문의 FK -->
							<div class="form-group row ">
								<label class="col-form-label col-md-3 col-sm-3 label-align" for="customerAsk">문의 FK
								</label>
								<div class="col-md-6 col-sm-6 ">
									<input type="text" id="customerAsk" value="customerAsk001" disabled="disabled" required="required" class="form-control" maxlength="15">
								</div>
							</div>
							<!-- 답변 내용 -->
							<div class="form-group row">
								<label class="col-form-label col-md-3 col-sm-3" for="askAnswerContent">답변 내용
								</label>
								<div class="col-md-6 col-sm-6" >
									<textarea id="addAskAnswerContent" class="form-control" rows="3" required="required" style="resize: none; overflow-y: scroll; height: 300px;">
									</textarea>
								</div>
							</div>
							<div class="ln_solid"></div>
							<div class="item form-group">
								<div class="col-md-6 col-sm-6 offset-md-3">
									<button type="button" id="addAskAnswerBtn" class="btn btn-primary">등록</button>
									<button class="btn btn-info" id="resetBtn" type="reset">초기화</button>
									<button class="btn btn-warning cancleBtn" type="button">취소</button>
								</div>
							</div>
						</form> <!-- <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left"> -->
           				
           			</div> <!-- </div class="x_content"> -->
            	</div> <!-- </div class="x_panel"> -->
            
			</div> <!-- </div class="col-md-12 col-sm-12"> -->
		</div> <!-- </div class="row"> -->
		
		<!-- 문의 답변 내역 -->
		<div class="row d-none" id="askAnswerDetail">
			<div class="col-sm-12">
        		<div class="x_panel">
            		<div class="x_title">
                		<h2 style="font-size: 17px;">문의 답변 내역</h2>
                    	<div class="clearfix"></div>
            		</div>
            		<div class="x_content">
     					<br/>
						<form class="form-horizontal form-label-left" th:action="@{/admin/customerAsk/modifyAskAnswer}" method="post">
							<!-- 문의 답변 PK -->
							<div class="form-group row ">
								<label class="col-form-label col-md-3 col-sm-3 label-align" for="askAnswerPK">답변 PK
								</label>
								<div class="col-md-6 col-sm-6 ">
									<input type="text" id="askAnswerPK" value="askAnswer001" disabled="disabled" required="required" class="form-control" maxlength="15">
								</div>
							</div>
							<!-- 회원 아이디 FK(작성자) -->
							<div class="form-group row ">
								<label class="col-form-label col-md-3 col-sm-3 label-align" for="userId">회원 아이디(작성자)
								</label>
								<div class="col-md-6 col-sm-6 ">
									<input type="text" id="userId" value="admin01" disabled="disabled" required="required" class="form-control" maxlength="15">
								</div>
							</div>
							<!-- 문의 FK -->
							<div class="form-group row ">
								<label class="col-form-label col-md-3 col-sm-3 label-align" for="customerAsk">문의 FK
								</label>
								<div class="col-md-6 col-sm-6 ">
									<input type="text" id="customerAsk" value="customerAsk001" disabled="disabled" required="required" class="form-control" maxlength="15">
								</div>
							</div>
							<!-- 답변 내용 -->
							<div class="form-group row">
								<label class="col-form-label col-md-3 col-sm-3" for="askAnswerContent">답변 내용
								</label>
								<div class="col-md-6 col-sm-6" >
									<textarea id="askAnswerContent" class="form-control disabledToAbled" rows="3" required="required" disabled="disabled" placeholder="답변 내용 01" style="resize: none; overflow-y: scroll; height: 300px;">답변 내용 01
									</textarea>
								</div>
							</div>
							<!-- 답변일 -->
							<div class="item form-group">
								<label class="col-form-label col-md-3 col-sm-3 label-align" for="askAnswerDate">답변일
								</label>
								<div class="col-md-6 col-sm-6 ">
									<input type="datetime" id="askAnswerDate" disabled="disabled" value="2022-05-22 00:00:00" required="required" class="form-control" maxlength="15">
								</div>
							</div>
							<div class="ln_solid"></div>
							<div class="item form-group">
								<div class="col-md-6 col-sm-6 offset-md-3">
									<button type="button" class="btn btn-primary modifyBtn">수정</button>
									<button class="btn btn-info" id="resetBtn" type="reset">초기화</button>
<!-- 									<button class="btn btn-warning returnToListBtn" type="button">목록</button> -->
		           					<button type="button" class="btn btn-danger deleteModal" data-toggle="modal" data-target=".bs-example-modal-lg">삭제</button>
								</div>
							</div>
						</form> <!-- <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left"> -->
           				
           			</div> <!-- </div class="x_content"> -->
            	</div> <!-- </div class="x_panel"> -->
            
			</div> <!-- </div class="col-md-12 col-sm-12"> -->
		</div> <!-- </div class="row"> -->
	
		<!-- 문의 답변 삭제 모달 -->
	    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
	    	<div class="modal-dialog modal-lg">
	        	<div class="modal-content" style="text-align: center;">
    				<div class="modal-header">
		        		<div class="row">
		        			<div class="col-md-12 col-sm-12" style="padding-top: 35px;">
					        	<h4 class="modal-title" id="myModalLabel">문의 답변 삭제</h4>
					            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
					            </button>
		        			</div>
		        		</div>
		          	</div>
	        		<form class="eventRemove" action="removeAskAnswer"  method="POST">
	        	    	<div class="modal-body">
		            		<h4>비밀번호 확인</h4>
		            	    <input type="text" id="pwInput" placeholder="비밀번호를 입력하시길 바랍니다." style="height: 30px; width: 250px;">
		            	</div>
			            <div class="modal-footer">
				            <button type="button" class="btn btn-primary" data-dismiss="modal">취소</button>
				            <button type="button" id="deleteBtn" class="btn btn-danger" onclick="passCheck(this)">삭제</button>
			            </div>
		           	</form>
	        	</div>
	      	</div>
	    </div>
	    <!-- 모달 기능 -->	
	    
   		<!-- 고객 문의 삭제 모달 -->
	    <div class="modal fade removeCustomerAskModal" tabindex="-1" role="dialog" aria-hidden="true">
	    	<div class="modal-dialog modal-lg">
	        	<div class="modal-content" style="text-align: center;">
    				<div class="modal-header">
		        		<div class="row">
		        			<div class="col-md-12 col-sm-12" style="padding-top: 35px;">
					        	<h4 class="modal-title" id="myModalLabel">고객 문의 삭제</h4>
					            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
					            </button>
		        			</div>
		        		</div>
		          	</div>
	        		<form class="eventRemove" action="/admin/customerAsk/removeCustomerAsk"  method="POST">
	        	    	<div class="modal-body">
		            		<h4>비밀번호 확인</h4>
		            	    <input type="text" id="pwInput2" placeholder="비밀번호를 입력하시길 바랍니다." style="height: 30px; width: 250px;">
		            	</div>
			            <div class="modal-footer">
				            <button type="button" class="btn btn-primary" data-dismiss="modal">취소</button>
				            <button type="button" id="deleteBtn2" class="btn btn-danger" onclick="passCheck2(this)">삭제</button>
			            </div>
		           	</form>
	        	</div>
	      	</div>
	    </div>
	    <!-- 모달 기능 -->	
	    
	</th:block>

	<th:block layout:fragment="customJsScript">
		<script type="text/javascript">
			// 수정 버튼 탐색
			let modifyBtn = document.querySelector('#modifyBtn');
			// 수정할 요소 탐색 (자주 묻는 질문 카테고리 FK, 제목, 내용, 사용 여부 ) - 총 5개 요소
 			let updateContent = document.querySelectorAll('#customerAskCategory, #customerAskTitle, #customerAskContent, #customerAskFile');
			// 취소 버튼 탐색
			let cancelBtn = document.querySelector('#cancelBtn');
			// 삭제 버튼 탐색 
			let deleteBtn = document.getElementById('deleteBtn'); 
			
			// 관리자 비밀번호
			let userPw = 'pw001';
			
			/* 유효성 검사 */
			function passCheck(i){
				 
				var pwInput = document.getElementById("pwInput");
				
				if(pwInput.value == ""){
					alert("비밀번호를 입력하세요.")
					pwInput.focus();
					
				}else if(pwInput.value != userPw){
						alert("비밀번호를 확인하시길 바랍니다.")
						pwInput.focus();
						
				}else if(pwInput.value == userPw){
					console.log(i.type);
					i.type = 'submit';
				}
				
			}
			
			/* 유효성 검사 */
			function passCheck2(i){
				 
				var pwInput = document.getElementById("pwInput2");
				
				if(pwInput.value == ""){
					alert("비밀번호를 입력하세요.")
					pwInput.focus();
					
				}else if(pwInput.value != userPw){
						alert("비밀번호를 확인하시길 바랍니다.")
						pwInput.focus();
						
				}else if(pwInput.value == userPw){
					console.log(i.type);
					i.type = 'submit';
				}
				
			}
			
			$(function(){
				let isAnswer = false;
				
				// 수정 버튼 탐색
				let $modifyBtn =  $('.modifyBtn');
				// 목록 버튼 탐색
				let $returnToListBtn =  $('.returnToListBtn');
				// 취소 버튼 탐색
				let $cancleBtn =  $('.cancleBtn');
				// 답변 등록 버튼 탐색
				let $addAnswer =  $('#addAnswer');
				// 등록 버튼 탐색
				let $addAskAnswerBtn =  $('#addAskAnswerBtn');
				// 문의 답변 등록 폼 검색
				let $addAskAnswerForm =  $('#addAskAnswerForm');
				// 문의 답변 내역 탐색
				let $askAnswerDetail =  $('#askAnswerDetail');
				
				// disabled 속성 조작할 요소들 탐색
				let $disabledToAbled =  $('.disabledToAbled');
				
				// 관리자 답변 내역이 있다면
				if(isAnswer){
					$askAnswerDetail.removeClass('d-none');
					$addAnswer.addClass('d-none');
				}else{ // 관리자 답변 내역이 없다면 
					$askAnswerDetail.addClass('d-none');
					$addAnswer.removeClass('d-none');
				}
				
				// 답변 등록 버튼 클릭 이벤트
				$addAnswer.click(function(){
					console.log($addAskAnswerForm);
					// 관리자 답변 내역이 있다면
					if(isAnswer){
						$addAskAnswerForm.addClass('d-none');
					}else{ // 관리자 답변 내역이 없다면 
						$addAskAnswerForm.removeClass('d-none');
					}
				});
				
				// 등록 버튼 클릭 시에 등록 처리
				$addAskAnswerBtn.click(function(){
 					
					// 답변 내용 탐색
					let $addAskAnswerContent =  $('#addAskAnswerContent');
					console.log($addAskAnswerContent);
					
					isAnswer = true; // true -> 답변이 있다.
					console.log(isAnswer);
 					window.location = "/admin/customerAsk/askAnswerList";
					
				});
				
				// 목록 버튼 각각에 클릭시 이벤트 등록
				$returnToListBtn.each(function(i){
					$(this).click(function(){
						window.location = '/admin/customerAsk/customerAskList';
					});
				});
				
				// 취소 버튼 각각에 클릭시 이벤트 등록
				$cancleBtn.each(function(i){
					$(this).click(function(){
						window.location = '/admin/customerAsk/customerAskDetail/' + "customerAsk001";
					});
				});
				
				// 수정 버튼 각각에 클릭시 이벤트 등록
				$modifyBtn.each(function(i){
					$(this).click(function(){
						// disabled 속성 조작할 요소들을 담을 배열 객체 switchDisabledArray 선언
						var switchDisabledArray = $(this).parent().parent().parent().find(".disabledToAbled")
						for(var i=0; i<switchDisabledArray.length; i++){
							// Disabled 되었는지 확인
							var isDisabled = switchDisabledArray[i].disabled;
							if(isDisabled){
								switchDisabledArray[i].disabled = false;
							}
						}
						// 수정할 요소의 disabled 속성의 값이 false가 되고 그리고 수정 버튼을 다시 클릭시 수정 처리가 이루어 진다. 
						// 중첩 이벤트 등록
						$(this).click(function(){
							for(var i=0; i<$(this).length; i++){
								$(this)[i].type = 'submit';
							}
						});
						
					}); // $(this).click(function(){
				}); // $modifyBtn.each(function(i){
			}); // $(function(){
			
		</script>
	</th:block>

</html>