<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminDefault}">

<th:block layout:fragment="customTitle">
    <title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customContents">

	<div class="row" style="display: block;">
		<div class="col-sm-12">
        	<div class="x_panel">
            	<div class="x_title">
                	<h2>자주 묻는 질문 목록</h2>
                    <div class="clearfix"></div>
            	</div>
            	<div class="x_content">
            		<!-- 검색 조각 -->
	            	<div th:include="admin/regularAsk/regularAsk_search :: regularAskSearchFragment" style="margin-bottom: 10px"></div>
	            	<div class="clearfix"></div>
	            	<!-- 테이블 -->
					<div class="card-box table-responsive">
		            	<table id="datatable-checkbox" class="table table-hover table-bordered bulk_action" style="width:100%">
		    				<thead>
		                    	<tr>
                				    <th>
										<input type="checkbox" id="check-all" >
									</th>
			                        <th>자주 묻는 질문 PK</th>
			                        <th>카테고리</th>
			                        <th>회원 아이디 FK(작성자)</th>
			                        <th>제목</th>
			                        <th>사용 여부</th>
		                         	<th>등록일</th>
		                        	<th>수정일</th>
		                    	</tr>
		                   	</thead>
							<tbody>
		                 		<tr style="cursor:pointer;" onClick="location.href='regularAskDetail'">
		                 			<td>
										<input type="checkbox" id="check-all" >
		             				</td>
		                          	<td>regularAsk001</td>
		                          	<td>회원/정보 관리</td>
		                          	<td>admin01</td>
		                          	<td>제목1</td>
		                            <td>Y</td>
		                        	<td>2021-01-01 00:00:00</td>
		                        	<td>2022-05-22 00:00:00</td>
		                    	</tr>
		                 		<tr style="cursor:pointer;" onClick="location.href='regularAskDetail'">
		                 			<td>
										<input type="checkbox" id="check-all" >
		             				</td>
		                          	<td>regularAsk002</td>
		                          	<td>배송</td>
		                          	<td>admin01</td>
		                          	<td>제목2</td>
		                            <td>Y</td>
		                        	<td>2021-01-01 00:00:00</td>
		                        	<td>2022-05-15 00:00:00</td>
		                    	</tr>
		                 		<tr style="cursor:pointer;" onClick="location.href='regularAskDetail'">
		                 			<td>
										<input type="checkbox" id="check-all" >
		             				</td>
		                          	<td>regularAsk003</td>
		                          	<td>반품/교환/환불</td>
		                          	<td>admin01</td>
		                          	<td>제목3</td>
		                            <td>Y</td>
		                        	<td>2021-01-01 00:00:00</td>
		                        	<td>2022-05-20 00:00:00</td>
		                    	</tr>
		                 		<tr style="cursor:pointer;" onClick="location.href='regularAskDetail'">
		                 			<td>
										<input type="checkbox" id="check-all" >
		             				</td>
		                          	<td>regularAsk004</td>
		                          	<td>주문/결제</td>
		                          	<td>admin01</td>
		                          	<td>제목4</td>
		                            <td>Y</td>
		                        	<td>2021-01-01 00:00:00</td>
		                        	<td>2022-06-01 00:00:00</td>
		                    	</tr>
		                 		<tr style="cursor:pointer;" onClick="location.href='regularAskDetail'">
		                 			<td>
										<input type="checkbox" id="check-all" >
		             				</td>
		                          	<td>regularAsk005</td>
		                          	<td>정기 배송</td>
		                          	<td>admin01</td>
		                          	<td>제목5</td>
		                            <td>Y</td>
		                        	<td>2021-01-01 00:00:00</td>
		                        	<td>2022-06-01 00:00:00</td>
		                    	</tr>
		                 		<tr>
		                 			<td>
										<input type="checkbox" id="check-all" >
		             				</td>
		             				<th:block style="cursor:pointer;" onClick="location.href='regularAskDetail'">
	    								<td>regularAsk006</td>
			                          	<td>포인트/할인쿠폰</td>
			                          	<td>admin01</td>
			                          	<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
			                            <td>Y</td>
			                        	<td>2021-01-01 00:00:00</td>
			                        	<td>2022-06-03 00:00:00</td>
		             				</th:block>
		                    	</tr>
							</tbody>
		        		</table>
					</div> <!-- </div class="card-box table-responsive"> -->
					
					<!-- 등록, 삭제 버튼 -->
           			<div class="row">
           				<div class="col-sm-12">
	           				<div class="ml-auto">
	           					<a class="btn btn-success" th:href="@{/admin/category/addCategory}" role="button">등록</a>
	           					<a class="btn btn-primary" th:href="@{/admin/category/modifyCategory}" role="button">수정</a>
	           					<button type="button" class="btn btn-danger deleteModal" data-toggle="modal" data-target=".bs-example-modal-lg">삭제</button>
	           				</div>
           				</div> <!-- </div class="col-sm-12"> -->
           			</div> <!-- </div class="row"> -->
					
					<div class="clearfix"></div>
           			
            	</div> <!-- </div class="x_content"> -->
            </div> <!-- </div class="x_panel"> -->
            
		</div> <!-- </div class="col-md-12 col-sm-12"> -->
	</div> <!-- </div class="row"> -->
	
	<!-- 삭제 모달 -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    	<div class="modal-dialog modal-lg">
        	<div class="modal-content">
	        	<div class="modal-header">
		        	<h4 class="modal-title" id="myModalLabel">자주 묻는 질문 삭제</h4>
		            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
		            </button>
	          	</div>
	            <div class="modal-body">
	            	<h4>정말 자주 묻는 질문을 삭제하시겠습니까?</h4>
	            </div>
	            <div class="modal-footer">
		            <button type="button" class="btn btn-primary" data-dismiss="modal">취소</button>
		            <button type="button" id="deleteBtn" class="btn btn-danger ">삭제</button>
	            </div>
        	</div>
      	</div>
    </div>
    
    <!-- 모달 기능 -->
   	<th:block layout:fragment="customJsScript">
		<script type="text/javascript">
			var deleteModal = document.getElementsByClassName('deleteModal');	
			
			for(var i=0; i<deleteModal.length; i++){
				console.log(deleteModal[i]);
				deleteModal[i].addEventListener('click', function(){
					console.log('deleteModal Event');
					var deleteBtn = document.getElementById('deleteBtn');	
					deleteBtn.addEventListener('click', function(){
						console.log(deleteBtn);
						location.href='removeRegularAsk';
					});
				});
			}
			
		</script>
	</th:block>

</th:block>
</html>