<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminDefault}">

	<th:block layout:fragment="customTitle">
	    <title th:text="${title}"></title>
	</th:block>

	<th:block layout:fragment="customCSS">
		<style>
			#regular_ask_content{
				resize: none;
			}
		</style>
	</th:block>
	
	<th:block layout:fragment="customContents">
		<div class="row">
			<div class="col-sm-12">
        		<div class="x_panel">
            		<div class="x_title">
                		<h2 style="font-size: 17px;">자주 묻는 질문 등록</h2>
                    	<div class="clearfix"></div>
            		</div>
            		<div class="x_content">
     					<br/>
						<form class="form-horizontal form-label-left" th:action="@{/admin/regularAsk/modifyRegularAsk}" method="post">
							<!-- 자주 묻는 질문 카테고리 FK -->
							<div class="form-group row">
								<label class="col-form-label col-md-3 col-sm-3 label-align" for="regular_ask_category">자주 묻는 질문 카테고리 FK
								</label>
								<div class="col-md-6 col-sm-6 ">
									<select class="select2_single form-control"  id="regular_ask_category" required="required" tabindex="-1">
										<option></option>
										<option value="regularAskCategory01">회원/정보관리</option>
										<option value="regularAskCategory02">배송</option>
										<option value="regularAskCategory03">반품/교환/환불</option>
										<option value="regularAskCategory04">주문/결제</option>
										<option value="regularAskCategory05">정기 배송</option>
										<option value="regularAskCategory06">회원/정보관리</option>
									</select>
								</div>
							</div>
							<!-- 제목 -->
							<div class="form-group row ">
								<label class="col-form-label col-md-3 col-sm-3 label-align" for="regular_ask_title">제목
								</label>
								<div class="col-md-6 col-sm-6 ">
									<input type="text" id="regular_ask_title" required="required" class="form-control" maxlength="15">
								</div>
							</div>
							<!-- 내용 -->
							<div class="form-group row">
								<label class="col-form-label col-md-3 col-sm-3" for="regular_ask_content">내용
								</label>
								<div class="col-md-6 col-sm-6" >
									<textarea id="regular_ask_content" class="form-control" rows="3" required="required" style="resize: none; overflow-y: scroll; height: 300px;">
									</textarea>
								</div>
							</div>
							<!-- 사용 여부 -->
							<div class="item form-group">
								<label class="col-form-label col-md-3 col-sm-3 label-align">사용 여부
								</label>
								<div class="col-md-6 col-sm-6 ">
									<input type="radio" class="flat" name="use_check" id="use_check_Y" value="Y" required="required"/> Y
									<input type="radio" class="flat" name="use_check" id="use_check_N" value="N" /> N								
								</div>
							</div>
							<div class="ln_solid"></div>
							<div class="item form-group">
								<div class="col-md-6 col-sm-6 offset-md-3">
									<button type="button" id="modifyBtn" class="btn btn-success">등록</button>
									<button class="btn btn-primary" id="resetBtn" type="reset">초기화</button>
									<button id="cancelBtn" class="btn btn-primary" type="button">취소</button>
								</div>
							</div>
						</form> <!-- <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left"> -->
           				
           			</div> <!-- </div class="x_content"> -->
            	</div> <!-- </div class="x_panel"> -->
            
			</div> <!-- </div class="col-md-12 col-sm-12"> -->
		</div> <!-- </div class="row"> -->
	
	</th:block>

	<th:block layout:fragment="customJsScript">
		<script type="text/javascript">
			let regular_ask_title = document.querySelector('#regular_ask_title');
			console.log(regular_ask_title.width);
			// 수정 버튼 탐색
			let modifyBtn = document.querySelector('#modifyBtn');
			// 수정할 요소 탐색 (자주 묻는 질문 카테고리 FK, 제목, 내용, 사용 여부 ) - 총 5개 요소
 			let updateContent = document.querySelectorAll('#regular_ask_category, #regular_ask_title, #regular_ask_content, #use_check_N, #use_check_Y');
			// 취소 버튼 탐색
			let cancelBtn = document.querySelector('#cancelBtn');
			// 수정 버튼에 이벤트 등록
			modifyBtn.addEventListener('click', function(){
				for(var i=0; i<updateContent.length; i++){
					// 수정할 요소가 disabled 상태라면 원래대로 바꾼다. 
					if(updateContent[i].disabled){
						updateContent[i].disabled = false;
					}
				}
				// 그리고 수정 버튼을 전송 버튼으로 바꾼다.
				modifyBtn.addEventListener('click', function(){
					this.type = 'submit';
				});
			});
			// 취소 버튼에 이벤트 등록
			cancelBtn.addEventListener('click', function(){
				console.log(location.href);
				// 자주 묻는 질문 목록으로 리다이렉트
				window.location = 'http://130.162.131.42/admin/regularAsk/regularAskList';
			
			});
			
		</script>
	</th:block>

</html>