<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminDefault}">

	<th:block layout:fragment="customTitle">
	    <title th:text="${title}"></title>
	</th:block>
	
	<th:block layout:fragment="customContents">
		<div class="row">
			<div class="col-sm-12">
        		<div class="x_panel">
            		<div class="x_title">
                		<h2>자주 묻는 질문 삭제</h2>
                    	<div class="clearfix"></div>
            		</div>
            		<div class="x_content" style="text-align: center;">
						<br/>
						<div class="row">
							<form class="form-horizontal form-label-left">
								<div class="form-group">
									<label for="returnToList">
									선택하신  자주 묻는 질문이 삭제 되었습니다.</label>
								</div>
								<div class="form-group">
									<div>
										<a th:href="@{/admin/regularAsk/regularAskList}"><button id="returnToList" type="button" class="btn btn-primary">리스트로 돌아가기</button></a>
									</div>
								</div>
							</form>
						</div>	<!-- </div class="row"> -->
           			</div> <!-- </div class="x_content"> -->
            	</div> <!-- </div class="x_panel"> -->
            
			</div> <!-- </div class="col-md-12 col-sm-12"> -->
		</div> <!-- </div class="row"> -->
	
	</th:block>

</html>					