<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- 검색바 -->
	<div th:fragment="regularAskSearchFragment">
		<form th:action="@{/admin/regularAsk/searchRegularAsk}"  method="post">
			<select name="searchKey" style="height: 25px;">
				<option value="categoryName">카테고리</option>
				<option value="regularAskTitle">제목</option>
				<option value="regularAskContent">내용</option>
				<option value="useCheck">사용 여부</option>
			</select>
			<input type="text" name="searchValue" placeholder="검색어를 입력해주세요." style="height: 25px;">
			<button type="submit" style="height: 25px;">검색</button>
		</form>
	</div>
</html>