<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/userDefault}">
      
<th:block layout:fragment="customCss">
<!-- 폰트 -->
<link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
<style>
* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; color: #333;}
.table {
	width:800px;
	margin-right:auto;
	margin-left:auto;
	border-top:2px solid #82ae4691;
}
.table tbody tr td {
	padding: 7px 7px;
}
.boardAdd { 
	margin-right: 55px;
 	right: 0px;
 	padding: 0px 10px;
	position:absolute;
	width: 110px;
	height: 40px;
	font-size: 15px;
	background-color: #dbe6c4;
	border:none;
	border-radius:28px;
}
.boardAdd:focus{ 	
    border: none;
    outline:none;
    }

</style>
</th:block>

<th:block layout:fragment="customContents">
<section class="ftco-section" style="padding:2em 0;">
	<div class="container">
		<div class="row justify-content-center">
			<div class="text-center" style="height:100px;">
				<div style="font-size:25px;">자유게시판</div>
            </div>
        </div>
        
        
        <!-- 테이블 시작 -->
        <table class="table table-hover">
			<thead>
				<tr>
					<th style="width: 60px;">번호</th>
					<th>제목</th>
					<th style="width: 100px;">작성자</th>
					<th style="width: 110px;">작성일</th>
					<th style="width: 90px;">조회수</th>
					<th style="width: 90px;">좋아요</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${not #lists.isEmpty(boardListUser)}" th:each="b, e : ${boardListUser}" >
					<td th:text="${e.size - e.index}">1</td>
					<td th:text="${b.boardTitle}" th:onclick="|location.href='@{/user/board/boardView(boardCode=${b.boardCode})}'|" style="padding-left:40px; text-align:left !important;"></td>
					<td th:text="${b.userInfo.userNickname}"></td>
					<td th:text="${#strings.substring(b.regDate,0,10)}"></td>
					<td th:text="${b.viewAmount}"></td>
					<td th:text="${b.likeAmount}"></td>
				</tr>
			</tbody>
		</table>
		<div style="position: relative; width: 100%; height: 40px; display: flex; margin-top:10px;">
			<button type="button" class="boardAdd">작성하기</button>
		</div>
		<hr style="margin-top:50px;">
		
	</div> 
</section>
</th:block>
<th:block th:replace="fragments/userJs :: datatablesFragment"></th:block>
<th:block layout:fragment="customJsScript">
<script th:inline="javascript">
//<a th:href="@{/user/board/boardAdd}">
    $('.boardAdd').on('click', function(){
    	if([[${session.SID}]] == null){
    		alert('로그인 후 이용가능합니다.');
    		location.href='/user/user/login';
    	}else{
    		location.href='/user/board/boardAdd';
    	}
    });
</script>
</th:block>
</html>