<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<th:block layout:fragment="customCss">
<style>
.badge {
	color: gray;
	background-color:#ECECEC;
	font-weight: bold;
	float:right;
}
.modal {
  text-align: center;
  padding: 0!important;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
</style>
</th:block>
<th:block layout:fragment="customContents">
	<div class="page-title">
		<div class="title_left">
			<h3>상품 문의</h3>
		</div>
	</div>

	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h5>
					검색 필터 <a class="collapse-link"><i class="fa fa-chevron-up"
						style="color: #b4b7ba;"></i></a>
				</h5>
				<div class="clearfix"></div>
			</div>

			<div class="x_content">
				<div class="well" style="overflow: auto">
					<form th:action="@{/admin/goods/goodsQna}" method="post">
						<div class="form-inline form-group" style="margin-bottom: -1px;">
							<label class="control-label" style="margin-right: 10px;">문의 검색</label>
								<select class="form-control" name="searchKey">
									<option value="none">::</option>
									<option value="goodsCode" th:selected="${'goods_code' == searchKey}">상품코드</option>
									<option value="goodsName" th:selected="${'goods_name' == searchKey}">상품명</option>
									<option value="categoryName" th:selected="${'category_name' == searchKey}">카테고리</option>
									<option value="goodsQnaContent" th:selected="${'goods_qna_content' == searchKey}">문의내용</option>
									<option value="userId" th:selected="${'user_id' == searchKey}">작성자ID</option>
								</select>
							<input type="text"name="searchValue" class="form-control" size="12" th:value="${searchValue != null ? searchValue : ''}">
							<label class="control-label" style="margin-left: 10px; margin-right: 10px;">답변 상태</label>
								<select class="searchStatus form-control" name="searchKey2">
									<option value="none">::</option>
									<option value="qnaStatus">답변대기</option>
									<option value="qnaStatus">답변완료</option>
								</select>
							<input type="hidden" id="searchQnaStatus" name="searchQnaStatus">
						</div>
						<div class="form-inline control-group controls">
							<label class="control-label" for="qnaSearchDate" style="margin-right: 26px;">등록일</label>
							<div class="input-prepend input-group" style="margin-top:9px;">
								<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
								<input name="firstDate" class="form-control" placeholder="연도-월-일" type="date" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='date'" style="width:130px;">
							</div>
								~ <input name="lastDate" class="form-control" placeholder="연도-월-일" type="date" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='date'" style="width:130px;">							
							<div class="btn-group  btn-group-sm">
		                        <button class="btn btn-default" type="button" id="today" value="today">오늘</button>
		                        <button class="btn btn-default" type="button" id="week" value="week">일주일</button>
		                        <button class="btn btn-default" type="button" id="month" value="month">한달</button>
	                      </div>
						</div>
						<div style="text-align: center; margin-bottom:-10px;">
							<button type="submit" class="searchBtn btn btn-dark">검색</button>
							<button type="reset" class="btn btn-dark">초기화</button>
						</div>
					</form>
				</div>
			</div>

			<div class="x_content2">
				<table id="datatable"
					class="table table-striped table-bordered bulk_action dataTable no-footer"
					role="grid">
						<thead>
							<tr>
								<th style="width:20px;">No</th>
								<th style="width:50px;">유형</th>
								<th style="width:70px;">상품코드</th>
								<th style="width:120px;">상품명</th>
								<th>문의내용</th>
								<th style="width:50px;">비밀</th>
								<th style="width:60px;">작성자</th>
								<th style="width:140px;">작성일</th>
								<th style="width:50px;">상태</th>
								<th style="width:110px;">관리</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${not #lists.isEmpty(goodsQna)}" th:each="q : ${goodsQna}" id="goodsQnaTable">
								<td th:text="${q.goodsQnaNum}" style="text-align: center;"></td>
								<td th:text="${q.goodsQnaCategoryInfo.categoryName}" style="text-align: center;"></td>
								<td th:text="${q.goodsInfo.goodsCode}"></td>
								<td th:onclick="|location.href='@{/user/goods/goods(goodsCode=${q.goodsInfo.goodsCode})}'|" th:text="${q.goodsInfo.goodsName}" style="cursor:pointer;"></td>
								<td class="qna"><b>[[${q.goodsQnaTitle}]]</b>&nbsp;&nbsp;&nbsp;[[${q.goodsQnaContent}]]
								<a class="qnaToggle"></a>
								<br>
									<table class="table table-striped table-bordered toggle" style="display:none; margin-top:20px; width: 100%;">
										<thead>
										 	<tr>
												<th>작성자</th>
												<th>답변내용</th>
												<th>등록일</th>
											</tr>
										</thead>
										<tbody>
											<tr th:if="${q.qnaStatus} == '답변완료'">
												<td th:text="${q.goodsAnswerInfo.sellerId}" style="width:60px;"></td>
												<td th:text="${q.goodsAnswerInfo.goodsAnswerContent}"></td>
												<td th:text="${q.goodsAnswerInfo.regDate}" style="width:140px;"></td>
											</tr>
											<tr th:unless="${q.qnaStatus} == '답변완료'">
												<td colspan="3">등록된 답변이 없습니다.</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td th:text="${q.secretCheck}" style="text-align:center;"></td>
								<td th:onclick="|location.href='@{/admin/user/userDetail(userId=${q.userInfo.userId})}'|" th:text="${q.userInfo.userId}" style="cursor:pointer;"></td>
								<td th:text="${q.regDate}"></td>
								<td th:text="${#strings.substring(q.qnaStatus,2,4)}" class="qnaStatus"></td>
								<td style="text-align: center;">
									<a href="#" class="addModify Modal" th:data-goods-qna-num="${q.goodsQnaNum}" th:data-goods-answer-content="${q.goodsAnswerInfo.goodsAnswerContent}"></a>
									&nbsp;
									<input type="hidden" class="goodsAnswerCode" th:value="${q.goodsAnswerInfo.goodsAnswerCode}">
									<a th:href="@{/admin/goods/qnaModify(goodsQnaNum=${q.goodsQnaNum})}"><i class="fa fa-info-circle"></i>상세</a>
								</td>
							</tr>
							<tr th:unless="${not #lists.isEmpty(goodsQna)}">
								<td colspan="11">등록된  문의가 없습니다.</td>
							</tr>
						</tbody>
					</table>
				<span>- 상품명을 클릭하면 해당 상품 페이지로, 작성자 아이디를 클릭하면 해당 구매자 정보페이지로 이동합니다.
			 	<br>- 상세보기를 클릭하면 수정과 삭제가 가능합니다.</span>
				</div>
			</div>
		</div>
		
<!-- 문의 답변 등록 모달 -->
<form id="answerAddForm" name="answerAddForm" method="get" th:action="@{/admin/goods/answerAdd}">
<div class="modal fade" id="addModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="font-weight: 600; font-size:20px;">문의 답변 등록</h5>
      </div>
      <div class="modal-body">
          <div class="form-group">
          	<input class="form-control" id="goodsAnswerContent" name="goodsAnswerContent" style="height:150px; resize: none;">
          </div>
      </div>
      <div class="modal-footer" style="text-align: center;">
      	<input type="hidden" name="goodsQnaNum" id="goodsQnaNum">
        <button type="submit" class="btn btn-dark">확인</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
</form>

<!-- 문의 답변 수정 모달 -->
<form id="answerModifyForm" name="answerModifyForm" method="post" th:action="@{/admin/goods/answerModify}">
<div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" >
	<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="font-weight: 600; font-size:20px;">문의 답변 수정</h5>
      </div>
      <div class="modal-body">
          <div class="form-group">
          	<input class="form-control answerContent" id="goodsAnswerContent" name="goodsAnswerContent" style="height:150px; resize: none;">
          </div>
      </div>
      <div class="modal-footer" style="text-align: center;">
      	<input type="hidden" class="qnaNum" name="goodsQnaNum" id="goodsQnaNum">
      	<input type="hidden" class="answerCode" name="goodsAnswerCode" id="goodsAnswerCode">
        <button type="submit" class="btn btn-dark">확인</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
</form>

</th:block>
<th:block layout:fragment="customScript">
<script th:inline="javascript">
$(function() {
	
	/* 리스트에서 등록 버튼 클릭 시 해당 문의 코드 가져오기 */
	$('.addModify').each(function(){
		$(this).click(function(){
			var goodsQnaNum =  $(this).data("goods-qna-num");
			$('#goodsQnaNum').val( goodsQnaNum );
			console.log(goodsQnaNum);
		});
	});	
	
	/* 답변 상태에 따라 텍스트 바꾸기 (대기일시 등록, 완료일시 수정) */
	$('.qnaStatus').each(function(){
		var addModify = $(this).next('td').children('.addModify');
		
		if($(this).text() == '대기'){
			addModify.append('<i class="fa fa-edit"></i>등록');
			addModify.attr("data-toggle", 'modal');
			addModify.attr("data-target", '#addModal');
		}else if($(this).text() == '완료'){
			addModify.append('<i class="fa fa-edit"></i>수정');
			addModify.attr("data-toggle", 'modal');
			addModify.attr("data-target", '#modifyModal');
			addModify.addClass('answerCode');
		};
	});
	
	/* 리스트에서 수정 버튼 클릭 시 해당 답변 코드, 답변 내용 가져오기 */
	$('.answerCode').each(function(){
		$(this).click(function(){
			var goodsAnswerCode = $(this).next('.goodsAnswerCode').val();
			var goodsQnaNum =  $(this).data("goods-qna-num");
			var goodsAnswerContent =  $(this).data("goods-answer-content");
			$('.qnaNum').val( goodsQnaNum );
			$('.answerCode').val( goodsAnswerCode );
			$('.answerContent').val( goodsAnswerContent );
		});
	});
	
	/* ******************** 모달 ******************** */
	/* 모달 열릴 때 이벤트 */
	$('#addModal, #modifyModal').on('show.bs.modal', function(event) {
		console.log('modal open');
	}); 
	/* 모달 닫을 때 안에 있는 데이터 초기화 */
	$('#addModal, #modifyModal').on('hidden.bs.modal', function(e) {
		console.log('modal close');
		document.forms['answerAddForm'].reset();
		document.forms['answerModifyForm'].reset();
	});
	/* 모달 엔터 막기 */
	$('form[name="answerModifyForm"], form[name="answerAddForm"]').keydown(function() {
		if (event.keyCode === 13) {
			event.preventDefault();
		};
	});
	
	/* 답변 상대가 완료일시 답변볼 수 있는 toggle 넣기 */
	$('.qnaStatus').each(function(){
		
		var qnaToggle = $(this).parent('tr').children('.qna').find('.qnaToggle');
			console.log(qnaToggle);
		
		if($(this).text() == '완료'){
			qnaToggle.addClass('badge');
			qnaToggle.text('답변보기');
		}
	});
	
	 /* 문의 답변보기 클릭 시 답변 토글 */
	$(".qnaToggle").click(function (){
	 	$(this).next().next().toggle();
	 });
	
	 /* select searchStatus 선택 시 qnaStatus 히든 인풋에 넣기 (답변 상태 검색에 이용) */
	$('.searchStatus').change(function() {
		var statusOption = $(".searchStatus option:selected").text();
			console.log(statusOption);
			$('#searchQnaStatus').val( statusOption );
	});	 
	 
	 
	/* 날짜 검색 */
	var date = new Date();
	//오늘 날짜 구하기
	var year = date.getFullYear();
	var month = ('0' + (date.getMonth() + 1)).slice(-2);
	var day = ('0' + date.getDate()).slice(-2);
	//오늘 다음날짜 구하기 
	var day2 = (date.getDate()+1);
	//년-월-일 로 출력
	var today = year + '-' + month + '-' + day;
	var today2 = year + '-' + month + '-' + day2;
		
	/* 오늘 */
	$('#today').click(function(){

		console.log(today);
		console.log(today2);
		
		$('input[name=firstDate]').val(today);
		$('input[name=lastDate]').val(today2);
	});
	
	/* 일주일 */
	$('#week').click(function(){
		var date = new Date();
		var weekDate = date.getTime() - (7*24*60*60*1000);
			date.setTime(weekDate);

		var weekYear = date.getFullYear();
		var weekMonth = date.getMonth() + 1;
		var weekDay = date.getDate();

			if(weekMonth < 10) {weekMonth = "0" + weekMonth};
			if(weekDay < 10) {weekDay = "0" + weekDay};

		var week = weekYear + "-" + weekMonth + "-" + weekDay;
		
		console.log(week);
		console.log(today2);
		
		$('input[name=firstDate]').val(week);
		$('input[name=lastDate]').val(today2);
	});
	
	/* 한 달 */
	$('#month').click(function(){
		var today = new Date();
		
		var year = date.getFullYear();
		var month = ('0' + (date.getMonth())).slice(-2);
		var day = ('0' + date.getDate()).slice(-2);
		
		var month2 = year + "-" + month + "-" + day;
		
		console.log(month2);
		
		$('input[name=firstDate]').val(month2);
		$('input[name=lastDate]').val(today2);
	});
	
	
	
});
</script>
</th:block> 
</html>
