<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/adminDefault}">
<!-- 드래그 앤 드롭 라이브러리 -->
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
	<link rel="stylesheet" th:href="@{/build/summernote.min.css}">
</th:block>

<th:block layout:fragment="customCss">
<style>
.chk_box { border-radius: 5px; display: block; position: relative; padding-left: 25px; margin-bottom: 10px; cursor: pointer; font-size: 14px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
/* 기본 체크박스 숨기기 */
.chk_box input[type="checkbox"] { display: none; }
/* 선택되지 않은 체크박스 스타일 꾸미기 */
.on { width: 20px; height: 20px; background: #ddd; position: absolute; top: 0; left: 0; border-radius: 5px;}
/* 선택된 체크박스 스타일 꾸미기 */
.chk_box input[type="checkbox"]:checked + .on { background: #73879c; }
.on:after { content: ""; position: absolute; display: none; }
.chk_box input[type="checkbox"]:checked + .on:after { display: block; }
.on:after { width: 6px; height: 10px; border: solid #fff; border-width: 0 2px 2px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); position: absolute; left: 6px; top: 4px; }

.fileRemove{
	border:1px solid #73879c;
	border-radius: 4px;	
}
.firstMenu{
	margin-top: 5px;
}
.openClose{
	color: #b4b7ba;
}
.explain{
	color: slategray; margin-top: 8px; margin-bottom: -3px;
}
.imgExplain{
	color: gray; margin-top: 5px;
}
.addTitle{
	margin-right: 10px;
}
.imgTitle{
	margin-right: 15px; margin-top: -8px;
}
.hrStyle{
	border-color: #c4c4c4; width: 40%; border-style:dashed;
}
.img{
	height: 170px; width: 170px;
}
.priceChange{
	font-size: 15px;
}
.numberTitle{
	margin-top: -6px;
}


/* 이미지관련 */
.inputFile{
    margin-bottom: 10px;
}
.uploadfile,
#imgPreview,
#imgPreview li{
    float:left
}
/* img버튼 css*/
.addImgBtn{
	margin-left:20px;
	margin-top:30px;
	float:left;
    width: 50px;
    height: 50px;
    color: #cacaca;
    border: 2px solid #b7b7b7;
	border-radius: 4px;
    font-size: 35px !important;
    text-align: center;
}
/* 미리보기 css */
#imgPreview li{
    margin-left: 10px;
    margin-bottom: 10px;
    position: relative;
    border: 1px solid #ececec;
    cursor:move;
    list-style-type : none;
}
/* 이미지 삭제버튼 css */
.delBtn{
    position: absolute;
    top: -4px;
    right: -2px;
    font-size: 13px;
    background-color: #73879c;
    color: #fff;
    width: 18px;
    height: 18px;
    line-height: 16px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border-radius : 50px;
    border: 1px solid #73879c;
}
/* 유효성 검사 경고 태그 */
.ck_warn{
	display: none;			
	padding-left: 10px;
    padding-top: 10px;
    text-align: center;
    color: red;
    font-weight: 400;    
}
</style>
</th:block>

<th:block layout:fragment="customContents">
	<div class="page-title">
		<div class="title_left">
			<h3>상품 등록</h3>
		</div>
	</div>

<form id="goodsAddForm" th:action="@{/admin/goods/goodsAdd}" method="post" enctype="multipart/form-data">
	<div class="x_panel">
		<div>
			<h5>
				<b>카테고리</b> <a class="collapse-link"><i class="openClose fa fa-chevron-up"></i></a>
			</h5>
			<div class="clearfix"></div>
		</div>

		<div class="x_content1">
			<div class="well well-sm">
				<div class="firstMenu form-inline">
					<label class="addTitle control-label">대분류</label>
						<select class="largeCate form-control">
							<option value="none">::</option>
						</select>
					<label class="addTitle control-label" style="margin-left: 10px;">중분류</label>
						<select class="smallCate form-control" id="goodsSmallCategory" name="goodsSmallCategory">
							<option value="none">::</option>
						</select>
					<span class="ck_warn category_warn">카테고리를 선택해주세요.</span>
					<p class="explain">
						상품에 맞지 않는 카테고리에 등록할 경우 강제 이동되거나 판매중지, 판매금지 될 수 있습니다.</p>
				</div>
			</div>
		</div>

		<div>
			<h5>
				<b>상품명</b><a class="collapse-link"><i class="openClose fa fa-chevron-up"></i></a>
			</h5>
			<div class="clearfix"></div>
		</div>

		<div class="x_content2">
			<div class="well well-sm">
				<div class="firstMenu form-inline">
					<label class="addTitle control-label" for="goodsName">상품명</label>
						<input type="text" class="form-control" id="goodsName" name="goodsName" required="required" size="30">
				<span class="ck_warn name_warn">상품명을 입력해주세요.</span>
				</div>
				<div class="firstMenu form-inline" style="margin-top:15px;">
					<label class="addTitle control-label" for="goodsContent">상품정보</label>
						<textarea class="form-control" id="goodsContent" name="goodsContent" required="required" style="width:300px; height:60px; resize: none;"></textarea>
					<span class="ck_warn content_warn">상품 정보를 입력해주세요.</span>
					<p class="explain">
						상품명 최대 40자까지 입력가능하며, 일부 특수문자를 포함한 금칙어는 상품명으로 사용할 수 없습니다.<br>
						판매 상품과 직접 관련이 없는 다른 상품명, 스팸성 키워드 입력 시 관리자에 의해 판매 금지될 수 있습니다.</p>
				</div>
			</div>
		</div>

		<div>
			<h5>
				<b>판매가</b> <a class="collapse-link"><i class="openClose fa fa-chevron-up"></i></a>
			</h5>
			<div class="clearfix"></div>
		</div>

		<div class="x_content2">
			<div class="well well-sm">
				<div class="firstMenu form-inline">
					<label class="addTitle numberTitle control-label" for="goodsPrice">판매가</label>
					<div class="input-group">
					<input type="hidden" id="hiddenGoodsPrice" value="0">
						<input type="text" class="salePrice numberInput form-control" id="goodsPrice" name="goodsPrice" size="12" placeholder="숫자만 입력 가능">
						<span class="input-group-addon">원</span>
					</div>
					<span class="ck_warn price_warn">판매가를 입력해주세요.</span>
				</div>
				<div class="firstMenu form-inline">
					<label class="addTitle numberTitle control-label" for="goodsDiscountRate">할인율</label>
					<div class="input-group" style="margin-right:10px;">
						<input type="text" class="disRate numberInput form-control" id="goodsDiscountRate" name="goodsDiscountRate" size="3">
						<span class="input-group-addon">%</span>
					</div>
					<div class="addTitle input-group" style="margin-top:10px;">
						<label for="noDiscount" class="chk_box">
							<input type="checkbox" id="noDiscount" >할인없음
							<span class="on"></span>
						</label>
					</div>
					<span class="ck_warn discount_warn">할인율을 입력해주세요.</span>
				</div>
				<hr class="hrStyle" align="left">
				<div class="firstMenu form-inline">
					<label class="addTitle numberTitle control-label">할인가</label>
					<div class="form-group" id="resultDiv" style="margin-top: -10px;">
						<input type="hidden" id="hiddenPrice" value="0">
						<span class="discountPrice" style="font-size: 25px;">0</span>
						<span style="font-size: 20px;">원</span>
						<span class="priceChange" style="margin-left: 5px;">(</span>
						<input type="hidden" id="hiddenDiscount" value="0">
						<span class="discountVal priceChange" style="margin-left: -4px;">0</span>
						<span class="priceChange" style="margin-left: -3px;">원 할인)</span>
					</div>
				</div>
				<p class="explain">할인가는 구매자가 상품을 구매하는 최종가격입니다.(화면 노출)</p>
			</div>
		</div>

		<div>
			<h5>
				<b>재고·배송 설정</b><a class="collapse-link"><i class="openClose fa fa-chevron-up"></i></a>
			</h5>
			<div class="clearfix"></div>
		</div>

		<div class="x_content2">
			<div class="well well-sm">
				<div class="firstMenu form-inline">
					<label class="addTitle numberTitle control-label" for="goodsStock">재고수량</label>
					<div class="input-group">
						<input type="text" class="numberInput form-control" id="goodsStock" name="goodsStock" size="5">
						<span class="input-group-addon">개</span>
					</div>
					<span class="ck_warn stock_warn">재고를 입력해주세요.</span>
					<p class="explain">
						주문하면 재고수량이 차감되며, 재고가 0으로 변경 시 품절상태로 변경됩니다.</p>
				</div>
				<hr class="hrStyle" align="left">
				<div class="firstMenu form-inline">
					<label class="control-label" for="goodsPostPrice" style="margin-right: 17px; margin-left: 5px; margin-top: -8px;">배송비</label>
					<div class="addTitle input-group">
						<input type="text" class="postPrice numberInput form-control" id="goodsPostPrice" name="goodsPostPrice" size="5">
						<span class="input-group-addon">원</span>
					</div>
					<div class="addTitle input-group" style="margin-top:10px;">
						<label for="freePost" class="chk_box">
							<input type="checkbox" id="freePost" > 무료배송
							<span class="on"></span>
						</label>
					</div>
					<span class="ck_warn post_warn">배송비를 입력해주세요.</span>
				</div>
				<p class="explain" style="margin-bottom:15px;">
					무료배송 체크 시, 자동으로 배송비는 0원으로 변경됩니다.</p>
					
				<div class="firstMenu form-inline" style="margin-bottom:-15px;">
					<div class="input-group">
						<label class="addTitle chk_box">
							<input type="checkbox" class="packYN"> 묶음배송
							<span class="on"></span>
							<input type="hidden" class="hiddenPackCk" id="packagePostCheck" name="packagePostCheck" value="N">
						</label>
					</div>
					<div class="input-group" >
						<label class="addTitle chk_box">
							<input type="checkbox" class="deliverYN"> 정기배송
							<span class="on"></span>
							<input type="hidden" class="hiddenDeliverCk" id="regularDeliverCheck" name="regularDeliverCheck" value="N">
						</label>
					</div>
				</div>
			</div>
		</div>

		<div>
			<h5>
				<b>상품이미지 설정</b> <a class="collapse-link"><i class="openClose fa fa-chevron-up"></i></a>
			</h5>
			<div class="clearfix"></div>
		</div>
		<div class="x_content2">
			<div class="well well-sm">
				<div class="filebox firstMenu form-inline">
					<div class="inputFile" style="width:100%; height:105px;">
						<label class="addImgBtn" for="uploadfile">+</label>
						<input type="file" name="uploadfile" id="uploadfile" class="upload-hidden" multiple="multiple" style="display:none;">
						<ul id="imgPreview" class="sortable"></ul>
					</div>
				</div>
				<br>
				<span class="ck_warn image_warn">이미지를 첨부해주세요.</span>
				<hr class="hrStyle" align="left">
				<p class="imgExplain">권장 크기 : 640 x 640 (윈도대상 750 x 1000)</p>
				<p class="explain">
					대표이미지 1장은 필수, 추가이미지는 최대 5장까지 등록할 수 있습니다.<br>
					추가 이미지는 상세페이지 화면에서 이미지를 클릭하여 크게 볼 수 있습니다.<br>
					파일명은 <span style="color:green;">jpg, jpeg, png, bmp 형식의 정지 이미지만</span> 등록됩니다.</p>
			</div>
		</div>

		<div>
			<h5>
				<b>상세 설명</b> <a class="collapse-link"><i class="openClose fa fa-chevron-up"></i></a>
			</h5>
			<div class="clearfix"></div>
		</div>
			
		<div class="x_content2">
			<div class="well well-sm">
				<div class="form-inline form-group" style="margin-top: 20px;">
 					<textarea class="summernote" id="goodsDetail" name="goodsDetail"></textarea>
 				</div>
 				<span class="ck_warn detail_warn">상품 설명을 입력해주세요.</span>
 				<p class="explain">
 					상세설명 권장 크기 : 가로 860px <br>
					상품명과 직접적 관련 없는 상세설명, 외부 링크 입력 시 관리자에 의해 판매 금지 될 수 있습니다.<br>
					안전거래정책에 위배할 경우 관리자에 의해 재재조치가 있을 수 있습니다.</p>
 			</div>
		</div>
			
		<div style="text-align: center;">
			<button type="button" class="btn btn-dark" th:onclick="|location.href='@{/admin/goods/goodsList}'|">취소</button>
			<button type="reset" class="btn btn-dark">초기화</button>
			<button type="submit" class="btn btn-dark" id="goodsAddBtn">등록</button>
		</div>
	</div>
</form>
</th:block>

<th:block layout:fragment="customJsScript">
<th:block th:replace="fragments/userJs :: datatablesFragment"></th:block>
<!-- 드래그앤드롭 라이브러리 -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>
<script src="/build/summernote.min.js"></script>
<!-- 스크롤이 자꾸 아래로 가서 넣음 -->
<script>history.scrollRestoration = "manual"</script>
<script th:inline="javascript">

$(function(){
    /* 썸머노트 설정 */
	$(document).ready(function() {
		$('.summernote').summernote({
			height: 300,           //에디터 높이
			minHeight: null,       //최소 높이
			maxHeight: null,       //최대 높이
			lang: "ko-KR",
			toolbar: [ ['fontname', ['fontname']],
			           ['fontsize', ['fontsize']],
			    	   ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
			    	   ['color', ['forecolor','color']],
			    	   ['table', ['table']],
			    	   ['para', ['ul', 'ol', 'paragraph']],
			   	 	   ['height', ['height']],
			    	   ['insert',['picture','link','video']],
			    	   ['view', ['fullscreen', 'help']] ],
			fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋음체','바탕체'],
			fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72']
		});
	});
    
    
	/* 숫자만 입력  & 숫자 천단위 콤마 찍기  */
	$('.numberInput').on('input',function(){
		$(this).val($(this).val().replace(/[^0-9.]/g,'').replace(/(\d)(?=(?:\d{3})+(?!\d))/g,'$1,'));
	});
    	
	/* input 할인율 숫자 99까지만 입력 가능하게 하기 */
	$('.disRate').on("keyup",function() {
		var val= $(this).val();
		if(val < 1 || val > 99) {
		$(this).val('');
		}
	});
    	
    /* 판매가, 할인율 입력 시 자동 계산 후 할인가 입력 */
	$('.disRate, .salePrice').on('change',function(){
		if ($('.salePrice').val() != null && $('.goodsPrice').val() != '') {
			var salePrice = Number($('.salePrice').val().replace(/,/g, ""));
			var disRate = Number($('.disRate').val());
			var discounted = salePrice * disRate / 100;
			//할인가 콤마 넣기
			$('#hiddenDiscount').val(discounted);
			var hiddenDiscount = $('#hiddenDiscount').val().replace(/(\d)(?=(?:\d{3})+(?!\d))/g,'$1,');
			$('.discountVal').text( hiddenDiscount );
			//할인금액 콤마 넣기
			$('#hiddenPrice').val(salePrice - discounted);
			var hiddenPrice = $('#hiddenPrice').val().replace(/(\d)(?=(?:\d{3})+(?!\d))/g,'$1,');
			$('.discountPrice').text( hiddenPrice );
    		
			//다시 할인율 0으로 할 때
			$('#noDiscount').change(function(){
				if($(this).prop("checked")){
					var salePrice = $('.salePrice').val().replace(/(\d)(?=(?:\d{3})+(?!\d))/g,'$1,');
					$('.discountPrice').text( salePrice );
					$('.discountVal').text( 0 );
				}
			});
		
		} 
	});
    
    /*	상품명 30글자 제한하기 */
    $('#goodsName').keyup(function (e) {
	    if ($('#goodsName').val().length > 30) {
		    $(this).val($(this).val().substring(0, 30));
		   	$('.name_warn').css('display','initial');
		   	$('.name_warn').html('상품명은 40자까지 입력가능합니다.');
		};
    });
    
	/* checkbox 선택 시 Y 해제 시 N */
	//묶음배송
    $('.packYN').click(function(){
        var packagePostCheck = $(this).prop('checked'); 
        // this를 사용하여 클릭한 checkbox 가 체크되도록 설정
        if(packagePostCheck){
            $('.hiddenPackCk').val( 'Y' );
            console.log( 'Y ');
        }
        else{
            $('.hiddenPackCk').val( 'N' );
            console.log( 'N ');
        }
    });
	//정기배송
    $('.deliverYN').click(function(){
        var regularDeliverCheck = $(this).prop('checked'); 
        // this를 사용하여 클릭한 checkbox 가 체크되도록 설정
        if(regularDeliverCheck){
            $('.hiddenDeliverCk').val( 'Y' );
            console.log( 'Y ');
        }
        else{
            $('.hiddenDeliverCk').val( 'N' );
            console.log( 'N ');
        }
    });
	
	/* 대분류 선택시 중분류 카테고리 나오게 하기 */
	var largeCategoryList = /*[[${largeCategoryList}]]*/
		console.log(largeCategoryList)
	var largeCate = $(".largeCate");
	var smallCate = $(".smallCate");
	
	//대분류 <option> 태그
	for(var large of largeCategoryList){
		var largeCode = large.goodsLargeCategory;
		var largeName = large.goodsCategory;
		console.log('largeCode: '+large.goodsLargeCategory)
		console.log('largeName: '+large.goodsCategory)
		
		largeCate.append("<option value='"+ largeCode +"'>" + largeName + "</option>");
	}
	//대분류 option 클릭 시 중분류 변화
	$(largeCate).on("change",function(){
		smallCate.children().remove();
		smallCate.append("<option value='none'>::</option>")
			
		for(var large of largeCategoryList){
			var selectLarge = $(this).find("option:selected").val();	
			console.log(selectLarge);
			
			for(var small of large.goodsSmallCategoryInfo){
				var largeCode2 = small.goodsLargeCategory;
				var smallCode = small.goodsSmallCategory;
				var smallName = small.smallCategoryName;
						
				console.log('largeCode2: '+largeCode2);
				console.log('smallCode: '+smallCode);
				console.log('smallName: '+smallName);
					
				if(selectLarge === largeCode2){
					smallCate.append("<option value='"+smallCode+"'>" + smallName + "</option>");
				}
			}
		}
	});
	/* 할인없음 체크박스 체크, 해제 시 이벤트 */
    $("#noDiscount").change(function(){
    	if($(this).prop("checked")){
    		console.log("할인없음 체크 : Y ");
    		$("#goodsDiscountRate").attr("disabled", true); //할인없음 체크시 할인율 인풋 막기
    		$("#goodsDiscountRate").val( 0 );
    	}else{
    		console.log("할인없음 체크 해제 : N ");
    		$("#goodsDiscountRate").attr("disabled", false);
    	}
    });
	
	/* 무료배송 체크박스 체크, 해제 시 이벤트 */
    $("#freePost").change(function(){
    	if($(this).prop("checked")){
    		console.log("무료배송 체크 : Y ");
    		$("#goodsPostPrice").attr("disabled", true); //무료배송 체크시 배송비 인풋 막기
    		$("#goodsPostPrice").val( 0 );
    	}else{
    		console.log("무료배송 체크 해제 : N ");
    		$("#goodsPostPrice").attr("disabled", false);
    		$("#goodsPostPrice").val( "" );
    	}
    });
	
    /* 이미지 등록 */ 
	//드래그 앤 드롭
	$(".sortable").sortable();
    
 	// 파일 현재 필드 숫자 totalCount랑 비교값
    var fileCount = 0;
    // 해당 숫자를 수정하여 전체 업로드 갯수를 정한다.
    var totalCount = 6;
    
	//이미지 등록
	$("#uploadfile").change(function(e){
    	//div 내용 비워주기
	    //$('#imgPreview').empty();
	
	    var files = e.target.files;
	    var arr = Array.prototype.slice.call(files);
	    
	    // 파일 개수 확인 및 제한
	    if (fileCount + arr.length > totalCount) {
			alert('파일은 최대 '+totalCount+'개까지 업로드 할 수 있습니다.');
			return;
	    }else{
	    	fileCount = fileCount + arr.length;
	    }
	
	    //업로드 가능 파일인지 체크
	    for(var i=0; i<files.length; i++){
	        if(!checkExtension(files[i].name,files[i].size)){
	            return false;
	    	}
		}
    	preview(arr);

	    function checkExtension(fileName,fileSize){
	        var regex = new RegExp("(.*?)\.(exe|sh|zip|alz)$");
	        var maxSize = 20971520;  //20MB
	
	        if(fileSize >= maxSize){
	            alert('이미지 크기가 초과되었습니다.');
	            $("#uploadfile").val("");  //파일 초기화
	            return false;
	        }
	        if(regex.test(fileName)){
	            alert('확장자명을 확인해주세요.');
	            $("#uploadfile").val("");  //파일 초기화
	            return false;
	        }
	        return true;
	    }

		function preview(arr){
			arr.forEach(function(f){
	            /* 파일명이 길면 파일명...으로 처리
	            var fileName = f.name;
	            if(fileName.length > 10){
	                fileName = fileName.substring(0,7)+"...";
	            } */
	            
	            //div에 이미지 추가
	            var str = '<li class="ui-state-default">';
	            //str += '<span>'+fileName+'</span><br>';
	            //이미지 파일 미리보기
	            if(f.type.match('image.*')){
	                //파일을 읽기 위한 FileReader객체 생성
	                var reader = new FileReader(); 
	                reader.onload = function (e) { 
	                    //파일 읽어들이기를 성공했을때 호출되는 이벤트 핸들러
	                    str += '<img src="'+e.target.result+'" title="'+f.name+'" multiple="multiple" width=100 height=100>';
	                    str += '<span class="delBtn" onclick="delImg(this)">x</span>';
	                    str += '</li>';
	                    $(str).appendTo('#imgPreview');
	                } 
	                reader.readAsDataURL(f);
	            }else{
	                //이미지 파일 아닐 경우 대체 이미지
	                str += '<img src="/resources/img/fileImg.png" title="'+f.name+'" width=100 height=100 />';
	                $(str).appendTo('#imgPreview');
	            }
	    	})
		}

	});
});

	//미리보기 사진 삭제
	function delImg(_this){
		$(_this).parent('li').remove()
	}	 

	/* 입력시 경고 없애기 */
	//카테고리
	$('#goodsSmallCategory').on("change", function(){
		if($('#goodsSmallCategory').val() != 'none'){ //선택하면 경고창 없애기
			$('.category_warn').css('display','none');
		};
	});
	//상품명
	$('#goodsName').on("propertychange change keyup paste input", function(){
		if($('#goodsName').val() != ''){
			$('.name_warn').css('display','none');
		};
	});
	//상품정보
	$('#goodsContent').on("propertychange change keyup paste input", function(){
		if($('#goodsName').val() != ''){	
			$('.content_warn').css('display','none');
		};
	});
	//판매가
	$('#goodsPrice').on("propertychange change keyup paste input", function(){
			$('.price_warn').css('display','none');
	});
	//할인율
	$('#goodsDiscountRate').on("propertychange change keyup paste input", function(){
			$('.discount_warn').css('display','none');
	});
	$("#noDiscount").on("propertychange change keyup paste input", function(){
		$('.discount_warn').css('display','none');
	});
	//재고
	$('#goodsStock').on("propertychange change keyup paste input", function(){
		$('.stock_warn').css('display','none');
	});
	//배송비
	$('#goodsPostPrice').on("propertychange change keyup paste input", function(){
		$('.post_warn').css('display','none');
	});
	$("#freePost").on("propertychange change keyup paste input", function(){
		$('.post_warn').css('display','none');
	});
	//이미지
	$('#uploadfile').on("propertychange change keyup paste input", function(){
		$('.image_warn').css('display','none');
	});
	//상품설명
	$('#summernote').on("propertychange change keyup paste input", function(){
		$('.detail_warn').css('display','none');
	});
	/* 상품 등록 유효성 검사*/
	
	//상품 등록 버튼
	$('#goodsAddBtn').on('click', function(e){
		e.preventDefault();
		
		//체크 변수
		var categoryCk = false;
		var goodsNameCk = false;
		var contentCk = false;
		var priceCk = false;
		var discountCk = false;
		var stockCk = false;
		var postCk = false;
		var imageCk = false;
		var detailCk = false;
	
		//체크 대상 변수
		var goodsSmallCategory = $("select[name='goodsSmallCategory']").val();
		var goodsName = $("input[name='goodsName']").val();
		var goodsContent = $("textarea[name='goodsContent']").val();
		var goodsPrice = $("input[name='goodsPrice']").val();
		var goodsDiscountRate = $("input[name='goodsDiscountRate']").val();
		var goodsStock = $("input[name='goodsStock']").val();
		var goodsPostPrice = $("input[name='goodsPostPrice']").val();
		var uploadfile = $("input[name='uploadfile']").val();
		var goodsDetail  = $("textarea[name='goodsDetail']").val();
		
		//카테고리
		if(goodsSmallCategory != 'none'){
			$(".category_warn").css('display','none');
			categoryCk = true;
		} else {
			$(".category_warn").css('display','initial');
			categoryCk = false;
		}
		//상품명
		if(goodsName){
			$(".name_warn").css('display','none');
			goodsNameCk = true;
		} else {
			$(".name_warn").css('display','initial');
			goodsNameCk = false;
		}
		//상품정보
		if(goodsContent){
			$(".content_warn").css('display','none');
			contentCk = true;
		} else {
			$(".content_warn").css('display','initial');
			contentCk = false;
		}
		//가격
		if(goodsPrice != 0){
			$(".price_warn").css('display','none');
			priceCk = true;
		} else {
			$(".price_warn").css('display','initial');
			priceCk = false;
			$("input[name='goodsPrice']").val("");
		}
		//할인율
		if(goodsDiscountRate != ''){
			$(".discount_warn").css('display','none');
			discountCk = true;
		} else {
			$(".discount_warn").css('display','initial');
			$(".discount_warn").css('padding-left','0px');
			discountCk = false;
		}
		//재고
		if(goodsStock != 0){
			$(".stock_warn").css('display','none');
			stockCk = true;
		} else {
			$(".stock_warn").css('display','initial');
			stockCk = false;
		}
		//배송비
		if(goodsStock != ''){
			$(".post_warn").css('display','none');
			postCk = true;
		} else {
			$(".post_warn").css('display','initial');
			$(".post_warn").css('padding-left','0px');
			postCk = false;
		}
		//이미지
		if(uploadfile){
			$(".image_warn").css('display','none');
			imageCk = true;
		} else {
			$(".image_warn").css('display','initial');
			imageCk = false;
		}
		//상품 상세
		if(goodsDetail){
			$(".detail_warn").css('display','none');
			detailCk = true;
		} else {
			$(".detail_warn").css('display','initial');
			detailCk = false;
		}
		
		//숫자 콤마없애기 //입력 안 하고 submit할 시 아무것도 입력 안되게 하기
		$('#goodsPrice').val( Number($('#goodsPrice').val().replace(/,/g, "")) );
		$('#goodsDiscountRate').val( Number($('#goodsDiscountRate').val().replace(/,/g, "")) );
		$('#goodsStock').val( Number($('#goodsStock').val().replace(/,/g, "")) );
		$('#goodsPostPrice').val( Number($('#goodsStock').val().replace(/,/g, "")) );
		//입력 안 하고 submit할 시 아무것도 입력 안되게 하기
		/*$('#goodsPrice').val( "" );
		$('#goodsDiscountRate').val( "" );
		$('#goodsStock').val( "" );
		$('#goodsPostPrice').val( "" ); */
		
		
	    /* form 전송 */
		$('#goodsAddForm').submit(function(event) {}); 
	    
	    
		//최종 확인
		if(categoryCk && goodsNameCk && contentCk && priceCk && discountCk && stockCk && postCk && imageCk && detailCk){
			//alert('통과');
			$('#goodsAddForm').submit();
		//} else {
		//return false;
		}
	});
</script>
</th:block>
</html>