<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">
	
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customCss">

<style>

.searchTitle {
	margin-left: 10px; margin-right: 5px;
}
.modal {
  text-align: center;
  padding: 0!important;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
</style>
</th:block>

<th:block layout:fragment="customContents">
	<div class="page-title">
		<div class="title_left">
			<h3>상품 목록</h3>
		</div>
	</div>

	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h5>
					검색 필터 <a class="collapse-link"><i class="fa fa-chevron-up"
						style="color: #b4b7ba;"></i></a>
				</h5>
				<div class="clearfix"></div>
			</div>

			<div class="x_content">
				<div class="well" style="overflow: auto">
					<div class="form-inline form-group">
						<form th:action="@{/admin/goods/goodsList}" id="searchForm" method="post">
							<label class="searchTitle control-label">대분류</label>
								<select class="largeCate form-control">
							 		<option value="none">::</option>
								</select>
							<label class="searchTitle control-label">중분류</label>
								<select class="smallCate form-control" name="searchKey2" >
									<option value="none">::</option>
								</select>
								<input type="hidden" id="searchCate" name="searchCate">
							<label class="searchTitle control-label">문의 검색</label>
								<select class="searchKeyword form-control" name="searchKey">
									<option>::</option>
									<option value="goodsCode" th:selected="${'goods_code' == searchKey}">상품코드</option>
									<option value="goodsName" th:selected="${'goods_name' == searchKey}">상품명</option>
									<option value="userId" th:selected="${'user_id' == searchKey}">판매자</option>
								</select>
								<input type="text" name="searchValue" class="form-control" size="12" th:value="${searchValue != null ? searchValue : ''}">
							<div class="form-inline control-group controls">
							<label class="control-label" for="qnaSearchDate" style="margin-right: 10px; ">등록일</label>
							<div class="input-prepend input-group" style="margin-top:9px;">
								<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
								<input name="firstDate" class="form-control" placeholder="연도-월-일" type="date" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='date'" style="width:130px;">
							</div>
								~ <input name="lastDate" class="form-control" placeholder="연도-월-일" type="date" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='date'" style="width:130px;">							
							<div class="btn-group  btn-group-sm">
		                        <button class="btn btn-default" type="button" id="today" value="today">오늘</button>
		                        <button class="btn btn-default" type="button" id="week" value="week">일주일</button>
		                        <button class="btn btn-default" type="button" id="month" value="month">한달</button>
	                     	</div>
						</div>
						<div style="text-align: center; margin-bottom:-10px;">
							<button type="submit" class="searchBtn btn btn-dark" style="margin-left:10px; margin-top:-7px;">검색</button>
							<button type="reset" class="btn btn-dark" style="margin-top:-7px;">초기화</button>
						</div>	
					</form>
				</div>
			</div>
		</div>

			<div class="x_content2">
				<table id="datatable" class="table table-striped table-bordered bulk_action dataTable no-footer" role="grid">
					<thead>
						<tr>
							<th style="width: 100px;">상품코드</th>
							<th style="width: 120px;">카테고리</th>
							<th>상품명</th>
							<th style="width: 80px;">정가</th>
							<th style="width: 60px;">할인율</th>
							<th style="width: 80px;">할인가</th>
							<th style="width: 50px;">재고</th>
							<th style="width: 50px;">품절</th>
							<th style="width: 70px;">판매중지</th>
							<th style="width: 80px;">판매자</th>
							<th style="width: 140px;">등록일</th>
							<th style="width: 110px;">관리</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${not #lists.isEmpty(goodsList)}" th:each="g : ${goodsList}" id="goodsListTable" style="text-align:center;">
							<td th:text="${g.goodsCode}"></td>
							<td th:text="${g.goodsSmallCategoryInfo.smallCategoryName}"></td>
							<td th:onclick="|location.href='@{/user/goods/goods(goodsCode=${g.goodsCode})}'|" th:text="${g.goodsName}" style="cursor:pointer; text-align:left;"></td>
							<td th:text="${'₩' + #numbers.formatInteger(g.goodsPrice,3,'COMMA')}"></td>
							<td th:text="${g.goodsDiscountRate + '%'}"></td>
							<td th:text="${'₩'+ #numbers.formatInteger((g.goodsPrice-g.goodsPrice*g.goodsDiscountRate/100),3,'COMMA')}"></td>
							<td th:text="${g.goodsStock}" th:value="${g.goodsStock}" class="goodsStock"></td>
							<td th:text="${g.soldoutCheck}" class="soldoutCheck"></td>
							<td th:text="${g.stopSaleCheck}"></td>
							<td th:onclick="|location.href='@{/admin/user/sellerDetail(sellerId=${g.userInfo.userId})}'|" th:text="${g.userInfo.userId}" style="cursor:pointer;"></td>
							<td th:text="${g.regDate}"></td>
							<td style="text-align: center;">
								<a th:href="@{/admin/goods/goodsModify(goodsCode=${g.goodsCode})}"><i class="fa fa-edit"></i> 수정</a>
								<a href="javascript:void(0);" class="Modal removeBtn" th:data-goods-code="${g.goodsCode}" data-toggle="modal" data-target="#removeModal">
									<i class="fa fa-close"></i> 삭제</a>
							</td>
						</tr>
						<tr th:unless="${not #lists.isEmpty(goodsList)}">
							<td colspan="12">등록된 상품이 없습니다.</td>
						</tr>
					</tbody>
				</table>
			 <span>- 상품명을 클릭하면 해당 상품 페이지로, 판매자 아이디를 클릭하면 해당 판매자 정보페이지로 이동합니다.
			 	<br>- 상품 상세정보는 '수정'버튼을 클릭하면 볼 수 있습니다.</span>
			</div>
		</div>
	</div>
	
<form id="goodsDeleteForm" name="goodsDeleteForm" method="get" th:action="@{/admin/goods/goodsRemove}">
<div class="removeModal modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel" aria-hidden="true">
  <!-- <div class="modal-dialog modal-dialog-centered modal-sm" role="document"> -->
	<div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeModalLabel" style="font-weight: bold;">삭제하시겠습니까?</h5>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="adminPw" class="col-form-label">관리자 비밀번호</label>
            <input type="password" class="pwInput form-control" id="adminPw" name="adminPw">
            <p id="checkTip" style="color:gray; font-weight: bold;"> </p>
          </div>
      </div>
      <div class="modal-footer" style="text-align: center;">
      	<input type="hidden" name="goodsCode" id="goodsCode">
        <button type="button" class="btn btn-dark" id="removeBtnCheck">확인</button>
        <button type="button" class="btn btn-secondary" id='closeBtn' data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
</form>
</th:block>


<th:block layout:fragment="customScript">
<script th:inline="javascript">
	
	 $(function() {
		 
		 /* 재고가 0일때 품절여부 Y 표시 */
		 $('.goodsStock').each(function(){
			 var goodsStock = $(this).text();
			 console.log(goodsStock);
			 
			 if($(this).text() == 0){
				 $(this).next('.soldoutCheck').text('Y');
			 };
		 });
		 
		 /* 모달 열릴 때 이벤트 */
		$('.removeModal').on('show.bs.modal', function (event) {
			//var button = $(event.relatedTarget)
			//var modal = $(this)
			//var modalDialog = $(this).find(".modal-dialog");
			console.log('modal open');
		}); 
		/* 모달 닫을 때 안에 있는 데이터 초기화 */
		$('.removeModal').on('hidden.bs.modal', function(e) {
    		console.log('modal close');
    		document.forms['goodsDeleteForm'].reset();
			$('#pwCheck').text('');
		});
		/* 리스트에서 삭제 버튼 클릭 시 해당 상품 코드 가져오기 */
		$('.removeBtn').each(function(){
			$(this).click(function(){
				var goodsCode =  $(this).data("goods-code");
				$('#goodsCode').val( goodsCode );
				
				// 가져온 상품코드 콘솔 출력
				var removeCood = $('input[name="goodsCode"]').val();
				console.log(removeCood);
			});
		});	
		/* ajax & 모달에서 확인 버튼 클릭 시 관리자 비밀번호 확인 유효성 검사 */
	 	$('#removeBtnCheck').click(function () {
	 		var adminPw = $('input[name="adminPw"]').val();
	 		
			$.ajax({ type: "POST",
	            	 url: "/admin/goods/pwCheck",
	           	 	 data: { userPw : adminPw } ,
	            	 success: function (result) {
	                	if(result == 1){ //비밀번호 불일치
	                		console.log('일치');
	                   		$('#goodsDeleteForm').submit();
	                	}else { //비밀번호 일치
	                		console.log('불일치');
	            	 		
	                    	if(typeof adminPw == 'undefined' || adminPw == null || adminPw == ''){
	            				$('#checkTip').text('! 비밀번호를 입력해주세요.');
	            				$('input[name="adminPw"]').focus()
	            				return false;
	            			}else{
	            				$('#checkTip').text('! 비밀번호가 일치하지 않습니다.');
	            				return false;
	            			}
	                	}
	            	 },
					 error: function (XMLHttpRequest, textStatus, errorThrown) {
			        		alert("통신 실패.")  // 비동기 통신이 실패할경우 error 콜백으로 들어옵니다.
	            	}
			}); 
		}); 
		/* 모달에서 엔터치면 click 이벤트 일어나게 하기 */
		$('.pwInput').keypress(function(event){
		     if ( event.which == 13 ) {
		         $('#removeBtnCheck').click();
		         return false;
		     }
		});
		/* 대분류 선택시 중분류 카테고리 나오게 하기 */
		var largeCategoryList = /*[[${largeCategoryList}]]*/
		var searchKey = /*[[${searchKey}]]*/
		var searchCate = /*[[${searchCate}]]*/
		if(typeof searchKey != 'undefined' && searchKey != null && searchKey != '' && searchCate != ''){
			var searchGoodsList = /*[[${goodsList}]]*/
			var searchGoodsLargeCate = searchGoodsList[0].goodsLargeCategoryInfo.goodsLargeCategory;
			var searchGoodsSmallCate = searchGoodsList[0].goodsSmallCategory;
			console.log(searchGoodsList)
		}
		console.log(searchKey,'<<<<<<<<<<<<<<<<')
		console.log(largeCategoryList)
		var largeCate = $(".largeCate");
		var smallCate = $(".smallCate");
		
		//대분류 <option> 태그
		for(var large of largeCategoryList){
			var largeCode = large.goodsLargeCategory;
			var largeName = large.goodsCategory;
			console.log('largeCode: '+large.goodsLargeCategory)
			console.log('largeName: '+large.goodsCategory)
			
			//검색 후(undefined, null, '' 이 아닐 때) 대분류 option 유지되게 하기 (if문)
			if(typeof searchGoodsLargeCate != 'undefined' && searchGoodsLargeCate != null && searchGoodsLargeCate != ''){
				if(largeCode == searchGoodsLargeCate){
					largeCate.append("<option value='"+ largeCode +"' selected>" + largeName + "</option>");
				}else{					
					largeCate.append("<option value='"+ largeCode +"'>" + largeName + "</option>");
				}
			}else{
				largeCate.append("<option value='"+ largeCode +"'>" + largeName + "</option>");
			}
		}
		
		//대분류 option 클릭 시 중분류 변화
		$(largeCate).on("change",function(){
			//var selectLarge = $(this).find("option:selected").val();	
			//console.log(selectLarge);
			smallCate.children().remove();
			smallCate.append("<option value='none'>::</option>")
				
			for(var large of largeCategoryList){
				var selectLarge = $(this).find("option:selected").val();	
				console.log(selectLarge);
				
				for(var small of large.goodsSmallCategoryInfo){
					var largeCode2 = small.goodsLargeCategory;
					var smallCode = small.goodsSmallCategory;
					var smallName = small.smallCategoryName;
							
					console.log('largeCode2: '+largeCode2);
					console.log('smallCode: '+smallCode);
					console.log('smallName: '+smallName);
						
					if(selectLarge === largeCode2){
						//검색 후(undefined, null, '' 이 아닐 때) 중분류 option 유지되게 하기 (if문)
						if(typeof searchGoodsSmallCate != 'undefined' && searchGoodsSmallCate != null && searchGoodsSmallCate != ''){
							if(smallCode == searchGoodsSmallCate){
								smallCate.append("<option value='goodsSamllCategory' name='"+smallCode+"' selected>" + smallName + "</option>");								
							}else{								
								smallCate.append("<option value='goodsSamllCategory' name='"+smallCode+"'>" + smallName + "</option>");
							}
						}else{							
							smallCate.append("<option value='goodsSamllCategory' name='"+smallCode+"'>" + smallName + "</option>");
						}
					}
				}
			}
		});
		
		//대분류 카테고리가 undefined, null, '' 이 아닐 때 대분류 중분류 옵션 변경 할 수 있게 하기
		if(typeof searchGoodsLargeCate != 'undefined' && searchGoodsLargeCate != null && searchGoodsLargeCate != '' && searchCate != ''){
			$(largeCate).change();
			$(smallCate).change();
		}
		/* select smallCate 선택 시 smallCode 히든 인풋에 넣기 (카테고리 검색에 이용) */
		$('.smallCate').change(function() {
		var smallCateOption = $(".smallCate option:selected").attr('name');
			console.log(smallCateOption);
			$('#searchCate').val( smallCateOption );
		});
		
		/* 날짜 검색 */
		var date = new Date();
		//오늘 날짜 구하기
		var year = date.getFullYear();
		var month = ('0' + (date.getMonth() + 1)).slice(-2);
		var day = ('0' + date.getDate()).slice(-2);
		//오늘 다음날짜 구하기 
		var day2 = (date.getDate()+1);
		//년-월-일 로 출력
		var today = year + '-' + month + '-' + day;
		var today2 = year + '-' + month + '-' + day2;
			
		/* 오늘 */
		$('#today').click(function(){

			console.log(today);
			console.log(today2);
			
			$('input[name=firstDate]').val(today);
			$('input[name=lastDate]').val(today2);
		});
		
		/* 일주일 */
		$('#week').click(function(){
			var date = new Date();
			var weekDate = date.getTime() - (7*24*60*60*1000);
				date.setTime(weekDate);

			var weekYear = date.getFullYear();
			var weekMonth = date.getMonth() + 1;
			var weekDay = date.getDate();

				if(weekMonth < 10) {weekMonth = "0" + weekMonth};
				if(weekDay < 10) {weekDay = "0" + weekDay};

			var week = weekYear + "-" + weekMonth + "-" + weekDay;
			
			console.log(week);
			console.log(today2);
			
			$('input[name=firstDate]').val(week);
			$('input[name=lastDate]').val(today2);
		});
		
		/* 한 달 */
		$('#month').click(function(){
			var today = new Date();
			
			var year = date.getFullYear();
			var month = ('0' + (date.getMonth())).slice(-2);
			var day = ('0' + date.getDate()).slice(-2);
			
			var month2 = year + "-" + month + "-" + day;
			
			console.log(month2);
			
			$('input[name=firstDate]').val(month2);
			$('input[name=lastDate]').val(today2);
		});
		
	});
	</script>
</th:block> 
</html>