<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">
	

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customCss">

<style>
.modal {
  text-align: center;
  padding: 0!important;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
</style>
</th:block>

  <th:block layout:fragment="customTopJs">
  <!-- 섬머노트 -->
  <script src="/js/summernote/summernote-lite.js"></script>
	<script src="/js/summernote/lang/summernote-ko-KR.js"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js">

	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script>
	$(function() {
		$('#removeModal').on('show.bs.modal', function (event) {
			  var button = $(event.relatedTarget)
			//var recipient = button.data('whatever')
			  var modal = $(this)
			  var modalDialog = $(this).find(".modal-dialog");
			//modal.find('.modal-title').text('삭제하시겠습니까?')
			//modal.find('.modal-body input').val(recipient)
			});
		$('#removeModal').on('hidden.bs.modal', function (event) {
			 var modal = $(this)
			 $(this).find('form')[0].reset()
			 $('#pwCheck').text('');
		});
		$('#removeBtn').click(function(){
			var adminPw = $('input[name="adminPw"]').val();
			
			if(typeof adminPw == 'undefined' || adminPw == null || adminPw == ''){
				$('#pwCheck').text('비밀번호를 입력해주세요.');
				$('input[name="adminPw"]').focus()
				return false;
			}
			
			if(adminPw){
				$('#goodsDeleteForm').submit();
			}
		});
	});
	</script>
</th:block> 

<th:block layout:fragment="customContents">
	<div class="page-title">
		<div class="title_left">
			<h3>상품 목록</h3>
		</div>
	</div>

	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h5>
					검색 필터 <a class="collapse-link"><i class="fa fa-chevron-up"
						style="color: #b4b7ba;"></i></a>
				</h5>
				<div class="clearfix"></div>
			</div>

			<div class="x_content">
				<div class="well" style="overflow: auto">
					<div class="form-inline form-group" style="margin-bottom: -1px;">
						<label class="control-label" for="qnaSearch" style="margin-right: 5px;">대분류</label>
							<select class="form-control" style="font-weight: bold;">
								<option>::</option>
								<option value="F000">과일</option>
								<option value="V000">채소</option>
								<option value="G000">쌀/잡곡</option>
								<option value="M000">버섯</option>
								<option value="UF00">못난이과일</option>
								<option value="UV00">못난이채소</option>
								<option value="Z000">기타</option>
							</select>
						<label class="control-label" for="qnaSearch" style="margin-left: 10px; margin-right: 5px;">중분류</label>
							<select class="form-control" style="font-weight: bold;">
								<option>::</option>
								<option value="apple">사과</option>
								<option value="pineapple">파인애플</option>
								<option value="watermelon">수박</option>
								<option value="strawberry">딸기</option>
								<option value="kmelon">참외</option>
								<option value="paprika">파프리카</option>
								<option value="cucumber">오이</option>
								<option value="carrot">당근</option>
								<option value="tomato">토마토</option>
								<option value="bracken">고사리</option>
								<option value="brownrice">현미</option>
								<option value="blackrice">흑미</option>
								<option value="whiterice">백미</option>
								<option value="millet">조</option>
								<option value="kingoystermushroom">새송이버섯</option>
								<option value="enokimushroom">팽이버섯</option>
								<option value="uglypersimmon">못난이감</option>
								<option value="uglyapple">못난이사과</option>
								<option value="uglypotato">못난이감자</option>
								<option value="uglycorn">못난이옥수수</option>
							</select>
						<label style="margin-left: 10px;">상품코드
							<input type="text" class="form-control" size="10" style="margin-left: 5px;">
						</label>
						<label style="margin-left: 10px;">상품명
							<input type="text" class="form-control" size="10" style="margin-left: 5px;">
						</label>
						<label style="margin-left: 10px;">판매자
							<input type="text" class="form-control" size="10" style="margin-left: 5px; margin-right: 9px;">
						</label>
						<input type="checkbox" class="flat">품절
						<input type="checkbox" class="flat">판매중지
					<div style="text-align: center; margin-top:5px;">
						<button type="button" class="btn btn-dark">검색</button>
						<button type="reset" class="btn btn-dark">초기화</button>
					</div>
					</div>
				</div>
			</div>

			<div class="x_content2">
				<table id="datatable"
					class="table table-striped table-bordered bulk_action dataTable no-footer"
					role="grid">
					<thead>
						<tr style="text-align:center;">
							<th style="width: 100px;">상품코드</th>
							<th>상품명</th>
							<th style="width: 80px;">정가</th>
							<th style="width: 60px;">할인율</th>
							<th style="width: 80px;">할인가</th>
							<th style="width: 50px;">재고</th>
							<th style="width: 50px;">품절</th>
							<th style="width: 70px;">판매중지</th>
							<th style="width: 80px;">판매자</th>
							<th style="width: 60px;">신고수</th>
							<th style="width: 140px;">등록일</th>
							<th>관리</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${not #lists.isEmpty(goodsList)}"
							th:each="g : ${goodsList}" id="goodsListTable">
							<td th:text="${g.goodsCode}"></td>
							<td th:text="${g.goodsName}"></td>
							<td th:text="${'₩' + #numbers.formatInteger(g.goodsPrice,3,'COMMA')}"></td>
							<td th:text="${g.goodsDiscountRate}"></td>
							<td th:text="${'₩'+ #numbers.formatInteger((g.goodsPrice-g.goodsPrice*g.goodsDiscountRate/100),3,'COMMA')}"></td>
							<td th:text="${g.goodsStock}"></td>
							<td th:text="${g.soldoutCheck}"></td>
							<td th:text="${g.stopSaleCheck}"></td>
							<td th:text="${g.userInfo.userId}"></td>
							<td th:text="${g.goodsReportAmount}"></td>
							<td th:text="${g.regDate}"></td>
							<td style="text-align: center; width: 110px;">
								<!-- <a th:href="@{/admin/goods/modifyGoods}"><i class="fa fa-edit"></i>수정</a> -->
								<a th:href="@{/admin/goods/goodsModify(goodsCode=${g.goodsCode})}"><i class="fa fa-edit"></i> 수정</a>
								<!-- <a href="#"><i class="fa fa-edit"></i> 수정</a> -->
								<a href="javascript:void(0);" class="Modal" data-toggle="modal" data-target="#removeModal"><i class="fa fa-close"></i> 삭제</a>
							</td>
						</tr>
						<tr th:unless="${not #lists.isEmpty(goodsList)}">
							<td colspan="11">등록된 상품이 없습니다.</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel" aria-hidden="true">
  <!-- <div class="modal-dialog modal-dialog-centered modal-sm" role="document"> -->
	<div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeModalLabel" style="font-weight: bold;">삭제하시겠습니까?</h5>
      </div>
      <div class="modal-body">
        <form id="goodsDeleteForm" method="post">
          <div class="form-group">
            <label for="adminPw" class="col-form-label">관리자 비밀번호</label>
            <input type="password" class="form-control" id="adminPw" name="adminPw">
            <p id="pwCheck" style="color:gray; font-weight: bold;"> </p>
          </div>
        </form>
      </div>
      <div class="modal-footer" style="text-align: center;">
        <button type="button" class="btn btn-dark" id="removeBtn">확인</button>
        <button type="button" class="btn btn-secondary" id='closeBtn' data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
</th:block>
</html>