<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customContents">

<style>
.div_1 {
	margin: 7px;
	border: 0;
	background: #fff;
	box-shadow: 0px 1px 12px rgb(0 0 0/ 10%);
	border-radius: 5px;
	overflow: hidden;
	text-align: center;
	padding: 20px;
	font-size: 18px;
	margin-top: 80px;
}

.div_2 {
	margin: 7px;
	border: 0;
	background: #fff;
	box-shadow: 0px 1px 12px rgb(0 0 0/ 10%);
	border-radius: 5px;
	overflow: hidden;
	padding: 30px;
	font-size: 18px;
	height: 500px;
	gap: 0px;
}

.div-4 {
	display: flex;
	justify-content: space-around;
}
th {
	text-align: center;
}
</style>


	<div class="row div_1">
		<table class="table  "
			style="margin: 0px; font-size: 15px; text-align: left;">

			<tbody>
				<tr>
					<th style="width: 150px; text-align: center;">결제 확인일</th>
					<td><label> <input type="radio" name="day">
							월별
					</label> <label> <input type="radio" name="day"> 일별
					</label></td>
				</tr>
				<tr>
					<th style="width: 150px; text-align: center;">기간</th>
					<td><select>
							<option>:: 년도::</option>
					</select> <select>
							<option>:: 월::</option>
					</select></td>
				</tr>
				<tr>
					<td colspan="2" style="text-align: center;">
						<button type="button">초기화</button>
						<button type="button">검색</button>
					</td>
				</tr>
			</tbody>
		</table>

	</div>


	<div class="row  div-4">
		<div class="div_2 " style="width: 1000px; height: 1010px;">
			<dl>
				<dt>카테고리별 결제 금액 (그래프) 	 <small>*상품의 원가로 계산되었습니다</small></dt>
			</dl>
				<hr style="border: solid 1px #D3D3D3;">
			<canvas id="cayegoryBar-cart" width="800" height="750"></canvas>
		</div>
		<div>

			<div class="div_2" style="width: 810px;">
				<dl><dt>카테고리별 결제 금액 비율</dt></dl>
					<hr style="border: solid 1px #D3D3D3;">
				<canvas id="doughnut-chart" width="700" height="350"></canvas>
			</div>
			<div class="div_2" style="width: 810px;">
				<dl><dt>카테고리별 교환/환불</dt></dl>
					<hr style="border: solid 1px #D3D3D3;">
				<div class="" role="tabpanel" data-example-id="togglable-tabs">
						<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
							<li role="presentation" class="active" >
								<a href="#exchangeTab" class="tabs" role="tab" data-toggle="tab"><b>교환</b></a>
							</li>
							<li role="presentation" class="" >
								<a href="#cancelTab" class="tabs" role="tab" data-toggle="tab"><b>반품</b></a>
							</li>
						</ul>
						<div id="myTabContent" class="tab-content">
							<div role="tabpanel" class="tab-pane fade active in" id="exchangeTab">

								<!-- user detail form Start -->
								<table class=" table table-responsive" >
									<tbody style="text-align: center;">
										<tr>
											<th rowspan="2" style=" padding-top: 25px; " th:text="월"></th>
										<th:block th:if="${not #lists.isEmpty(cateInfoListEx)}"  th:each="cle : ${cateInfoListEx}">
											<th colspan="2"  th:text="${cle.goodsCategory}"></th>
										</th:block>
										</tr>
										<tr>
										<th:block th:if="${not #lists.isEmpty(orderExchange)}"  th:each="cle : ${cateInfoListEx}">
											<td>건수</td>
											<td>금액</td>
										</th:block>
										</tr>
										<th:block th:if="${not #lists.isEmpty(orderExchange)}"  th:each="oeh : ${orderExchange}">
											<tr>
												<td th:text="${oeh.exchangeAskDate}"></td>
												<th:block th:if="${not #lists.isEmpty(cateInfoListEx)}"  th:each="cle : ${cateInfoListEx}">												
													<td th:text="${oeh.get(cle.cnt)}"></td>
													<td th:text="${oeh.get(cle.total) > 0 ? #numbers.formatInteger(oeh.get(cle.total),3,'COMMA') : 0}"></td>
												</th:block>
											</tr>
										</th:block>
									</tbody>
								</table>
								<!-- user detail form Start -->

							</div>
							<div role="tabpanel" class="tab-pane fade" id="cancelTab">
								<!-- farm detail form Start -->
								<table class=" table table-responsive" >
									<tbody style="text-align: center;">
										<tr>
											<th rowspan="2" style=" padding-top: 25px; " th:text="월"></th>
										<th:block th:if="${not #lists.isEmpty(cateInfoList)}"  th:each="cl : ${cateInfoList}">
											<th colspan="2"  th:text="${cl.goodsCategory}"></th>
										</th:block>
										</tr>
										<tr>
										<th:block th:if="${not #lists.isEmpty(orderReturn)}"  th:each="cl : ${cateInfoList}">
											<td>건수</td>
											<td>금액</td>
										</th:block>
										</tr>
										<th:block th:if="${not #lists.isEmpty(orderReturn)}"  th:each="ore : ${orderReturn}">
											<tr>
												<td th:text="${ore.returnAskDate}"></td>
												<th:block th:if="${not #lists.isEmpty(cateInfoList)}"  th:each="cl : ${cateInfoList}">												
													<td th:text="${ore.get(cl.cnt)}"></td>
													<td th:text="${ore.get(cl.total) > 0 ? #numbers.formatInteger(ore.get(cl.total),3,'COMMA') : 0}"></td>
												</th:block>
											</tr>
										</th:block>
									</tbody>
								</table>
								<!-- farm detail form End -->
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>

	<div class="div_2">
		<dl><dt>결제 금액 (표)</dt></dl>
			<hr style="border: solid 1px #D3D3D3;">
		<div>
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th>1월</th>
						<th>2월</th>
						<th>3월</th>
						<th>4월</th>
						<th>5월</th>
						<th>6월</th>
						<th>7월</th>
						<th>8월</th>
						<th>9월</th>
						<th>10월</th>
						<th>11월</th>
						<th>12월</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>카테고리명</th>
						<td>0원</td>
						<td>0원</td>
						<td>0원</td>
						<td>0원</td>
						<td>0원</td>
						<td>0원</td>
						<td>0원</td>
						<td>0원</td>
						<td>0원</td>
						<td>0원</td>
						<td>0원</td>
						<td>0원</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>





</th:block>
<!-- jQuery -->
<th:block layout:fragment="customScript">
	<th:block th:replace="fragments/adminJs :: datatablesFragment"></th:block>
	<script th:src="@{/build/js/Chart.min.js}"></script>

<script th:inline="javascript">
$(function(){	
	 /*<![CDATA[*/
	 let goodsCategory = [];
	 let orderPrice = [];
	 /*]]>*/
     /*[# th:each="n : ${paymentAmount}"]*/
      goodsCategory.push("[(${n.GoodsLargeCategoryDto.goodsCategory})]") ; 
      orderPrice.push("[(${n.OrderDetailDto.orderPrice})]");
     /*[/]*/
     
     console.log(goodsCategory);
     console.log(orderPrice);
     
     
	  new Chart(document.getElementById("cayegoryBar-cart"), {
	    type: 'bar',
	    data: {
	      labels: goodsCategory,
	      datasets: [
	        {
	          label: "결제 금액",
	            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
	            data: orderPrice
	          }
	        ]
	      },
	      options: {
	        legend: { display: false },
	        title: {
	          display: true,
	          text: '카테고리 결제 금액'
	        }
	      }
	    });
	    
	      new Chart(document.getElementById("doughnut-chart"), {
	    type: 'doughnut',
	    data: {
	      labels: goodsCategory,
	      datasets: [
	        {
	          label: "Population (millions)",
	          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
	          data: orderPrice
	        }
	      ]
	    },
	    options: {
	      title: {
	        display: true,
	        text: '카테고리별 결제 금액 비율'
	      }
	    }
	});
});
    </script>

</th:block>
</html>
