<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/userMyPage}">

<th:block layout:fragment="customMyPageCss">

</th:block>

<th:block layout:fragment="customContents">
    <h1>내용을 입력하세요.</h1>
<div class="col-md-9">
    <table class="table" style="border-top: 2px solid; width: 100%;">
        <thead>
        <tr>
            <th>Example</th>
            <th>Example</th>
            <th>Example</th>
            <th>Example</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Example</td>
            <td>Example</td>
            <td>Example</td>
            <td>Example</td>
        </tr>
        <tr>
            <td>Example</td>
            <td>Example</td>
            <td>Example</td>
            <td>Example</td>
        </tr>
        <tr>
            <td>Example</td>
            <td>Example</td>
            <td>Example</td>
            <td>Example</td>
        </tr>
        <tr>
            <td>Example</td>
            <td>Example</td>
            <td>Example</td>
            <td>Example</td>
        </tr>
        <tr>
            <td>Example</td>
            <td>Example</td>
            <td>Example</td>
            <td>Example</td>
        </tr>
        </tbody>
    </table>
</div>
</th:block>

<th:block layout:fragment="customMyPageJs">

</th:block>


</html>