<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="leftmenubum">
<li><a><i class="fa fa-edit"></i> 주문관리 <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a th:href="@{/admin/address/list}">#배송지목록</a></li>
        <li><a th:href="@{/admin/order/liston}">#주문목록</a></li>
        <li><a th:href="@{/admin/order/listoff}">#주문관리</a></li>
    </ul>
</li>
<li><a><i class="fa fa-edit"></i> 정기배송관리 <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a th:href="@{/admin/regularpost/list}">#정기배송목록</a></li>
        <li><a th:href="@{/admin/regularpost/manage}">#정기배송관리</a></li>
        <li><a th:href="@{/admin/regularpost/history}">#정기배송내역</a></li>
        <li><a th:href="@{/admin/regularpost/goodslist}">#정기배송상품목록</a></li>
        <li><a th:href="@{/admin/regularpost/goodsmodify}">#정기배송상품수정</a></li>
        <li><a th:href="@{/admin/regularpost/goodsdelete}">#정기배송상품삭제</a></li>
    </ul>
</li>
<li><a><i class="fa fa-edit"></i> 유저정기배송관리 <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a th:href="@{/user/regularpost/list}">#유저정기배송목록</a></li>
        <li><a th:href="@{/user/regularpost/history}">#유저정기배송내역</a></li>
        <li><a th:href="@{/user/regularpost/modify}">#유저정기배송수정</a></li>
        <li><a th:href="@{/user/regularpost/delete}">#유저정기배송삭제</a></li>
        <li><a th:href="@{/user/regularpost/skip}">#유저정기배송스킵</a></li>
    </ul>
</li>
</th:block>

</html>