<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="leftmenubo">
<li><a><i class="fa fa-user"></i> 회원관리(김보경) <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a th:href="@{/admin/user/addUser}">!회원 등록</a></li>
        <li><a th:href="@{/admin/user/userList}">!전체회원 목록</a></li>
        <li><a th:href="@{/admin/user/sellerList}">!판매자 조회/승인</a></li>
        <li><a th:href="@{/admin/user/dormantList}">!휴면회원 목록</a></li>
        <li><a th:href="@{/admin/user/leaveList}">!탈퇴회원 목록</a></li>
    </ul>
</li>
<li><a><i class="fa fa-bell-o"></i> 알림관리(김보경) <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a th:href="@{/admin/alert/alertList}">!알림관리</a></li>
        <li><a th:href="@{/admin/alert/alertSendList}">!알림전송내역</a></li>
    </ul>
</li>
<li><a><i class="fa fa-file-text-o"></i> 로그관리(김보경) <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a th:href="@{/admin/user/loginList}">!로그조회</a></li>
    </ul>
</li>
</th:block>

</html>