<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="leftmenusun">
	<li>
		<a><i class="fa fa-bar-chart-o"></i> ! 카테고리 관리 (김선규) <span class="fa fa-chevron-down"></span></a>
	  	<ul class="nav child_menu">
    		<li><a th:href="@{/admin/category/levelBuyer}">! 구매자 등급 카테고리</a></li>
			<li><a th:href="@{/admin/category/levelSeller}">! 판매자 등급 카테고리</a></li>
			<li><a th:href="@{/admin/category/customerAsk}">! 고객 문의 카테고리</a></li>
			<li><a th:href="@{/admin/category/regularAsk}">! 자주 묻는 질문 카테고리</a></li>
			<li><a th:href="@{/admin/category/board}">! 게시판 카테고리</a></li>
			<li><a th:href="@{/admin/category/report}">! 신고 대상 카테고리</a></li>
			<li><a th:href="@{/admin/category/goodsLarge}">! 판매 상품 카테고리 대분류</a></li>
			<li><a th:href="@{/admin/category/goodsSmall}">! 판매 상품 카테고리 소분류</a></li>
			<li><a th:href="@{/admin/category/goodsQna}">! 상품 문의 카테고리</a></li>
	  	</ul>
	</li>
	<li><a><i class="fa fa-tasks"></i> 자주 묻는 질문 관리 (김선규) <span class="fa fa-chevron-down"></span></a>
		<ul class="nav child_menu">
			<li><a th:href="@{/admin/regularAsk/regularAskList}">자주 묻는 질문 목록</a></li>
			<li><a th:href="@{/admin/regularAsk/addRegularAsk}">자주 묻는 질문 등록</a></li>
		</ul>
	</li>
	<li><a><i class="fa fa-comments"></i>! 고객 문의 관리 (김선규) <span class="fa fa-chevron-down"></span></a>
		<ul class="nav child_menu">
			<li><a th:href="@{/admin/customerAsk/customerAskList}">! 고객 문의 목록</a></li>
			<li><a th:href="@{/admin/customerAsk/askAnswerList}">! 문의 답변 목록</a></li>
		</ul>
	</li>
</th:block>

</html>