<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="leftmenubum">
<li><a><i class="fa fa-edit"></i> 주문관리 <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a th:href="@{/admin/address/list}">#배송지목록</a></li>
        <li><a th:href="@{/admin/order/liston}">#주문목록</a></li>
        <li><a th:href="@{/admin/order/listoff}">#주문관리</a></li>
    </ul>
</li>
</th:block>

</html>