<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<li th:fragment="leftmenusun"><a><i class="fa fa-bar-chart-o"></i> 선규 <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a>카테고리 관리<span class="fa fa-chevron-down"></span></a>
   	    	<ul class="nav child_menu">
       			<li class="sub_menu"><a th:href="@{/admin/category/categoryList}">#카테고리 목록</a>
          		</li>
          		<li><a th:href="@{/admin/category/addCategory}">#카테고리 등록</a>
           		</li>
	        </ul>  
        </li>
        <li><a>자주 묻는 질문 관리<span class="fa fa-chevron-down"></span></a>
   	    	<ul class="nav child_menu">
       			<li class="sub_menu"><a th:href="@{/admin/regularAsk/regularAskList}">#자주 묻는 질문 목록</a>
          		</li>
          		<li><a th:href="@{/admin/regularAsk/addRegularAsk}">#자주 묻는 질문 등록</a>
           		</li>
	        </ul>  
        </li>
        <li><a>고객센터 관리<span class="fa fa-chevron-down"></span></a>
   	    	<ul class="nav child_menu">
       			<li class="sub_menu"><a th:href="@{/admin/customerAsk/customerAskList}">#고객 문의 목록</a>
          		</li>
          		<li><a th:href="@{/admin/customerAsk/askAnswerList}">#문의 답변 목록</a>
           		</li>
	        </ul>  
        </li>
    </ul>
</li>

</html>