<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="leftmenusuk">
<li><a><i class="fa fa-money"></i> 결제관리(김석환) <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a th:href="@{/admin/payment/paymentList}">결제내역</a></li>
        <li><a th:href="@{/admin/payment/paymentDetail}">결제상세내역</a></li>
    </ul>
</li>
<li><a><i class="fa fa-smile-o"></i> 포인트관리(김석환) <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a th:href="@{/admin/point/pointHistory}">포인트내역</a></li>
        <li><a th:href="@{/admin/point/pointUserList}">전체회원 포인트조회</a></li>
    </ul>
</li>
<li><a><i class="fa fa-newspaper-o"></i> 쿠폰관리(김석환) <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a th:href="@{/admin/coupon/couponList}">쿠폰목록</a></li>
        <li><a th:href="@{/admin/coupon/couponStatus}">쿠폰보유현황</a></li>
    </ul>
</li>
</th:block>

</html>