<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="leftmenucho">
<li><a><i class="fa fa-desktop"></i> 신고/정지 관리(황초희) <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a th:href="@{/admin/report/reportList}">신고 목록</a></li>
        <li><a th:href="@{/admin/report/userSuspendList}">정지 목록</a></li>
        <li><a th:href="@{/admin/report/reportRuleList}">벌점 기준 목록</a></li>
    </ul>
</li>
<li><a><i class="fa fa-desktop"></i> 장부관리(황초희) <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
          <li><a th:href="@{/admin/ledgerBook/sellerBook}">판매자장부</a></li>
          <li><a th:href="@{#}">구매자장부</a></li>
    </ul>
</li>
</th:block>

</html>