<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="pointHistorySearchFragment">
	<div class="container" style="float: left; margin-left: 8px; margin-bottom: 10px;">
		<div class="row">
			<form class="form-inline" th:action="@{/admin/point/pointHistory}" method="post">
				<div class="form-group">
					<div class="col-sm-2">
						<input name="fromDate" class="date-picker form-control" placeholder="연도-월-일" type="date" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='date'">
					</div>
				</div>
				<span style="font-size: x-large; vertical-align: middle;">~</span>
				<div class="form-group">
					<div class="col-sm-2">
						<input name="toDate" class="date-picker form-control" placeholder="연도-월-일" type="date" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='date'">
					</div>
				</div>
				<div class="form-group">
					<select name="searchKey" style="padding-top:7px; padding-bottom: 7px; text-align: center;">
						<option value="">:::선택:::</option>
						<option value="userId">회원아이디</option>
						<option value="status">구분</option>
						<option value="pointDealReason">포인트거래내용</option>
					</select>
				</div>
				<div class="form-group row">
					<div class="col-md-8">
						<input type="text" name="searchValue" class="form-control" style="width: 200px;" placeholder="검색어를 입력해주세요">
					</div>
					<div class="col-md-4">
						<button type="submit" class="btn btn-primary" style="width: 100%;">검색</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</th:block>
</html>

