<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">

<th:block layout:fragment="customCss">
	<style>
th {
	text-align: center;
}

.table > tbody > tr > td {
	vertical-align: middle;
	text-align: center;
}
</style>
</th:block>

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customContents">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>
					포인트내역 <small>Admin</small>
				</h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-expanded="false"><i
							class="fa fa-wrench"></i></a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="#">Settings 1</a> <a
								class="dropdown-item" href="#">Settings 2</a>
						</div></li>
					<li><a class="close-link"><i class="fa fa-close"></i></a></li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>회원아이디</th>
							<th>구분</th>
							<th style="width: 170px">포인트</th>
							<th style="width: 110px">포인트거래내용</th>
							<th>거래일시</th>
							<th>관리</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${not #lists.isEmpty(pointHistory)}" th:each="p : ${pointHistory}">
							<td th:text="${p.userId}"></td>
							<td th:text="${p.status}"></td>
							<td th:text="${p.pointDealPrice}"></td>
							<td th:text="${p.pointDealReason}"></td>
							<td th:text="${p.pointDealDate}"></td>
							<td>
								<a href="#"><i class="fa fa-edit"></i> 수정</a> 
								<a href="#"><i class="fa fa-close"></i>삭제</a>
							</td>
						</tr>
						<tr th:unless="${not #lists.isEmpty(pointHistory)}">
							<td colspan="5">등록된 쿠폰이 없습니다.</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</th:block>

</html>