<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminDefault}">

<th:block layout:fragment="customTitle">
    <title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customContents">
   <div class="row" style="display: inline-block;">
      <div class="tile_count">
        <h1>신고 관리</h1>
      </div>
   </div>
        <div class="col-md-12 col-sm-12 ">
          <div class="x_panel">

            <div class="x_title">
              <h2>처리 대기중</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                      class="fa fa-wrench"></i></a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Settings 1</a>
                    <a class="dropdown-item" href="#">Settings 2</a>
                  </div>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>

            <div class="x_content">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th class="column-title">회원신고기록코드 </th>
                    <th class="column-title">신고 대상 아이디 </th>
                    <th class="column-title">신고자 아이디</th>
                    <th class="column-title">신고 카테고리 </th>
                    <th class="column-title">신고 사유 코드 </th>
                    <th class="column-title">신고 시간 </th>
                    <th class="column-title">처리상태</th>
                    <th class="bulk-actions" colspan="8">
                      <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt">
                        </span> ) <i class="fa fa-chevron-down"></i></a>
                    </th>
                  </tr>
                </thead>

                <tbody >
                  <tr th:if="${l.reportResult == '대기중' }" th:each="l : ${reportList}"  class="even pointer">
                    <td th:text="${l.reportHistoryCode}"></td>
                    <td th:text="${l.reportedId}"></td>
                    <td th:text="${l.reportingId}"> </td>
                    <td th:text="${l.reportWhat}"></td>
                    <td th:text="${l.reportReason}"></td>
                    <td th:text="${l.reportDate}"></td>
                    <td th:text="${l.reportResult}"></td>
                  </tr>
                </tbody>
              </table>
            </div>



          </div>
          <div class="x_panel">

            <!-- 검색 시작-->
            <div class="input-group">
                <select class="col-1" style="margin-bottom: 4px; margin-right: 10px; font-size: 16px;" >
                  <option>아이디</option>
                  <option>닉네임</option>
                </select>
                <label>
                 <input type="text" >
                  <button type="button" class="btn btn-outline-secondary ">검색 </button>
                </label>
             
            </div>
            <!-- 검색 끝-->

            <div class="x_title">
              <h2>신고 리스트</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                      class="fa fa-wrench"></i></a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Settings 1</a>
                    <a class="dropdown-item" href="#">Settings 2</a>
                  </div>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>

            <div class="x_content">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th class="column-title">회원신고기록코드 </th>
                    <th class="column-title">신고 대상 아이디 </th>
                    <th class="column-title">신고자 아이디</th>
                    <th class="column-title">신고 카테고리 </th>
                    <th class="column-title">신고 사유 코드 </th>
                    <th class="column-title">신고 시간 </th>
                    <th class="column-title">처리 시간 </th>
                    <th class="column-title">처리상태</th>
                    <th class="bulk-actions" colspan="8">
                      <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt">
                        </span> <i class="fa fa-chevron-down"></i></a>
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr th:if="${not #lists.isEmpty(reportList)}" th:each="l : ${reportList}"  class="even pointer">
                    <td th:text="${l.reportHistoryCode}"></td>
                    <td th:text="${l.reportedId}"></td>
                    <td th:text="${l.reportingId}"> </td>
                    <td th:text="${l.reportWhat}"></td>
                    <td th:text="${l.reportReason}"></td>
                    <td th:text="${l.reportDate}"></td>
                    <td th:text="${l.reportResultDate}"></td>
                    <td th:text="${l.reportResult}"></td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
          </div>
</th:block>

<th:block layout:fragment="customJsScript">

    <th:block th:replace="/fragments/adminJs :: datatablesFragment"></th:block>

</th:block>

</html>