<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customCss">
	<style>
		.loginInput {
			margin-bottom: 10px;
		}
		
		.userDetail td{
			padding-left: 12px !important;
		}
      
		.userDetail button {
			margin: 5px 3px 5px;
		}

		.tableOdd {
			background-color: #f6f6f6;
			font-weight: bold;
			padding-top: 20px !important;
		}
  
		.tableEven .text {
			width: 230px;
			margin: 3px;
		}
  
		.tableEven .select {
			width: 230px;
			margin: 3px;
		}

		.tableEven label {
			padding-top: 4px;
		}

		.text {
			margin-right: 6px;
		}
		
		.userAddr {
			width: 350px !important;
			margin-right: 6px;
		}
		
		.file {
			margin-left: 5px;
		}
		
		.checks {
			font-size: 12px;
			margin-left: 6px;
			border: 1px soild black;
		}
		

</style>
</th:block>

<th:block layout:fragment="customContents">
	
	<form id="addSellerForm" th:action="@{/admin/user/addSeller}" method="post">
		<div class="page-title">
			<div class="title_left">
				<h3>판매자등록</h3>
			</div>

			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="x_panel" style="padding-top: 30px;">
						<div class="x_content">
							<input type="hidden" class="form-control text" id="sellerCode" name="sellerCode" />
 							<input type="hidden" class="form-control text" id="approveCheck" name="approveCheck" value="N" />
							<table class="userDetail table table-responsive">
								<tbody>
									<tr>
										<td class="tableOdd col-md-1">판매분류</td>
										<td class="tableEven col-md-4" colspan="3">
											<div class="form-inline">
	 											<select class="select form-control" id="sellerSort" name="sellerSort">
													<th:block th:unless="${#lists.isEmpty(goodsLargeCategory)}" th:each="gCate : ${goodsLargeCategory}">
														<option th:value="${gCate.goodsLargeCategory}" th:text="${gCate.goodsCategory}"></option>
													</th:block>
													<th:block th:if="${#lists.isEmpty(goodsLargeCategory)}">
														<option>등록된 분류가 없습니다.</option>
													</th:block>
												</select>
											</div>
										</td>
									</tr>
									<tr>
										<td class="tableOdd col-md-1">아이디</td>
										<td class="tableEven col-md-4">
											<input type="text" class="form-control text" id="sellerId" name="sellerId" th:value="${userInfo.userId}" readonly="readonly" />
										</td>
										<td class="tableOdd col-md-1">상호명</td>
										<td class="tableEven col-md-4" colspan="3">
											<div class="form-inline">
												<input type="text" class="form-control text" id="storeName" name="storeName" placeholder="상호명을 입력해주세요." />
												<span class="checks" id="storeNameCheck"></span>
											</div>
										</td>
									</tr>
									<tr>
										<td class="tableOdd">계좌정보</td>
										<td class="tableEven col-md-4" colspan="3">
												<div class="form-inline">
												<select class="form-control text" style="width: 160px;" id="bankName" name="bankName">
							                        <option value="">- 은행선택 -</option>
							                        <option value="경남은행">경남은행</option>
							                        <option value="광주은행">광주은행</option>
							                        <option value="국민은행">국민은행</option>
							                        <option value="기업은행">기업은행</option>
							                        <option value="기업은행">기업은행</option>
							                        <option value="농협회원조합">농협회원조합</option>
							                        <option value="대구은행">대구은행</option>
							                        <option value="부산은행">부산은행</option>
							                        <option value="새마을금고">새마을금고</option>
							                        <option value="수협중앙회">수협중앙회</option>
							                        <option value="신한은행">신한은행</option>
							                        <option value="신협중앙회">신협중앙회</option>
							                        <option value="외환은행">외환은행</option>
							                        <option value="우리은행">우리은행</option>
							                        <option value="우체국">우체국</option>
							                        <option value="전북은행">전북은행</option>
							                        <option value="제주은행">제주은행</option>
							                        <option value="카카오뱅크">카카오뱅크</option>
							                        <option value="케이뱅크">케이뱅크</option>
							                        <option value="하나은행">하나은행</option>
							                        <option value="SC제일은행">SC제일은행</option>
												</select>
												<input type="text" class="form-control text" style="width: 240px;" id="account" name="account" placeholder="계좌번호" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
												<input type="text" class="form-control text" style="width: 160px;" id="accountHolder" name="accountHolder" placeholder="예금주명" />
												<span class="checks" id="bankNameCheck"></span>
												<span class="checks" id="accountCheck"></span>
												<span class="checks" id="accountHolderCheck"></span>
											</div>
										</td>
									</tr>
									<tr>
										<td class="tableOdd">사업지 주소</td>
										<td class="tableEven col-md-4" colspan="3">
											<div class="form-inline">
												<input type="text" class="userAddr form-control addr" id="storeAddress" name="storeAddress" placeholder="주소를 검색해주세요." readonly="readonly" /> 
												<input type="text" class="userAddr form-control addr" id="storeAddress2" name="storeAddress2" placeholder="상세주소를 입력해주세요." />
												<button type="button" class="btn" id="addrSearchBtn">주소검색</button>
												<span class="checks" id="addressCheck"></span>
												<span class="checks" id="addressCheck2"></span>
											</div>
										</td>
									</tr>
									<tr>
										<td class="tableOdd">사업자 대표전화</td>
										<td class="tableEven col-md-4">
											<div class="form-inline">
												<input type="text" class="form-control text phoneNumber" id="storePhone" name="storePhone" placeholder="숫자만 입력해주세요." oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="11" />
												<span class="checks" id="phoneCheck"></span>
											</div>
										</td>
										<td class="tableOdd col-md-1">사업자 이메일</td>
										<td class="tableEven col-md-4">
											<div class="form-inline">
												<input type="text" class="form-control text" id="storeEmail" name="storeEmail" placeholder="예:ksmart@gmail.com" />
												<span class="checks" id="emailCheck"></span>
											</div>
										</td>
									</tr>
									<tr>
										<td class="tableOdd">사업자 등록번호</td>
										<td class="tableEven col-md-4" colspan="3">
											<div class="form-inline">
												<input type="text" class="form-control text" id="licenceNum" name="licenceNum" placeholder="숫자만 입력해주세요." oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
												<span class="checks" id="licenceNumCheck"></span>
											</div>
										</td>
									</tr>
									<tr>
										<td class="tableOdd">사업자등록증</td>
										<td class="tableEven col-md-4" style="padding: 16px;">
											<div class="form-inline">
												<input type="file" class="file" id="licenceImg" name="licenceImg" accept="image/png, image/jpeg">
												<span class="checks" id="licenceImgCheck"></span>
											</div>
										</td>
										<td class="tableOdd">통신판매업신고증</td>
										<td class="tableEven col-md-4"  style="padding: 16px;">
											<div class="form-inline">
												<input type="file" class="file" id="onlineLicenceImg" name="onlineLicenceImg" accept="image/png, image/jpeg">
												<span class="checks" id="onlineImgCheck"></span>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<!-- add Seller form End -->
							
							<div class="form-group">
		                        <div style="text-align:center; margin: 30px;">
									<button type="button" class="btn btn" th:onclick="|location.href='@{/admin/user/sellerList}'|">취소</button>
									<button type="submit" class="btn btn-dark btn addSellerBtn" id="addSellerBtn">등록</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</th:block>

<th:block layout:fragment="customJsScript">
	<th:block th:replace="/fragments/userJs :: datatablesFragment"></th:block>

	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>

    	var codeCheck = false;
	    var idCheck = false;
		var storeNameCheck = false;
		var bankNameCheck = false;
		var accountCheck = false;
		var accountHolderCheck = false; 
		var accountCheckFinal = false; 
		var addressCheck = false;
		var addressCheck2 = false;
		var addressCheckFinal = false;
		var phoneCheck = false;
		var emailCheck = false;
		var licenceNumCheck = false;
		var licenceImgCheck = false;
		var onlineImgCheck = false; 
		var approveCheck = false;
    
    	/* 주소 검색 */
		let text = document.querySelector('#storeAddress');
		document.querySelector('#addrSearchBtn').addEventListener('click', function () {
			
			new daum.Postcode({
				oncomplete: function (data) {
					$('#storeAddress').css('border','1px solid #ccc');
			        $('#addressCheck').html('');
					text.value = data.address;
				}
			}).open();
			
			//상세주소 초기화
			var input = document.getElementById('storeAddress2'); 
			input.value = null;
		});
    
		/* 전화번호 입력시 자동 대시(-) */
/* 		$(document).on("keyup", ".phoneNumber", function() { 
			$(this).val( $(this).val().replace(/[^0-9]/g, "").replace(/(^02|^0505|^1[0-9]{3}|^0[0-9]{2})([0-9]+)?([0-9]{4})$/,"$1-$2-$3").replace("--", "-") ); 
		}); */
		
		/* 랜덤 판매자 코드 생성 */
		$(function() {
			var text1 = "";
			var text2 = "";
			var ranCode="";
			var alphabet = "abcdefghijklmnopqrstuvwxyz";
			var num = "0123456789";
	
			for(var i=0; i < 2; i++) {      
				text1 += alphabet.charAt(Math.floor(Math.random() * alphabet.length));
			}
			for(var i=0; i < 3; i++){      
				text2 += num.charAt(Math.floor(Math.random() * num.length));
			}
			ranCode = text1+text2;
			$('#sellerCode').attr('value',ranCode);
			
			/* 판매자코드 중복체크 */
			var sellerCode = $('#sellerCode').val();
			
			$.ajax({
				url: '/admin/user/codeCheck',
				method: 'GET',
				data: { 'sellerCode' : sellerCode },
				success : function(cnt) {
					if(cnt == 0){
						$('#sellerCode').attr('value',ranCode);
		                codeCheck = true;
					}else {
						codeCheck = false;
					}	
				}
			});
			//$('#sellerCode').attr('value',ranCode);
		});
		
		/* 상호명 중복체크 */
		$("#storeName").on("propertychange change keyup paste input",function() {
		
			var storeName = $('#storeName').val();
			
			$.ajax({
				url: '/admin/user/storeNameCheck',
				method: 'GET',
				data: { 'storeName' : storeName },
				//dataType: "json",  //String이면 text   //text, json, xml, html
				success : function(cnt) {
					if(cnt == 0){
		                $('#storeNameCheck').css('color','#36ae36');
		                $('#storeNameCheck').html("* 사용 가능한 상호명입니다.");
		                $('#storeName').css('border','1px solid #36ae36');
		                storeNameCheck = true;
					}else {
						$('#storeNameCheck').css('color','#f03f40');
		                $('#storeNameCheck').html("* 이미 사용중인 상호명입니다.");
		                $('#storeName').css('border','1px solid #f03f40');
						$('#storeName').focus();
						storeNameCheck = false;
					}	
				}
			});
		});
		
		/* 이메일 중복체크 */
		$("#storeEmail").on("propertychange change keyup paste input",function() {
			
			var storeEmail = $('#storeEmail').val();
			
			// 정규표현식 (@, . 포함)
			function email_check( email ) {
			    var regex=/^[a-zA-Z0-9+-\_.]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/;
			    return (email != '' && email != 'undefined' && regex.test(email));
			}
			
			if(! email_check(storeEmail)) {
				$('#emailCheck').css('color','#f03f40');
                $('#emailCheck').html("* 잘못된 형식의 이메일입니다.");
                $('#storeEmail').css('border','1px solid #f03f40');
				$('#storeEmail').focus();
				emailCheck = false
			}else {
				$.ajax({
					url: '/admin/user/emailCheckS',
					method: 'GET',
					data: { 'storeEmail' : storeEmail },
					//dataType: "json",  //String이면 text   //text, json, xml, html
					success : function(cnt) {
						if(cnt == 0){
			                $('#emailCheck').css('color','#36ae36');
			                $('#emailCheck').html("* 사용 가능한 이메일입니다.");
			                $('#storeEmail').css('border','1px solid #36ae36');
			                emailCheck = true;
						}else {
							$('#emailCheck').css('color','#f03f40');
			                $('#emailCheck').html("* 이미 사용중인 이메일입니다.");
			                $('#storeEmail').css('border','1px solid #f03f40');
							$('#storeEmail').focus();
							emailCheck = false
						}	
					}
				});
				
			}
			return emailCheck;
		});
		
		//전화번호 중복체크
		$("#storePhone").on("propertychange change keyup paste input",function() {
			
			var storePhone = $('#storePhone').val();
			
			if(storePhone.length != 11) {
				$('#phoneCheck').css('color','#f03f40');
                $('#phoneCheck').html("* 11자리 숫자를 입력해주세요.");
                $('#storePhone').css('border','1px solid #f03f40');
				$('#storePhone').focus();
				phoneCheck = false;
			}else {
				$.ajax({
					url: '/admin/user/phoneCheckS',
					method: 'GET',
					data: { 'storePhone' : storePhone },
					//dataType: "json",  //String이면 text   //text, json, xml, html
					success : function(cnt) {
						if(cnt == 0){
			                $('#phoneCheck').css('color','#36ae36');
			                $('#phoneCheck').html("* 사용 가능한 휴대폰번호입니다.");
			                $('#storePhone').css('border','1px solid #36ae36');
			                phoneCheck = true;
						}else {
							$('#phoneCheck').css('color','#f03f40');
			                $('#phoneCheck').html("* 이미 사용중인 휴대폰번호입니다.");
			                $('#storePhone').css('border','1px solid #f03f40');
							$('#storePhone').focus();
							phoneCheck = false;
						}	
					}
				});
			}
		});
		
	  	/* 상호명 입력시 경고표시 없애기 */
		$('#bankName').on("propertychange change input", function(){
			if($('#bankName').val() != ""){
				$('#bankName').css('border','1px solid #ccc');
               	$('#bankNameCheck').html('');
	        }
		});
		
	  	/* 계좌번호 입력시 경고표시 없애기 */
		$('#account').on("propertychange change input", function(){
			if($('#account').val() != ""){
				$('#account').css('border','1px solid #ccc');
               	$('#accountCheck').html('');
	        }
		});
		
	  	/* 예금주 입력시 경고표시 없애기 */
		$('#accountHolder').on("propertychange change input", function(){
			if($('#accountHolder').val() != ""){
				$('#accountHolder').css('border','1px solid #ccc');
               	$('#accountHolderCheck').html('');
	        }
		});
		
		/* 상세주소 입력시 경고표시 없애기 */
		$('#storeAddress2').on("propertychange change input",function() {
			if($('#storeAddress2').val != "") {
				$('#storeAddress2').css('border','1px solid #ccc');
		        $('#addressCheck2').html('');
			}
		});
	  	
	  	/* 사업자등록번호 입력시 경고표시 없애기 */
		$('#licenceNum').on("propertychange change input", function(){
			if($('#licenceNum').val() != ""){
				$('#licenceNum').css('border','1px solid #ccc');
               	$('#licenceNumCheck').html('');
	        }
		});
		
	  	/* 사업자등록증 파일 첨부시 경고표시 없애기 */
		$('#licenceImg').on("propertychange change input", function(){
			if($('#licenceImg').val() != ""){
               	$('#licenceImgCheck').html('');
	        }
		});
		
	  	/* 통신판매업신고증 파일 첨부시 경고표시 없애기 */
		$('#onlineLicenceImg').on("propertychange change input", function(){
			if($('#onlineLicenceImg').val() != ""){
               	$('#onlineImgCheck').html('');
	        }
		});
		
		/* 등록 버튼 클릭시 유효성검사 */
		$("#addSellerBtn").click(function(){
			
			/* 분류코드 */
			if($('#sellerCode').val() == "") {
				codeCheck = false;
			}else {
				codeCheck = true;
			}
			console.log('codeCheck : ',codeCheck);
			console.log('sellerCode : ', $('#sellerCode').val());
			
			/* 아이디 */
			if($('#sellerId').val() == "") {
				$('#idCheck').css('color','#f03f40');
                $('#idCheck').html("* 아이디를 입력해주세요.");
                $('#sellerId').css('border','1px solid #f03f40');
				$('#sellerId').focus();
				idCheck = false;
			}
			console.log('idCheck : ',idCheck);
			
			/* 상호명 */
			if($('#storeName').val() == "") {
				$('#storeNameCheck').css('color','#f03f40');
                $('#storeNameCheck').html("* 상호명을 입력해주세요.");
                $('#storeName').css('border','1px solid #f03f40');
				$('#storeName').focus();
				storeNameCheck = false;
			}
			console.log('storeNameCheck : ',storeNameCheck);
			
			/* 은행명 */
 			if($('#bankName').val() == "") {
                $('#bankName').css('border','1px solid #f03f40');
				$('#bankName').focus();
				bankNameCheck = false;
			}else {
				bankNameCheck = true;
			}
			console.log('bankNameCheck : ',bankNameCheck); 
			
			/* 계좌번호 */
 			if($('#account').val() == "") {
                $('#account').css('border','1px solid #f03f40');
				$('#account').focus();
				accountCheck = false;
			}else {
				accountCheck = true;
			}
			console.log('accountCheck : ',accountCheck); 
			
			/* 예금주 */
			if($('#accountHolder').val() == "") {
                $('#accountHolder').css('border','1px solid #f03f40');
				$('#accountHolder').focus();
				accountHolderCheck = false;
			}else {
				accountHolderCheck = true;
			}
			console.log('accountHolderCheck : ',accountHolderCheck);
			
			/* 계좌정보 */
			if(bankNameCheck==true && accountCheck==true && accountHolderCheck==true) {
				accountCheckFinal = true;
			}else {
				$('#bankNameCheck').css('color','#f03f40');
                $('#bankNameCheck').html("* 은행명, 계좌번호, 예금주를 모두 입력해주세요.");
			}
			console.log('accountCheckFinal : ',accountCheckFinal);
			
	        /* 주소 */
	        if($('#storeAddress').val() == ""){
				$('#addressCheck').css('color','#f03f40');
                $('#addressCheck').html("* 주소를 입력해주세요.");
                $('#storeAddress').css('border','1px solid #f03f40');
				$('#storeAddress').focus();
				addressCheck = false;
	        }else {
	        	addressCheck = true;
	        }
	        console.log('addressCheck : ',addressCheck);
	        
	        /* 상세주소 */
	        if($('#storeAddress2').val() == "") {
				$('#addressCheck2').css('color','#f03f40');
                $('#addressCheck2').html("* 상세주소를 입력해주세요.");
                $('#storeAddress2').css('border','1px solid #f03f40');
				$('#storeAddress2').focus();
				addressCheck2 = false;
	        }else {
	        	addressCheck2 = true;
	        }
	        console.log('addressCheck2 : ',addressCheck2);
	        
			/* 주소,상세주소 최종확인 */
			if(addressCheck == true && addressCheck2 == true) {
				addressCheckFinal = true;
			}else {
				addressCheckFinal = false;
			}
			console.log('addressCheckFinal : ',addressCheckFinal);
	        
			/* 사업자 대표전화 */
	        if($('#storePhone').val() == ""){
				$('#phoneCheck').css('color','#f03f40');
                $('#phoneCheck').html("* 사업자 대표전화를 입력해주세요.");
                $('#storePhone').css('border','1px solid #f03f40');
				$('#storePhone').focus();
				emailCheck = false;
	        }
			console.log('phoneCheck : ',phoneCheck);
			
	        /* 이메일 */
	        if($('#storeEmail').val() == ""){
				$('#emailCheck').css('color','#f03f40');
                $('#emailCheck').html("* 이메일을 입력해주세요.");
                $('#storeEmail').css('border','1px solid #f03f40');
				$('#storeEmail').focus();
				emailCheck = false;
	        }
			console.log('emailCheck : ',emailCheck);
	        
	        /* 사업자등록번호 */
	        if($('#licenceNum').val() == ""){
				$('#licenceNumCheck').css('color','#f03f40');
                $('#licenceNumCheck').html("* 사업자등록번호를 입력해주세요.");
                $('#licenceNum').css('border','1px solid #f03f40');
				$('#licenceNum').focus();
				licenceNumCheck = false;
	        }else {
	        	licenceNumCheck = true;
	        }
			console.log('licenceNumCheck : ',licenceNumCheck);
			
	        /* 사업자등록증 */
	        if($('#licenceImg').val() == ""){
				$('#licenceImgCheck').css('color','#f03f40');
                $('#licenceImgCheck').html("* 사업자등록증을 첨부해주세요.");
                licenceImgCheck = false;
	        }else {
	        	licenceImgCheck = true;
	        }
			console.log('licenceImgCheck : ',licenceImgCheck);
			
	        /* 통신판매업 신고증 */
	        if($('#onlineLicenceImg').val() == ""){
				$('#onlineImgCheck').css('color','#f03f40');
                $('#onlineImgCheck').html("* 통신판매업신고증을 첨부해주세요.");
                onlineImgCheck = false;
	        }else {
	        	onlineImgCheck = true;
	        }
			console.log('onlineImgCheck : ',onlineImgCheck);
	        
			/* 승인상태 */
			if($('#approveCheck').val() == "") {
				approveCheck = false;
			}else {
				approveCheck = true;
			}
			console.log('approveCheck : ',approveCheck);
			
	        /* form 전송 */
			$('#addSellerForm').submit(function(event) {});
	        
	        /* 최종 유효성 검사 */
			if(codeCheck && idCheck && storeNameCheck && bankNameCheck && accountCheck && accountHolderCheck && accountCheckFinal && addressCheck && addressCheck2 && addressCheckFinal && emailCheck && phoneCheck && licenceNumCheck && licenceImgCheck && onlineImgCheck && approveCheck) {
				$('#addSellerForm').submit();
	        }
			//return false;
		});
	
    </script>
</th:block>
</html>