<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customCss">
	<style>
		.loginInput {
			margin-bottom: 10px;
		}
  
		.userDetail td{
			padding-left: 12px !important;
		}
      
		.userDetail button {
			margin: 5px 3px 5px;
		}

		.tableOdd {
			background-color: #f6f6f6;
			font-weight: bold;
			padding-top: 20px !important;
		}
  
		.tableEven .text {
			width: 230px;
			margin: 3px;
		}
  
		.tableEven .select {
			width: 230px;
			margin: 3px;
		}

		.tableEven label {
			padding-top: 4px;
		}

		.text {
			margin-right: 6px;
		}
		
		.userAddr {
			width: 350px !important;
			margin-right: 6px;
		}
		
		.radioDiv {
			margin-left: 5px;
			margin-top: 6px;		
		}
	</style>
</th:block>

<th:block layout:fragment="customContents">
	
	<form id="addUserForm" th:action="@{/admin/user/addUser}" method="post">
		<div class="page-title">
			<div class="title_left">
				<h3>회원등록</h3>
			</div>

			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="x_panel" style="padding-top: 30px;">
						<div class="x_content">

							<table class="userDetail table table-responsive" style="border-collapse: separate;">
								<tbody>
									<tr>
										<td class="tableOdd col-md-1">권한</td>
										<td class="tableEven">
											<!-- 
   											<th:block th:if="${not #lists.isEmpty(rightList)}" th:each="rl : ${rightList}" class="form-check form-check-inline">
		  										<input type="radio" class="flat" th:field="${rl.rightStatus}" th:value="${rl.rightStatus}" />
 		  										<label th:for="${#ids.prev('rightStatus')}" th:text="${r.rightStatus}" class="form-check-label"></label>
 											</th:block>
 											 -->
 											<div class="radioDiv">
												<label>
	  												<input type="radio" class="flat" id="buyerRdo" name="userRight" value="구매자"/> 구매자 &nbsp; &nbsp; &nbsp;
												</label>
												<label>
	  												<input type="radio" class="flat" id="sellerRdo" name="userRight" value="판매자 승인 전"/> 판매자 승인 전 
												</label>
											</div>
										</td>
										<td class="tableOdd col-md-1">회원등급</td>
										<td class="tableEven">
											<div class="form-inline">
	 											<select class="select form-control">
													<th:block th:unless="${#lists.isEmpty(levelBuyer)}" th:each="lb : ${levelBuyer}">
														<option th:value="${lb.LevelCode}" th:text="${lb.LevelName}">등급선택</option>
													</th:block>
													<th:block th:if="${#lists.isEmpty(levelBuyer)}">
														<option th:value="">등록된 회원등급이 없습니다.</option>
													</th:block>
												</select>
												<select class="select form-control">
													<th:block th:unless="${#lists.isEmpty(levelSeller)}" th:each="ls : ${levelSeller}">
														<option th:value="${ls.LevelCode}" th:text="${ls.LevelName}">등급선택</option>
													</th:block>
													<th:block th:if="${#lists.isEmpty(levelSeller)}">
														<option th:value="">등록된 회원등급이 없습니다.</option>
													</th:block>
												</select>
											</div>
										</td>
									</tr>
									<tr>
										<td class="tableOdd">아이디</td>
										<td class="tableEven col-md-4">
											<div class="form-inline">
												<input type="text" class="form-control text" id="userId" name="userId" data-ischecked="false" placeholder="아이디를 입력해주세요" />
												<button type="button" class="btn" id="idCheckBtn">중복확인</button>
											</div>
										</td>
										<td class="tableOdd">닉네임</td>
										<td class="tableEven col-md-4">
											<div class="form-inline">
												<input type="text" class="form-control text" id="userNickname" name="userNickname" placeholder="닉네임을 입력해주세요" />
												<button type="button" class="btn" id="nicknameCheckBtn">중복확인</button>
											</div>
										</td>
									</tr>
									<tr>
										<td class="tableOdd">이름</td>
										<td class="tableEven col-md-4">
											<input type="text" class="form-control text" id="userName" name="userName" placeholder="이름을 입력해주세요" />
										</td>
										<td class="tableOdd">비밀번호</td>
										<td class="tableEven col-md-4">
											<div class="form-inline">
												<input type="text" class="form-control text" id="userPw" name="userPw" placeholder="비밀번호입력" />
												<input type="text" class="form-control text" id="userPwCheck" name="userPwCheck" placeholder="비밀번호확인" />
											</div>
										</td>
									</tr>
									<tr>
										<td class="tableOdd">이메일</td>
										<td class="tableEven col-md-4">
											<div class="form-inline">
												<input type="text" class="form-control text" id="userEmail" name="userEmail" placeholder="이메일을 입력하세요" />
												<button type="button" class="btn" id="emailCheckBtn">중복확인</button>
											</div>
										</td>
										<td class="tableOdd">휴대폰번호</td>
										<td class="tableEven col-md-4">
											<div class="form-inline">
												<input type="text" class="form-control text" id="userPhone" name="userPhone" placeholder="휴대폰번호를 입력하세요" />
												<button type="button" class="btn" id="phoneCheck">중복확인</button>
											</div>
										</td>
									</tr>
									<tr>
										<td class="tableOdd">주소</td>
										<td class="tableEven col-md-4" colspan="3">
											<div class="form-inline">
												<input type="text" class="userAddr form-control text" id="userAddr" name="userAddr" placeholder="주소를 검색해주세요" readonly="readonly" /> 
												<input type="text" class="userAddr form-control text" id="userAddr2" name="userAddr2" placeholder="상세주소를 입력해주세요" />
												<button type="button" class="btn" id="addrSearchBtn">주소검색</button>
											</div>
										</td>
									</tr>
									<tr>
										<td class="tableOdd">포인트</td>
										<td class="tableEven col-md-4">
											<input type="text" class="form-control text" id="userPoint" name="userPoint" />
										</td>
										<td class="tableOdd">벌점</td>
										<td class="tableEven col-md-4">
											<input type="text" class="form-control text" id="userPenalty" name="userPenalty" />
										</td>
									</tr>
									<tr>
										<td class="tableOdd">상태</td>
										<td class="tableEven col-md-4">
											<select class="select form-control">
												<option value="정상">정상</option>
												<option value="휴면">휴면</option>
												<option value="정지">정지</option>
											</select>
										</td>
										<td class="tableOdd">정보보관기간</td>
										<td class="tableEven col-md-4">
											<div class="radioDiv">
												<label>
													<input type="radio" class="flat" name="userInfoKeep" /> 탈퇴시까지 &nbsp; &nbsp; &nbsp;
												</label>
												<label>
													<input type="radio" class="flat" name="userInfoKeep" /> 1년
												</label>
											</div> 
										</td>
									</tr>
								</tbody>
							</table>
							
							<div class="form-group">
		                        <div style="text-align:center; margin: 30px;" >
									<button type="button" class="btn btn" th:onclick="|location.href='@{/admin/user/userList}'|">취소</button>
									<button type="submit" class="btn btn-dark btn">등록</button>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</th:block>

<th:block layout:fragment="customJsScript">
	<th:block th:replace="/fragments/userJs :: datatablesFragment"></th:block>

	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
		let text = document.querySelector('#userAddr');
		document.querySelector('#addrSearchBtn').addEventListener('click', function () {

			new daum.Postcode({
				oncomplete: function (data) {
				text.value = data.address;
				}
			}).open();
		});
		
		$('#userAddForm').submit(function(event) {});

    </script>
    
</th:block>

</html>
