<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customCss">
	<style>
		.loginInput {
			margin-bottom: 10px;
		}
  
		.userDetail td{
			padding-left: 12px !important;
		}
      
		.userDetail button {
			margin: 5px 3px 5px;
		}

		.tableOdd {
			background-color: #f6f6f6;
			font-weight: bold;
			padding-top: 20px !important;
		}
  
		.tableEven .text {
			width: 230px;
			margin: 3px;
		}
  
		.tableEven .select {
			width: 230px;
			margin: 3px;
		}

		.tableEven label {
			padding-top: 4px;
		}

		.text {
			margin-right: 6px;
		}
		
		.userAddr {
			width: 350px !important;
			margin-right: 6px;
		}
		
		.radioDiv {
			margin-left: 5px;
			margin-top: 6px;		
		}
		
		p {
			margin: 0px;
		}
		
		.checks {
			font-size: 12px;
			margin-left: 6px;
			border: 1px soild black;
		}
		
	</style>
</th:block>

<th:block layout:fragment="customContents">
	<form id="modifyUserForm" th:action="@{/admin/user/modifyUser}" th:object="${userInfo}" method="post">
		<div class="page-title">
			<div class="title_left">
				<h3>회원정보 수정</h3>
			</div>
	
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="x_panel" style="padding-top: 30px;">
						<div class="x_content">
							<table class="userDetail table table-responsive" style="border-collapse: separate;">
								<tbody>
									<tr>
										<td class="tableOdd col-md-1">권한</td>
										<td class="tableEven">
											<input type="text" class="form-control text" id="userRight" name="userRight" th:value="*{rightList.rightStatus}" readonly="readonly" />
<!-- 										 	<select class="select form-control" id="userRight" name="userRight">
												<th:block th:unless="${#lists.isEmpty(rightList)}" th:each="r : ${rightList}">
													<option th:text="${r.rightStatus}" th:value="${r.userRight}" th:selected="${r.userRight} == *{userRight}"></option>
												</th:block>
											</select> -->
										</td>
										<td class="tableOdd col-md-1">회원등급</td>
										<td class="tableEven">
											<div class="form-inline">
												<th:block th:if="*{rightList.rightStatus} == '구매자'">
													<select class="select form-control" id="userLevel" name="userLevel">
														<th:block th:unless="${#lists.isEmpty(levelBuyer)}" th:each="lb : ${levelBuyer}">
															<option class="levels" th:value="${lb.levelCode}" th:text="${lb.levelName}" th:selected="${lb.levelCode} == *{userLevel}">등급선택</option>
														</th:block>
														<th:block th:if="${#lists.isEmpty(levelBuyer)}">
															<option th:value="">등록된 회원등급이 없습니다.</option>
														</th:block>
													</select>
												</th:block>
												<th:block th:if="*{rightList.rightStatus} == '판매자'">
													<select class="select form-control" id="userLevel" name="userLevel">
														<th:block th:unless="${#lists.isEmpty(levelSeller)}" th:each="ls : ${levelSeller}">
															<option class="levels" th:value="${ls.levelCode}" th:text="${ls.levelName}" th:selected="${ls.levelCode} == *{userLevel}">등급선택</option>
														</th:block>
														<th:block th:if="${#lists.isEmpty(levelSeller)}">
															<option th:value="">등록된 회원등급이 없습니다.</option>
														</th:block>
													</select>
												</th:block>
											</div>
										</td>
									</tr>
									<tr>
										<td class="tableOdd">아이디</td>
										<td class="tableEven col-md-4">
											<div class="form-inline">
												<input type="text" class="form-control text" id="userId" name="userId" th:value="*{userId}" readonly="readonly" />
											</div>
										</td>
										<td class="tableOdd">비밀번호</td>
										<td class="tableEven col-md-4">
											<div class="form-inline">
												<input type="text" class="form-control text" id="userPw" name="userPw" th:value="*{userPw}" placeholder="비밀번호 입력" />
												<input type="text" class="form-control text" id="userPwCheck" name="userPwCheck" placeholder="비밀번호확인" />
											</div>
											<span class="checks" id="pwCheck1"></span>
											<span class="checks" id="pwCheck2"></span>
										</td>
									</tr>
									<tr>
										<td class="tableOdd">이름</td>
										<td class="tableEven col-md-4">
											<div class="form-inline">
												<input type="text" class="form-control text" id="userName" name="userName" th:value="*{userName}" placeholder="이름을 입력해주세요." />
												<span class="checks" id="nameCheck"></span>
											</div>
										</td>
										<td class="tableOdd">닉네임</td>
										<td class="tableEven col-md-4">
											<div class="form-inline">
												<input type="text" class="form-control text" id="userNickname" name="userNickname" th:value="*{userNickname}" placeholder="닉네임을 입력해주세요." />
												<span class="checks" id="nicknameCheck"></span>
											</div>
										</td>
									</tr>
									<tr>
										<td class="tableOdd">성별</td>
										<td class="tableEven col-md-4" colspan="3">
											<div class="radioDiv" th:switch="${userInfo.userGender}" style="margin: 7px 5px;">
												<p th:case="여">
													<input type="radio" id="genderF1" name="userGender" th:value="여" checked />
													<label class="" for="genderF1"> 여자 &nbsp; &nbsp; &nbsp; </label>
													<input type="radio" id="genderM1" name="userGender" th:value="남" />
													<label class="" for="genderM1"> 남자 </label>
												</p>
												<p th:case="남">
													<input type="radio" id="genderF2" name="userGender" th:value="여" />
													<label class="" for="genderF2"> 여자 &nbsp; &nbsp; &nbsp; </label>
													<input type="radio" id="genderM2" name="userGender" th:value="남" checked />
													<label class="" for="genderM2"> 남자 </label>
												</p>
											</div> 
										</td>
									</tr>
									<tr>
										<td class="tableOdd">이메일</td>
										<td class="tableEven col-md-4">
											<div class="form-inline">
												<input type="text" class="form-control text" id="userEmail" name="userEmail" th:value="*{userEmail}" placeholder="이메일을 입력해주세요." />
												<span class="checks" id="emailCheck"></span>
											</div>
										</td>
										<td class="tableOdd">휴대폰번호</td>
										<td class="tableEven col-md-4">
											<div class="form-inline">
												<input type="text" class="form-control text" id="userPhone" name="userPhone" th:value="*{userPhone}" placeholder="숫자만 입력해주세요." oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="11"/>
												<span class="checks" id="phoneCheck"></span>
											</div>
										</td>
									</tr>
									<tr>
										<td class="tableOdd">주소</td>
										<td class="tableEven col-md-4" colspan="3">
											<div class="form-inline">
												<input type="text" class="userAddr form-control text" id="userAddress" name="userAddress" th:value="*{userAddress}" placeholder="주소를 검색해주세요." readonly="readonly" /> 
												<input type="text" class="userAddr form-control text" id="userAddress2" name="userAddress2" th:value="*{userAddress2}" placeholder="상세주소를 입력해주세요." />
												<button type="button" class="btn" id="addrSearchBtn">주소검색</button>
												<span class="checks" id="addressCheck"></span>
												<span class="checks" id="addressCheck2"></span>
											</div>
										</td>
									</tr>
									<tr>
										<td class="tableOdd">포인트</td>
										<td class="tableEven col-md-4">
											<input type="text" class="form-control text comma" id="userPoint" name="userPoint" th:value="*{userPoint}" />
											<span class="checks" id="pointCheck"></span>
										</td>
										<td class="tableOdd">벌점</td>
										<td class="tableEven col-md-4">
											<input type="text" class="form-control text comma" id="userPenalty" name="userPenalty" th:value="*{userPenalty}" />
											<span class="checks" id="penaltyCheck"></span>
										</td>
									</tr>
									<tr>
										<td class="tableOdd">상태</td>
										<td class="tableEven col-md-4">
											<select class="select form-control">
												<option value="정상">정상</option>
												<option value="휴면">휴면</option>
												<option value="정지">정지</option>
											</select>
										</td>
										<td class="tableOdd">정보보관기간</td>
										<td class="tableEven col-md-4">
											<div class="radioDiv" th:switch="${userInfo.userInfoKeep}">
												<p th:case="탈퇴시까지">
													<input type="radio" id="untilLeave1" name="userInfoKeep" th:value="탈퇴시까지" checked />
													<label class="" for="untilLeave1"> 탈퇴시까지 &nbsp; &nbsp; &nbsp; </label>
													<input type="radio" id="oneYear1" name="userInfoKeep" th:value="1년" />
													<label class="" for="oneYear1"> 1년 </label>
												</p>
												<p th:case="1년">
													<input type="radio" id="untilLeave2" name="userInfoKeep" th:value="탈퇴시까지" />
													<label class="" for="untilLeave2"> 탈퇴시까지 &nbsp; &nbsp; &nbsp; </label>
													<input type="radio" id="oneYear2" name="userInfoKeep" th:value="1년" checked />
													<label class="l" for="oneYear2"> 1년 </label>
												</p>
											</div> 
										</td>
									</tr>
								</tbody>
							</table>
							
							<div class="form-group">
		                        <div style="text-align:center; margin: 30px;" >
									<button type="button" class="btn btn" th:onclick="|location.href='@{/admin/user/userList}'|">취소</button>
									<button type="submit" id="modifyUserBtn" class="btn btn-dark btn">등록</button>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</th:block>

<th:block layout:fragment="customJsScript">
	<th:block th:replace="fragments/userJs :: datatablesFragment"></th:block>

	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:inline="javascript">
    	/*<![CDATA[*/
    	
		/* 유효성검사 */
		var pwCheck = true;
		var pwCheck2 = true;
		var pwCheckFinal = true; 
		var NameCheck = true; 
		var nicknameCheck = true;
		var genderCheck = true;
		var emailCheck = true;
		var phoneCheck = true;
		var addressCheck = true;
		var addressCheck2 = true;
		var addressCheckFinal = true;
		var pointCheck = true;
		var penaltyCheck = true;
		var statusCheck = true; 
		var infoKeepCheck = true;
    
		
    	/* 주소 검색 */
		let text = document.querySelector('#userAddress');
		document.querySelector('#addrSearchBtn').addEventListener('click', function () {
			
			new daum.Postcode({
				oncomplete: function (data) {
					/* 주소 입력시 경고표시 없애기 */
					$('#userAddress').css('border','1px solid #ccc');
			        $('#addressCheck').html('');
				text.value = data.address;
				}
			}).open();
			
			//상세주소 초기화
			var input = document.getElementById('userAddress2'); 
			input.value = "";
		});
		
		$(document).ready(function() {
			var userRight = '[[${userInfo.userRight}]]';
			if(userRight == 'seller_before') {
				 $('#userRight,#userLevel,#userPoint,#userPenalty').attr('disabled', 'disabled');
				 $("#userRight").val(userRight).prop("selected", true);
				 $("#userLevel").prepend("<option value='선택불가'>선택불가</option>");
				 $("#userLevel").val("선택불가").prop("selected", true);
				 $('#userPoint').prop('value', 0);
				 $('#userPenalty').prop('value', 0);
			}
		});
		
    	/* 회원등급 "구매자"로 표시 */
		$(document).ready(function() {
			
			var rightStatus = $('#userRight').val();
			if(rightStatus === "buyer") {
				$('#userRight').attr('value', "구매자");
			}
		});
		
		/* '판매자' 옵션 지우기 */
		$(document).ready(function() {
			$("select#userRight option[value='seller']").remove();
		});
    	
		/* 숫자만 입력  & 숫자 천단위 콤마 찍기  */
		$('.comma').on('input',function(){
			$(this).val($(this).val().replace(/[^0-9.]/g,'').replace(/(\d)(?=(?:\d{3})+(?!\d))/g,'$1,'));
		})
		
		/* 권한 판매자 승인전 선택시 등급 select박스 제어 */
		$('#userRight').change(function() {
			
			 if($(this).val() == "buyer") {
				 $('#userLevel,#userPoint,#userPenalty').removeAttr('disabled')
				 $("#userLevel option[value='선택불가']").remove();
				 
			 }else if($(this).val() == "seller_before") {
				 $('#userLevel,#userPoint,#userPenalty').attr('disabled', 'disabled');
				 $("#userLevel").prepend("<option value='선택불가'>선택불가</option>");
				 $("#userLevel").val("선택불가").prop("selected", true);
				 $('#userPoint').prop('value', 0);
				 $('#userPenalty').prop('value', 0);
			 }
		});
		
	  	/* 비밀번호 유효성검사 */
		$("#userPw").on("propertychange change keyup paste input",function() {
              
           	var regex = /^[A-Za-z\d]{5,15}$/;
               var userPw = regex.exec($("#userPw").val());
               var userPwCheck = $('#userPwCheck').val();

               if(userPw != null){
               	$('#userPw').css('border','1px solid #50B55F');
               	$('#pwCheck1').css('color','#50B55F');
               	$('#pwCheck1').html('* 사용 가능한 비밀번호입니다.');
               	pwCheck = true
               }else{
               	$('#userPw').css('border','1px solid #f03f40');
               	$('#pwCheck1').css('color','#ff696a');
               	$('#pwCheck1').html('* 6~16자의 영문 대소문자, 숫자만 입력해주세요.');
               	pwCheck = false;
               }
			
			if(userPw != userPwCheck) {
				$('#userPwCheck').css('border','1px solid #f03f40');
               	$('#pwCheck2').css('color','#ff696a');
               	$('#pwCheck2').html('* 비밀번호가 일치하지 않습니다.');
               	pwCheck2 = false
			}else if(userPwCheck == "" || userPw != userPwCheck) {
				$('#userPwCheck').css('border','1px solid #f03f40');
               	$('#pwCheck2').css('color','#ff696a');
               	$('#pwCheck2').html('* 비밀번호가 일치하지 않습니다.');
               	pwCheck2 = false
			}
			
           });
		
		/* 비밀번호 확인 */
		$('#userPwCheck').on("propertychange change keyup paste input",function() {
			
			var userPw = $('#userPw').val();
			var userPwCheck = $('#userPwCheck').val();
			
			if(userPwCheck != "" && userPw == userPwCheck) {
				$('#userPwCheck').css('border','1px solid #50B55F');
               	$('#pwCheck2').css('color','#50B55F');
               	$('#pwCheck2').html('* 비밀번호가 일치합니다.');
               	pwCheck2 = true;
			}else if(userPwCheck == "" || userPw != userPwCheck) {
				$('#userPwCheck').css('border','1px solid #f03f40');
               	$('#pwCheck2').css('color','#ff696a');
               	$('#pwCheck2').html('* 비밀번호가 일치하지 않습니다.');
               	pwCheck2 = false
			}
		});
	  	
		var exisNickname = /*[[${userInfo.userNickname}]]*/
		console.log(exisNickname);
		
		/* 닉네임 중복체크 */
		$("#userNickname").on("propertychange change keyup paste input",function() {
		
			var userNickname = $('#userNickname').val();
			var exisNickname = /*[[${userInfo.userNickname}]]*/
			console.log(exisNickname);
			
			if(exisNickname == userNickname) {
				$('#userNickname').css('border','1px solid #ccc');
		        $('#nicknameCheck').html('');
				nicknameCheck = true;
			}else if(userNickname == "") {
				$('#userNickname').css('border','1px solid #ccc');
		        $('#nicknameCheck').html('');
				nicknameCheck = false;
			}else {
				$.ajax({
					url: '/admin/user/nicknameCheck',
					method: 'GET',
					data: { 'userNickname' : userNickname },
					//dataType: "json",  //String이면 text   //text, json, xml, html
					success : function(cnt) {
						if(cnt == 0){
			                $('#nicknameCheck').css('color','#36ae36');
			                $('#nicknameCheck').html("* 사용 가능한 닉네임입니다.");
			                $('#userNickname').css('border','1px solid #36ae36');
			                nicknameCheck = true;
						}else {
							$('#nicknameCheck').css('color','#f03f40');
			                $('#nicknameCheck').html("* 이미 사용중인 닉네임입니다.");
			                $('#userNickname').css('border','1px solid #f03f40');
							$('#userNickname').focus();
							nicknameCheck = false;
						}	
					}
				});
			}
		});
		
		/* 이메일 중복체크 */
		$("#userEmail").on("propertychange change keyup paste input",function() {
			
			var userEmail = $('#userEmail').val();
			var exisEmail = /*[[${userInfo.userEmail}]]*/
			console.log(exisEmail);
			
			// 정규표현식 (@, . 포함)
			function email_check( email ) {
			    var regex=/^[a-zA-Z0-9+-\_.]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/;
			    return (email != '' && email != 'undefined' && regex.test(email));
			}
			if(exisEmail == userEmail) {
				$('#userEmail').css('border','1px solid #ccc');
		        $('#emailCheck').html('');
				emailCheck = true;
			}else {
				if(! email_check(userEmail)) {
					$('#emailCheck').css('color','#f03f40');
	                $('#emailCheck').html("* 잘못된 형식의 이메일입니다.");
	                $('#userEmail').css('border','1px solid #f03f40');
					$('#userEmail').focus();
					emailCheck = false
				}else {
					$.ajax({
						url: '/admin/user/emailCheckU',
						method: 'GET',
						data: { 'userEmail' : userEmail },
						//dataType: "json",  //String이면 text   //text, json, xml, html
						success : function(cnt) {
							if(cnt == 0){
				                $('#emailCheck').css('color','#36ae36');
				                $('#emailCheck').html("* 사용 가능한 이메일입니다.");
				                $('#userEmail').css('border','1px solid #36ae36');
				                emailCheck = true;
							}else {
								$('#emailCheck').css('color','#f03f40');
				                $('#emailCheck').html("* 이미 사용중인 이메일입니다.");
				                $('#userEmail').css('border','1px solid #f03f40');
								$('#userEmail').focus();
								emailCheck = false
							}	
						}
					});
				}
			}
		});
		
		//전화번호 중복체크
		$("#userPhone").on("propertychange change keyup paste input",function() {
			
			var userPhone = $('#userPhone').val();
			var exisPhone = /*[[${userInfo.userPhone}]]*/
			console.log(exisPhone);
			
			if(exisPhone == userPhone) {
				$('#userPhone').css('border','1px solid #ccc');
		        $('#phoneCheck').html('');
				phoneCheck = true;
			}else {
				if(userPhone.length != 11) {
					$('#phoneCheck').css('color','#f03f40');
	                $('#phoneCheck').html("* 11자리 숫자를 입력해주세요.");
	                $('#userPhone').css('border','1px solid #f03f40');
					$('#userPhone').focus();
					phoneCheck = false;
				}else {
					$.ajax({
						url: '/admin/user/phoneCheckU',
						method: 'GET',
						data: { 'userPhone' : userPhone },
						//dataType: "json",  //String이면 text   //text, json, xml, html
						success : function(cnt) {
							if(cnt == 0){
				                $('#phoneCheck').css('color','#36ae36');
				                $('#phoneCheck').html("* 사용 가능한 휴대폰번호입니다.");
				                $('#userPhone').css('border','1px solid #36ae36');
				                phoneCheck = true;
							}else {
								$('#phoneCheck').css('color','#f03f40');
				                $('#phoneCheck').html("* 이미 사용중인 휴대폰번호입니다.");
				                $('#userPhone').css('border','1px solid #f03f40');
								$('#userPhone').focus();
								phoneCheck = false;
							}	
						}
					});
				}
			}
		});
		
	  	/* 이름 입력시 경고표시 없애기 */
		$('#userName').on("propertychange change input", function(){
			if($('#userName').val() != ""){
				$('#userName').css('border','1px solid #ccc');
               	$('#nameCheck').html('');
	        }
		});
	  	
		/* 성별 선택시 경고표시 없애기 */
		$("input[name='userGender']").change(function(){
	        if($('input[name=userGender]:checked').length > 0){
               	$('#genderCheck').html('');
	        }			
		});
		
		/* 상세주소 입력시 경고표시 없애기 */
		$('#userAddress2').on("propertychange change input",function() {
			if($('#userAddress2').val != "") {
				$('#userAddress2').css('border','1px solid #ccc');
		        $('#addressCheck2').html('');
			}
		});
		
		/* 포인트 입력시 경고표시 없애기 */
		$('#userPoint').on("propertychange change input",function() {
			if($('#userPoint').val != "") {
				$('#userPoint').css('border','1px solid #ccc');
		        $('#pointCheck').html('');
			}
		});
		
		/* 벌점 입력시 경고표시 없애기 */
		$('#userPenalty').on("propertychange change input",function() {
			if($('#userPenalty').val != "") {
				$('#userPenalty').css('border','1px solid #ccc');
		        $('#penaltyCheck2').html('');
			}
		});
		
		/* 정보보관기간 선택시 경고표시 없애기 */
		$("input[name='userInfoKeep']").change(function(){
	        if($('input[name=userInfoKeep]:checked').length > 0){
               	$('#infoKeepCheck').html('');
	        }			
		});
		
		/* 등록 버튼 클릭시 유효성검사 */
		$("#modifyUserBtn").click(function(){
			
			/* 비밀번호 */
			if($('#userPw').val() == "") {
				$('#pwCheck1').css('color','#f03f40');
                $('#pwCheck1').html("* 비밀번호를 입력해주세요.");
                $('#userPw').css('border','1px solid #f03f40');
				$('#userPw').focus();
				pwCheck1 = false;
			}
			console.log('pwCheck : ',pwCheck);
			
			/* 비밀번호확인 */
			if($('#userPwCheck').val() == "") {
				$('#pwCheck2').css('color','#f03f40');
                $('#pwCheck2').html("* 비밀번호를 다시한번 입력해주세요.");
                $('#userPwCheck').css('border','1px solid #f03f40');
				$('#userPwCheck').focus();
				pwCheck2 = false;
			}
			console.log('pwCheck2 : ',pwCheck2);
			
			/* 비밀번호 최종확인 */
			if(pwCheck == true && pwCheck2 == true) {
				pwCheckFinal = true;
			}else {
				pwCheckFinal = false;
			}
			console.log('pwCheckFinal : ',pwCheckFinal);
			
			/* 이름 유효성검사 */
	        if($('#userName').val() == ""){
	        	$('#nameCheck').show();
				$('#nameCheck').css('color','#f03f40');
                $('#nameCheck').html("* 이름을 입력해주세요.");
                $('#userName').css('border','1px solid #f03f40');
				$('#userName').focus();
				nameCheck = false;
	        }else {
	        	nameCheck = true;
	        }
	        console.log('nameCheck : ',nameCheck);
			
			/* 닉네임 */
	        if($('#userNickname').val() == ""){
				$('#nicknameCheck').css('color','#f03f40');
                $('#nicknameCheck').html("* 닉네임을 입력해주세요.");
                $('#userNickname').css('border','1px solid #f03f40');
				$('#userNickname').focus();
				nicknameCheck = false;
	        }
			console.log('nicknameCheck : ',nicknameCheck);
	        
	        /* 성별 */
	        if($('input[name=userGender]:checked').length == 0){
	        	$('#genderCheck').css('color','#f03f40');
                $('#genderCheck').html("* 성별을 입력해주세요.");
	            genderCheck = false;
	        }else{
	        	genderCheck = true;
	        }
	        console.log('genderCheck : ',genderCheck);
	        
	        /* 이메일 */
	        if($('#userEmail').val() == ""){
				$('#emailCheck').css('color','#f03f40');
                $('#emailCheck').html("* 이메일을 입력해주세요.");
                $('#userEmail').css('border','1px solid #f03f40');
				$('#userEmail').focus();
				emailCheck = false;
	        }
			console.log('emailCheck : ',emailCheck);
	        
			/* 휴대폰번호 */
	        if($('#userPhone').val() == ""){
				$('#phoneCheck').css('color','#f03f40');
                $('#phoneCheck').html("* 휴대폰번호를 입력해주세요.");
                $('#userPhone').css('border','1px solid #f03f40');
				$('#userPhone').focus();
				phoneCheck = false;
	        }
			console.log('phoneCheck : ',phoneCheck);
			
	        /* 주소 */
	        if($('#userAddress').val() == ""){
				$('#addressCheck').css('color','#f03f40');
                $('#addressCheck').html("* 주소를 입력해주세요.");
                $('#userAddress').css('border','1px solid #f03f40');
				$('#userAddress').focus();
				addressCheck = false;
	        }else {
	        	addressCheck = true;
	        }
	        console.log('addressCheck : ',addressCheck);
	        
	        /* 상세주소 */
	        if($('#userAddress2').val() == "") {
				$('#addressCheck2').css('color','#f03f40');
                $('#addressCheck2').html("* 상세주소를 입력해주세요.");
                $('#userAddress2').css('border','1px solid #f03f40');
				$('#userAddress2').focus();
				addressCheck2 = false;
	        }else {
	        	addressCheck2 = true;
	        }
	        console.log('addressCheck2 : ',addressCheck2);
	        
			/* 주소,상세주소 최종확인 */
			if(addressCheck == true && addressCheck2 == true) {
				addressCheckFinal = true;
			}else {
				addressCheckFinal = false;
			}
			console.log('addressCheckFinal : ',addressCheckFinal);
	        
			/* 포인트 유효성검사 */
	        if($('#userPoint').val() == ""){
				$('#pointCheck').css('color','#f03f40');
                $('#pointCheck').html("* 포인트를 입력해주세요.");
                $('#userPoint').css('border','1px solid #f03f40');
				$('#userPoint').focus();
				pointCheck = false;
	        }
	        else{
	        	pointCheck = true;
	        }
	        console.log('pointCheck : ',pointCheck);
	        
			/* 벌점 유효성검사 */
	        if($('#userPenalty').val() == ""){
	        	$('#penaltyCheck').show();
				$('#penaltyCheck').css('color','#f03f40');
                $('#penaltyCheck').html("* 벌점을 입력해주세요.");
                $('#userPenalty').css('border','1px solid #f03f40');
				$('#userPenalty').focus();
				penaltyCheck = false;
	        }else{
	        	penaltyCheck = true;
	        }
	        console.log('penaltyCheck : ',penaltyCheck);
	 
	        /* 정보보관기간 유효성검사 */
	        if($('input[name=userInfoKeep]:checked').length == 0){
				$('#infoKeepCheck').css('color','#f03f40');
                $('#infoKeepCheck').html("* 정보보관기간을 입력해주세요.");
                infoKeepCheck = false;
	        }else{
	        	infoKeepCheck = true;
	        }
	        console.log('infoKeepCheck : ',infoKeepCheck);
	        
	        $('#userPoint').val( Number($('#userPoint').val().replace(/,/g, "")) );
			$('#userPenalty').val( Number($('#userPenalty').val().replace(/,/g, "")) );
	        
	        /* form 전송 */
			$('#modifyUserForm').submit(function(event) {
			}); 
	        
	        /* 최종 유효성 검사 */
			if(pwCheck && pwCheck2 && pwCheckFinal && nameCheck && nicknameCheck && genderCheck && emailCheck && phoneCheck && addressCheck && addressCheck2 && addressCheckFinal && pointCheck && penaltyCheck && infoKeepCheck) {
				$('#modifyUserForm').submit();
	        }
			return false;
		});

		/*]]>*/
    </script>
    
</th:block>

</html>
