<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customCss">
	<style>
		.loginInput {
			margin-bottom: 10px;
		}
  
		.userDetail td{
			padding-left: 12px !important;
		}
      
		.userDetail button {
			margin: 5px 3px 5px;
		}

		.tableOdd {
			background-color: #f6f6f6;
			font-weight: bold;
			padding-top: 20px !important;
		}
  
		.tableEven .text {
			width: 230px;
			margin: 3px;
		}
  
		.tableEven .select {
			width: 230px;
			margin: 3px;
		}

		.tableEven label {
			padding-top: 4px;
		}

		.text {
			margin-right: 6px;
		}
		
		.userAddr {
			width: 350px !important;
			margin-right: 6px;
		}
		
		.radioDiv {
			margin-left: 5px;
			margin-top: 6px;		
		}
		
		p {
			margin: 0px;
		}
		
	</style>
</th:block>

<th:block layout:fragment="customContents">
	<form id="addUserForm" th:action="@{/admin/user/modifyUser}" th:object="${userInfo}" method="post">
		<div class="page-title">
			<div class="title_left">
				<h3>회원정보 수정</h3>
			</div>
	
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="x_panel" style="padding-top: 30px;">
						<div class="x_content">
							<table class="userDetail table table-responsive" style="border-collapse: separate;">
								<tbody>
									<tr>
										<td class="tableOdd col-md-1">권한</td>
										<td class="tableEven">
											<select class="select form-control" id="userRight" name="userRight">
												<th:block th:unless="${#lists.isEmpty(rightList)}" th:each="rl : ${rightList}">
													<option class="levels" th:if="${rl.rightStatus} == 구매자" th:value="${rl.userRight}" th:text="${rl.rightStatus}" th:selected="${rl.userRight} == *{userRight}">등급선택</option>
												</th:block>
												<th:block th:if="${#lists.isEmpty(rightList)}">
													<option th:value="">등록된 회원등급이 없습니다.</option>
												</th:block>
											</select>
											
<!-- 											<div>
												<input type="text" class="form-control text" id="userRight" name="userRight" value="구매자" th:value="${userInfo.userRight}" readonly="readonly" />
												<input type="hidden" id="userRight" name="userRight" th:value="${userInfo.userRight}" />
											</div> -->
											
										</td>
										<td class="tableOdd col-md-1">회원등급</td>
										<td class="tableEven">
											<div class="form-inline">
												<select class="select form-control" id="userLevel" name="userLevel">
													<th:block th:unless="${#lists.isEmpty(levelBuyer)}" th:each="lb : ${levelBuyer}">
														<option class="levels" th:value="${lb.levelCode}" th:text="${lb.levelName}" th:selected="${lb.levelCode} == *{userLevel}">등급선택</option>
													</th:block>
													<th:block th:if="${#lists.isEmpty(levelBuyer)}">
														<option th:value="">등록된 회원등급이 없습니다.</option>
													</th:block>
												</select>
											</div>
										</td>
									</tr>
									<tr>
										<td class="tableOdd">아이디</td>
										<td class="tableEven col-md-4">
											<div class="form-inline">
												<input type="text" class="form-control text" id="userId" name="userId" th:value="*{userId}" readonly="readonly" />
												<button type="button" class="btn" id="idCheckBtn">중복확인</button>
											</div>
										</td>
										<td class="tableOdd">비밀번호</td>
										<td class="tableEven col-md-4">
											<div class="form-inline">
												<input type="text" class="form-control text" id="userPw" name="userPw" th:value="*{userPw}" placeholder="비밀번호 입력" />
												<input type="text" class="form-control text" placeholder="비밀번호확인" />
											</div>
										</td>
									</tr>
									<tr>
										<td class="tableOdd">이름</td>
										<td class="tableEven col-md-4">
											<input type="text" class="form-control text" id="userName" name="userName" th:value="*{userName}" placeholder="이름을 입력해주세요" />
										</td>
										<td class="tableOdd">닉네임</td>
										<td class="tableEven col-md-4">
											<div class="form-inline">
												<input type="text" class="form-control text" id="userNickname" name="userNickname" th:value="*{userNickname}" placeholder="닉네임을 입력해주세요" />
												<button type="button" class="btn" id="nicknameCheckBtn">중복확인</button>
											</div>
										</td>
									</tr>
									<tr>
										<td class="tableOdd">성별</td>
										<td class="tableEven col-md-4" colspan="3">
											<div class="radioDiv" th:switch="${userInfo.userGender}" style="margin: 7px 5px;">
												<p th:case="여">
													<input type="radio" id="genderF1" name="usergender" th:value="여" checked />
													<label class="" for="genderF1"> 여자 &nbsp; &nbsp; &nbsp; </label>
													<input type="radio" id="genderM1" name="usergender" th:value="남" />
													<label class="" for="genderM1"> 남자 </label>
												</p>
												<p th:case="남">
													<input type="radio" id="genderF2" name="usergender" th:value="여" />
													<label class="" for="genderF2"> 여자 &nbsp; &nbsp; &nbsp; </label>
													<input type="radio" id="genderM2" name="usergender" th:value="남" checked />
													<label class="" for="genderM2"> 남자 </label>
												</p>
											</div> 
										</td>
									</tr>
									<tr>
										<td class="tableOdd">이메일</td>
										<td class="tableEven col-md-4">
											<div class="form-inline">
												<input type="text" class="form-control text" id="userEmail" name="userEmail" th:value="*{userEmail}" placeholder="Default Input" />
												<button type="button" class="btn" id="emailCheckBtn">중복확인</button>
											</div>
										</td>
										<td class="tableOdd">휴대폰번호</td>
										<td class="tableEven col-md-4">
											<div class="form-inline">
												<input type="text" class="form-control text" id="userPhone" name="userPhone" th:value="*{userPhone}" placeholder="Default Input" />
												<button type="button" class="btn" id="phoneCheck">중복확인</button>
											</div>
										</td>
									</tr>
									<tr>
										<td class="tableOdd">주소</td>
										<td class="tableEven col-md-4" colspan="3">
											<div class="form-inline">
												<input type="text" class="userAddr form-control text" id="userAddress" name="userAddress" th:value="*{userAddress}" placeholder="Default Input" readonly="readonly" /> 
												<input type="text" class="userAddr form-control text" id="userAddress2" name="userAddress2" th:value="*{userAddress2}" placeholder="Default Input" />
												<button type="button" class="btn" id="addrSearchBtn">주소검색</button>
											</div>
										</td>
									</tr>
									<tr>
										<td class="tableOdd">포인트</td>
										<td class="tableEven col-md-4">
											<input type="text" class="form-control text" id="userPoint" name="userPoint" th:value="*{userPoint}"/>
										</td>
										<td class="tableOdd">벌점</td>
										<td class="tableEven col-md-4">
											<input type="text" class="form-control text" id="userPenalty" name="userPenalty" th:value="*{userPenalty}"/>
										</td>
									</tr>
									<tr>
										<td class="tableOdd">상태</td>
										<td class="tableEven col-md-4">
											<select class="select form-control">
												<option value="정상">정상</option>
												<option value="휴면">휴면</option>
												<option value="정지">정지</option>
											</select>
										</td>
										<td class="tableOdd">정보보관기간</td>
										<td class="tableEven col-md-4">
											<div class="radioDiv" th:switch="${userInfo.userInfoKeep}">
												<p th:case="탈퇴시까지">
													<input type="radio" id="untilLeave1" name="userInfoKeep" th:value="탈퇴시까지" checked />
													<label class="" for="untilLeave1"> 탈퇴시까지 &nbsp; &nbsp; &nbsp; </label>
													<input type="radio" id="oneYear1" name="userInfoKeep" th:value="1년" />
													<label class="" for="oneYear1"> 1년 </label>
												</p>
												<p th:case="1년">
													<input type="radio" id="untilLeave2" name="userInfoKeep" th:value="탈퇴시까지" />
													<label class="" for="untilLeave2"> 탈퇴시까지 &nbsp; &nbsp; &nbsp; </label>
													<input type="radio" id="oneYear2" name="userInfoKeep" th:value="1년" checked />
													<label class="l" for="oneYear2"> 1년 </label>
												</p>
											</div> 
										</td>
									</tr>
								</tbody>
							</table>
							
							<div class="form-group">
		                        <div style="text-align:center; margin: 30px;" >
									<button type="button" class="btn btn" th:onclick="|location.href='@{/admin/user/userList}'|">취소</button>
									<button type="submit" class="btn btn-dark btn">등록</button>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</th:block>

<th:block layout:fragment="customJsScript">
	<th:block th:replace="/fragments/userJs :: datatablesFragment"></th:block>

	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:inline="javascript">
    	/* 주소검색 */
		let text = document.querySelector('#userAddress');
		document.querySelector('#addrSearchBtn').addEventListener('click', function () {

			new daum.Postcode({
				oncomplete: function (data) {
				text.value = data.address;
				}
			}).open();
		});
		
		/* db에 저장된 값으로 selected */
		$(document).ready(function(){
			
			//alert($('#levelBuyer').val());
			
			$('#levelBuyer').each(function(){
				if($(this).val() == "${userInfo.userLevel}") {
				$(this).attr("selected","selected"); // attr적용안될경우 prop으로 
				}
			});
		});

    	/* 회원등급 "구매자"로 표시 */
		$(document).ready(function() {
			
			var rightStatus = $('#userRight').val();
			if(rightStatus === "buyer") {
				$('#userRight').attr('value', "구매자");
			}
		});
    	
		
		//$("#levelBuyer option:selected").val();
		//$("#levelBuyer").val.prop("selected", true);
		
		/*
		$(function(){
	  				
			function vaildationCheck(data) {
				var isValid = true;	 
				
					//유효성검사
					if(typeof data == 'object'){
						$.each(data, function(){
							var inputValue = $(this).val();
							if(typeof inputValue == 'undefined' || inputValue == null || inputValue == '') {
  								isValid = false;
  								var inputId = $(this).attr('id');
  								var alertMsg = $('label[for="'+ inputId +'"]').text();
  								alert(alertMsg + '를 입력해주세요');
  								$(this).focus();
  								return false; //이벤트를 종료시키기 위함
  							}
  						});
  					}
  					
  					if(typeof data == 'string'){
  						if(typeof data == 'undefined' || data == null || data == '') {
								isValid = false;
								return false;
							}
  					}
  					return isValid;
  				}
  				
  				$('#memberId').on('keydown change input keyup blur', function(){
  					$('#idCheckBtn').attr('data-isChecked', false);
  				});
  						
  				$(document).on('click', '#joinBtn', function(){
  					
  					var isChecked = $('#idCheckBtn').attr('data-ischecked');
  					 
  					isChecked = (isChecked == 'true');
  					
  					if(!isChecked) {
  						alert('아이디 중복체크 후 회원가입이 가능합니다.');
  						return false;
  					}
  					
  					var inputObj = $('#addMemberForm input');

  					var isValid = vaildationCheck(inputObj);
  					
  					if(isValid) $('#addMemberForm').submit();
  				});
  				
  				$('#idCheckBtn').click(function(){
  					//var isChecked = $(this).attr('data-isChecked');
  					var memberId = $('#memberId').val();
  					var result = vaildationCheck(memberId);
  					
  					if(!result) {
  						alert('회원아이디를 입력해주세요');
  						return false;
  					}
  					console.log(typeof memberId);
  					
  					var request = $.ajax({
  					  url: '/member/idCheck', //http://localhost/member/idCheck
  					  method: 'GET',
  					  data: { 'memberId' : memberId },
  					  dataType: "json"  //String이면 text   //text, json, xml, html
  					});
  					 
	  					request.done(function( data ) {
  						if(data) {
  							alert('가입된 회원입니다.');
  							$('#memberId').focus();
  						}else {
  							$('#idCheckBtn').attr('data-isChecked', true);
  							$('#addMemberForm input').prop('disabled', false);
  							$('#addMemberForm select').prop('disabled', false);
  							$('#addMemberForm button').prop('disabled', false);

  						}	
  					});
  					
  					request.fail(function( jqXHR, textStatus ) {
  					  alert( "Request failed: " + textStatus );
  					});
  				});
			});
		*/
		
		
		
		
		$('#addUserForm').submit(function(event) {});

    </script>
    
</th:block>

</html>
