<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customContents">
          <div class="page-title">
            <div class="title_left">
              <h3>판매자 조회/승인</h3>
            </div>
          </div>

          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h5>검색 필터
                  <a class="collapse-link"><i class="fa fa-chevron-up" style="color: #b4b7ba;"></i></a>
                </h5>
                <div class="clearfix"></div>
              </div>

              <div class="x_content">
                <div class="well" style="overflow: auto; margin-bottom: 5px;">
                  <div class="">
                    <table class=" table table-bordered" style="background-color: white;">
                      <tbody>
                        <tr>
                          <td class="col-md-2 col-sm-2" style="padding-top: 17px;"><b>검색어</b></td>
                          <td class="col-md-4">
                            <div class="form-inline">
                              <div class="form-group">
                                <select class="form-control" id="userSearchOption" style="width: 150px;">
                                  <option selected>- 전체검색 -</option>
                                  <option value="sellerCode">판매자코드</option>
                                  <option value="sellerId">아이디</option>
                                  <option value="sellerSort">분류코드</option>
                                  <option value="storeName">농장이름</option>
                                  <option value="storeAddr">농장주소</option>
                                  <option value="sellerPhone">전화번호</option>
                                </select>
                              </div>
                              <div class="form-group">
                                <input type="text" class="form-control text" placeholder="검색어를 입력해주세요">
                              </div>
                            </div>
                          </td>
                          <td class="col-md-2 col-sm-2" style="padding-top: 17px;"><b>회원등급</b></td>
                          <td class="col-md-4" style="padding-top: 14px;">
                            <label class="form-check">
                              <input type="checkbox" class="form-check-input" id="rowAllCheck" name="rowAllCheck"> 전체
                            </label>
                            <label>
                              <input type="checkbox" class="indivChecks form-check-input" name="indivChecks"> 구매자
                            </label>
                            <label>
                              <input type="checkbox" class="indivChecks form-check-input" name="indivChecks"> 판매자
                            </label>
                            <label>
                              <input type="checkbox" class="indivChecks form-check-input" name="indivChecks"> 관리자
                            </label>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <div style="text-align: center;">
                      <button type="reset" class="btn btn-dark">초기화</button>
                      <button type="button" class="btn btn-dark">검색</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="accordion" id="sellerWatingAccordion">
                <div class="card">
                  <div class="card-header" id="sellerWating">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" style="margin: 0px;">
                        대기중인 신청 보기
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" data-parent="#sellerWatingAccordion">
                    <div class="card-body">
                      <div class="x_content2">
                        <table id="datatable-checkbox" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
                          <thead>
                            <tr>
                              <th>판매자아이디</th>
                              <th>농장이름</th>
                              <th>예금주</th>
                              <th>계좌번호</th>
                              <th>농장주소</th>
                              <th>전화번호</th>
                              <th>이메일</th>
                              <th>사업자등록증</th>
                              <th>통신판매업신고증</th>
                              <th>신청일자</th>
                              <th>관리</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr th:if="${not #lists.isEmpty(userList)}" th:each="l : ${userList}">
                              <td th:text="${l.userId}"></td>
                              <td th:text="${l.userName}"></td>
                              <td th:text="${l.userNickname}"></td>
                              <td th:text="${l.userId}"></td>
                              <td th:text="${l.userId}"></td>
                              <td th:text="${l.userPhone}"></td>
                              <td th:text="${l.userPhone}"></td>
                              <td><a href="#">첨부파일명</a></td>
                              <td><a href="#">첨부파일명</a></td>
                              <td th:text="${l.userPhone}"></td>
                              <td>
                                <a href="#"><i class="fa fa-check"></i> 승인 </a>
                                <a href="#"><i class="fa fa-times"></i> 승인거부 </a>
                              </td>
                            </tr>
                            <tr th:unless="${not #lists.isEmpty(goodsList)}">
                              <td colspan="11" style="text-align: center;">대기중인 신청이 없습니다.</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                  </div>
                </div>
              </div>



                <h5>판매자 목록</h5>
                <table id="datatable-checkbox" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
                  <thead>
                    <tr>
                      <th>판매자코드</th>
                      <th>판매자아이디</th>
                      <th>농장이름</th>
                      <th>분류코드</th>
                      <th>농장주소</th>
                      <th>전화번호</th>
                      <th>이메일</th>
                      <th>신청일자</th>
                      <th>승인일자</th>
                      <th>승인자</th>
                      <th>관리</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:if="${not #lists.isEmpty(userList)}" th:each="l : ${userList}">
                      <td th:text="${l.userId}"></td>
                      <td th:text="${l.userName}"></td>
                      <td th:text="${l.userNickname}"></td>
                      <td th:text="${l.userId}"></td>
                      <td th:text="${l.userId}"></td>
                      <td th:text="${l.userPhone}"></td>
                      <td th:text="${l.userEmail}"></td>
                      <td th:text="${l.userRegDate}"></td>
                      <td th:text="${l.userRegDate}"></td>
                      <td th:text="${l.userName}"></td>
                      <td>
                        <a href="#">
                          <i class="fa fa-info-circle"></i> 상세
                        </a>
                        <a href="#"><i class="fa fa-edit"></i> 수정</a>
                        <a href="#"><i class="fa fa-close"></i> 삭제</a>
                      </td>
                    </tr>
                    <tr th:unless="${not #lists.isEmpty(goodsList)}">
                      <td class="text-center" colspan="11">등록된 판매자가 없습니다.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>



</th:block>
</html>