<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customTopJs">
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script>
		$(function() {
			let $checks = $('.indivChecks');
			$('#rowAllCheck').click(function() {
				$checks.prop('checked', $(this).prop('checked'));
			});
		});
	</script>
</th:block>

<th:block layout:fragment="customContents">

	<div class="page-title">
		<div class="title_left">
			<h3>회원 목록</h3>
		</div>

		<div class="title_right">
			<div
				class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search"></div>
		</div>
	</div>

	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h5>
					검색 필터 <a class="collapse-link"><i class="fa fa-chevron-up"
						style="color: #b4b7ba;"></i></a>
				</h5>
				<div class="clearfix"></div>
			</div>

			<div class="x_content">
				<div class="well" style="overflow: auto">
					<div class="">
						<table class=" table table-bordered" style="background-color: white;">
							<tbody>
								<tr>
									<td class="col-md-2 col-sm-2" style="padding-top: 17px;"><b>검색어</b></td>
									<td class="col-md-4">
										<div class="form-inline">
											<div class="form-group">
												<select class="form-control" id="userSearchOption" style="width: 150px;">
													<option selected>- 전체검색 -</option>
													<option value="userId">아이디</option>
													<option value="userName">이름</option>
													<option value="userNickName">닉네임</option>
													<option value="userAddr">주소</option>
													<option value="userPhone">전화번호</option>
													<option value="userEmail">이메일</option>
												</select>
											</div>
											<div class="form-group">
												<input type="text" class="form-control text" placeholder="검색어를 입력해주세요">
											</div>
										</div>
									</td>
									<td class="col-md-2 col-sm-2" style="padding-top: 17px;"><b>권한</b></td>
									<td class="col-md-4" style="padding-top: 13px;">
										<label class="form-check"> 
											<input type="checkbox" class="form-check-input" id="rowAllCheck" name="rowAllCheck"> 전체 &nbsp;
										</label>
										<label> 
											<input type="checkbox" class="indivChecks form-check-input" name="indivChecks"> 구매자 &nbsp;
										</label>
										<label> 
											<input type="checkbox" class="indivChecks form-check-input" name="indivChecks"> 판매자 &nbsp;
										</label>
										<label> 
											<input type="checkbox" class="indivChecks form-check-input" name="indivChecks"> 관리자 &nbsp;
										</label>
									</td>
								</tr>
							</tbody>
						</table>

						<div style="text-align: center;">
							<button type="reset" class="btn btn-dark">초기화</button>
							<button type="button" class="btn btn-dark">검색</button>
						</div>
					</div>
				</div>
			</div>

			<div class="x_content2">
				<table id="datatable-checkbox" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
					<thead>
						<tr>
							<th>회원아이디</th>
							<th>이름</th>
							<th>닉네임</th>
							<th>권한</th>
							<th>등급</th>
							<th>연락처</th>
							<th>이메일</th>
							<th>가입일</th>
							<th>최근접속일</th>
							<th style="width: 80px">상태</th>
							<th style="width: 180px">관리</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${not #lists.isEmpty(userList)}" th:each="l : ${userList}">
							<td th:text="${l.userId}"></td>
							<td th:text="${l.userName}"></td>
							<td th:text="${l.userNickname}"></td>
							<td th:text="${l.rightDto.rightStatus}"></td>
							<td th:text="${l.userLevelName}"></td>
							<td th:text="${l.userPhone}"></td>
							<td th:text="${l.userEmail}"></td>
							<td th:text="${l.userRegDate}"></td>
							<td th:text="${l.userUpdateDate}"></td>
							<td th:text="${l.userStatus}"></td>
							<td>
								<a th:href="@{/admin/user/userDetail(userId=${l.userId})}"> 
									<i class="fa fa-info-circle"></i> 상세 &nbsp;
								</a> 
								<a href="#"><i class="fa fa-edit"></i> 수정 &nbsp;</a> 
								<a href="#"><i class="fa fa-close"></i> 탈퇴 &nbsp;</a>
							</td>
						</tr>
						<tr th:unless="${not #lists.isEmpty(userList)}">
							<td colspan="14" style="text-align: center;">등록된 회원이 없습니다.</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</th:block>
</html>