<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/userDefault}">
<th:block layout:fragment="customCss">      
<!-- 폰트 -->
<link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
<!-- 별, 장바구니, 찜하기, 자물쇠 아이콘 -->
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
<!-- 하트 아이콘 -->
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
<style>
* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; color: #333;}
</style>
</th:block>

<th:block layout:fragment="customContents">


<section class="ftco-section" style="padding:4em 0;">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10 text-center">
				<div style="font-size:25px; margin-bottom:20px;">전체상품</div>
          <!--      <ul class="product-category">
                        <li><a href="#" class="active">All</a></li>
                        <li><a href="#">Vegetables</a></li>
                        <li><a href="#">Fruits</a></li>
                        <li><a href="#">Juice</a></li>
                        <li><a href="#">Dried</a></li>
                    </ul>  -->
            </div>
        </div>
            
            <hr>
            
            <!-- 여기서부터 고침  -->
		<div class="row">
                	
			<div class="ftco-animate" style="flex:0 0 20%; margin: auto;" th:object="${goodsList}" th:each="g : ${goodsList}">
				<div class="product" style="border:none; position:realative; width:250px;">
                	<a th:href="@{/user/goods/goods(goodsCode=${g.goodsCode})}" class="img-prod" style="border-radius:25px;">
						<img class="img-fluid" src="/images/goodsTest/apple.png" style="border-radius:25px; height:250px;" alt="goodsImg1">
                    </a>
                    <div class="text py-3 pb-4 px-3">
						<span style="font-size:16px;"><a href="#" style="color:#333;" th:text="${g.goodsName}"></a></span>
						<div>
							<span style="font-weight:bold; font-size:17px; color:#84B147;" th:text="${g.goodsDiscountRate + '%'}"></span>
							<span style="font-weight:bold; font-size:18px;" th:text="${#numbers.formatInteger((g.goodsPrice-g.goodsPrice*g.goodsDiscountRate/100),3,'COMMA') + '원'}"></span>
						</div>
						<div style="color:#767676; text-decoration:line-through; margin-top:-10px;" th:text="${#numbers.formatInteger(g.goodsPrice,3,'COMMA')+'원'}"></div>
						<div class="bottom-area px-3" style=" background-color:rgba(255,255,255,0.5); width:100%; height:60px; top:-60px; ">
							<div class="m-auto" style="text-align:center;">
								<input type="hidden" class="cartAmout" value="1">
								<input type="hidden" class="goodsCode" th:value="${g.goodsCode}">
								<a href="#" style="margin-left:15px; margin-right:15px; background:none;">
									<i class="fi fi-rs-heart" style="font-size:30px; color:white; line-height:2"></i></a>
								<a href="#" class="cartAddBtn" style="margin-left:15px; margin-right:15px; background:none;">
									<i class="fi fi-rr-shopping-cart" style="font-size:30px; color:white; line-height:2"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
             
        </div>  
        <hr style="margin-top:100px;">
	</div>
</section>
</th:block>



<th:block layout:fragment="customJsScript">
<th:block th:replace="/fragments/userJs :: datatablesFragment"></th:block>
<script th:inline="javascript">

$(function() {
	
	/* 장바구니 추가 */
	$('.cartAddBtn').on('click', function(){
		console.log('ddd');
		var cartAmount = $(".cartAmout").val();
		var goodsCode = $(".goodsCode").val();
		$.ajax({
			url: '/user/goods/cartAdd',
			type: 'post',
			data: { cartAmount : cartAmount,
					goodsCode : goodsCode}
		})
			.done(function(result){
				if(result == 1){
					alert("장바구니에 추가되었습니다.");
				} else if(result == 2){
					alert("장바구니에 이미 담긴 상품입니다.");
				} else if(result == 3){
					alert("로그인이 필요합니다.");	
				}
			});
	});
	
	
});


</script>
</html>