<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">

<th:block layout:fragment="customCss">
	<style>
th {
	text-align: center;
}

.table > tbody > tr > td {
	vertical-align: middle;
	text-align: center;
}
</style>
</th:block>

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customContents">
	<div class="col-md-12 col-sm-12 col-xs-12" style="overflow: scroll; width:100%; height:700px;">
		<div class="x_panel">
			<div class="x_title">
				<h2>쿠폰목록 <small>Admin</small></h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-expanded="false"><i
							class="fa fa-wrench"></i></a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="#">Settings 1</a> <a
								class="dropdown-item" href="#">Settings 2</a>
						</div></li>
					<li><a class="close-link"><i class="fa fa-close"></i></a></li>
				</ul>
				<div class="clearfix"></div>
			</div>	
			<div class="x_content2">
				<div class="x_panel">
					<div class="row" align="right">
           				<div class="col-sm-12">
	           				<div class="ml-auto">
	           					<button class="btn btn-success" type="button" data-toggle="modal" data-target="#couponCreate">쿠폰생성</button>
	           				</div>
           				</div>
		           	</div>
					<table id="datatable-checkbox"
						class="table table-striped table-bordered table-hover dataTable no-footer"
						role="grid">
						<thead>
							<tr>
								<th>쿠폰명</th>
								<th>할인금액</th>
								<th>사용조건금액</th>
								<th>만료일자</th>
								<th>등록자</th>
								<th>등록일시</th>
								<th style="width: 140px">관리</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${not #lists.isEmpty(couponList)}" th:each="c : ${couponList}">
								<td th:text="${c.couponName}"></td>
								<td th:text="${'₩' + #numbers.formatInteger(c.discountPrice, 3, 'COMMA')}"></td>
								<td th:text="${'₩' + #numbers.formatInteger(c.priceTerms, 3, 'COMMA') + ' 이상'}"></td>
								<td th:text="${c.endDate}"></td>
								<td th:text="${c.regId}"></td>
								<td th:text="${c.regDate}"></td>
								<td>
									<span style="cursor:pointer;"><i class="fa fa-edit"></i> 수정  </span>
									<span style="cursor:pointer;"><i class="fa fa-close"></i> 삭제</span>
								</td>
							</tr>
							<tr th:unless="${not #lists.isEmpty(couponList)}">
								<td colspan="7">등록된 쿠폰이 없습니다.</td>
							</tr>
						</tbody>
					</table>
				</div>		
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="couponCreate" tabindex="-1" role="dialog" aria-labelledby="searchPaymentDetail" aria-hidden="true">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h2 class="modal-title" id="couponCreateTitle">쿠폰생성</h2>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
			<div class="x_panel">
				<form method="post" th:action="@{/admin/coupon/couponCreate}">
			        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>쿠폰명</th>
								<th>할인금액</th>
								<th>사용조건금액(이상)</th>
								<th>만료일자</th>
								<th>등록자</th>
							</tr>
						</thead>
						<tbody>
								<tr>
									<td><input name="couponName" class="couponInfo" type="text" style="padding: 4px"></td>
									<td><input name="discountPrice" class="couponInfo" type="number" style="padding: 4px" placeholder="숫자만 입력해주세요."></td>
									<td><input name="priceTerms" class="couponInfo" type="number" style="padding: 4px" placeholder="숫자만 입력해주세요."></td>
									<td><input name="endDate" class="form-control couponInfo" type="datetime-local" style="padding: 4px"></td>
									<td><input name="regId" class="form-control" type="text" style="padding: 4px; text-align: center" th:value="${session.SID}" readonly="readonly"></td>
								</tr>
						</tbody>
					</table>
			<div class="text-center">
	        	<button type="submit" class="btn btn-success float-middle createBtn">생성</button>
	        	<button type="button" class="btn btn-warning float-middle resetBtn">초기화</button>
	      	</div>
				</form>
			</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary closeModal" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

</th:block>

<th:block layout:fragment="customJsScript">
	<script type="text/javascript">
		$(function(){
			$('.resetBtn').click(function (){
				$('.couponInfo').val(null);
			});

			$('#couponCreate').on('hidden.bs.modal', function(e) {
				$('.couponInfo').val(null);
			})
		});
	</script>
</th:block>

</html>