<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">

<th:block layout:fragment="customCss">
	<style>
th {
	text-align: center;
}

.table > tbody > tr > td {
	vertical-align: middle;
	text-align: center;
}
</style>
</th:block>

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customContents">
	<div class="col-md-12 col-sm-12 col-xs-12" style="overflow: scroll; width:100%; height:700px;">
		<div class="x_panel">
			<div class="x_title">
				<h2>쿠폰목록 <small>Admin</small></h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-expanded="false"><i
							class="fa fa-wrench"></i></a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="#">Settings 1</a> <a
								class="dropdown-item" href="#">Settings 2</a>
						</div></li>
					<li><a class="close-link"><i class="fa fa-close"></i></a></li>
				</ul>
				<div class="clearfix"></div>
			</div>	
			<div class="x_content2">
				<div class="x_panel">
					<div th:replace="fragments/couponListSearch :: couponListSearchFragment"></div>
					<table id="datatable-checkbox"
						class="table table-striped table-bordered table-hover dataTable no-footer"
						role="grid">
						<thead>
							<tr>
								<th>쿠폰명</th>
								<th>할인금액</th>
								<th>사용조건금액</th>
								<th>만료일자</th>
								<th>등록자</th>
								<th>등록일시</th>
								<th style="width: 140px">관리</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${not #lists.isEmpty(couponList)}" th:each="c : ${couponList}">
								<td th:text="${c.couponName}"></td>
								<td th:text="${'₩' + #numbers.formatInteger(c.discountPrice, 3, 'COMMA')}"></td>
								<td th:text="${'₩' + #numbers.formatInteger(c.priceTerms, 3, 'COMMA') + ' 이상'}"></td>
								<td th:text="${c.endDate}"></td>
								<td th:text="${c.regId}"></td>
								<td th:text="${c.regDate}"></td>
								<td>
									<button class="btn btn-info getUserBtn" th:value="${c.couponCode}" type="button">회원에게 발급</button>
								</td>
							</tr>
							<tr th:unless="${not #lists.isEmpty(couponList)}">
								<td colspan="7">등록된 쿠폰이 없습니다.</td>
							</tr>
						</tbody>
					</table>
				</div>		
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="couponCreate" tabindex="-1" role="dialog" aria-labelledby="searchPaymentDetail" aria-hidden="true">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h2 class="modal-title" id="couponCreateTitle">쿠폰생성</h2>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
			<div class="x_panel">
				<form method="post" th:action="@{/admin/coupon/couponCreate}">
			        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>쿠폰명</th>
								<th>할인금액</th>
								<th>사용조건금액(이상)</th>
								<th>만료일자</th>
								<th>등록자</th>
							</tr>
						</thead>
						<tbody>
								<tr>
									<td><input name="couponName" class="couponInfo" type="text" style="padding: 4px"></td>
									<td><input name="discountPrice" class="couponInfo" type="number" style="padding: 4px" placeholder="숫자만 입력해주세요."></td>
									<td><input name="priceTerms" class="couponInfo" type="number" style="padding: 4px" placeholder="숫자만 입력해주세요."></td>
									<td><input name="endDate" class="form-control couponInfo" type="datetime-local" style="padding: 4px"></td>
									<td><input name="regId" class="form-control" type="text" style="padding: 4px; text-align: center" th:value="${session.SID}" readonly="readonly"></td>
								</tr>
						</tbody>
					</table>
			<div class="text-center">
	        	<button type="submit" class="btn btn-success float-middle createBtn">생성</button>
	        	<button type="button" class="btn btn-warning float-middle resetBtn">초기화</button>
	      	</div>
				</form>
			</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary closeModal" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="modal fade" id="couponIssue" tabindex="-1" role="dialog" aria-labelledby="searchPaymentDetail" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title" id="couponIssueTitle">쿠폰발급하기</h2>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="x_panel">
						<form th:action="@{/admin/coupon/couponIssue}" method="post" >
							<table id="datatable-checkbox" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
								<thead>
								<tr>
									<th style="width: 30px;">
										<input type="checkbox" class="form-check-input motherCheck">
									</th>
									<th>회원아이디</th>
									<th>이름</th>
									<th>닉네임</th>
									<th>권한</th>
									<th>등급</th>
									<!-- <th>연락처</th>
                                    <th>이메일</th> -->
									<th>가입일</th>
									<th>최근접속일</th>
									<th>상태</th>
									<th style="display: none"><input type="text" name="adminId" th:value="${session.SID}"></th>
									<th style="display: none"><input type="text" id="couponCode" name="couponCode"></th>
								</tr>
								</thead>
								<tbody class="userList">
								</tbody>
							</table>
							<div class="text-center">
								<button type="submit" class="btn btn-success float-middle couponIssueBtn">쿠폰발급</button>
								<button type="button" class="btn btn-warning float-middle resetBtn">초기화</button>
							</div>
						</form>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary closeModal" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="pwCheckModal modal fade" id="pwCheckModal" tabindex="-1" role="dialog" aria-labelledby="pwCheckModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="pwCheckModalTitle" style="font-weight: bold; text-align: center;">관리자확인</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="adminPw" class="col-form-label">비밀번호를 입력해주세요.</label>
						<input type="password" class="pwInput form-control" id="adminPw" name="adminPw">
					</div>
				</div>
				<div class="modal-footer" style="text-align: center;">
					<button type="button" class="btn btn-dark" id="adminCheckBtn">확인</button>
					<button type="button" class="btn btn-secondary" id='closeBtn' data-dismiss="modal">닫기</button>
				</div>
			</div>
		</div>
	</div>

</th:block>

<th:block layout:fragment="customJsScript">
	<script type="text/javascript">
		$(function(){
			let motherCheck = $('.motherCheck');
			let childCheckUser = $('.childCheck');
			let adminId = $('#regId').val();

			$('.resetBtn').click(function (){
				$('.couponInfo').val(null);
			});

			$('#couponCreate').on('hidden.bs.modal', function(e) {
				$('.couponInfo').val(null);
			});

			motherCheck.click(function () {
				$('.childCheck').prop('checked', $(this).prop('checked'));
			});

			$('.couponCreateBtn').click(function(){
				$('#pwCheckModal').modal('show');

				$('#adminCheckBtn').off().on('click', function () {
					var adminPw = $('input[name="adminPw"]').val();

					var request = $.ajax({
						url: "/admin/goods/pwCheck",
						method: 'POST',
						data: { userPw : adminPw },
						dataType: "json"
					});

					request.done(function( data ) {
						if (data) {
							$('#pwCheckModal').modal('hide')
							$('#couponCreate').modal('show');
						}else {
							if(typeof adminPw == 'undefined' || adminPw == null || adminPw == '') {
								alert('비밀번호를 입력해주세요.');
								$('#adminPw').focus();
								return false;
							}else {
								alert('비밀번호가 일치하지 않습니다.');
								$('#adminPw').focus();
								return false;
							}
						}
					})
					request.fail(function( jqXHR, textStatus ) {
						alert( "Request failed: " + textStatus );
					});
				});
			})

			$('.getUserBtn').click(function (){

				let couponCode = $(this).val();
				$('#couponCode').val(couponCode);

				$('#pwCheckModal').modal('show');

				$('#adminCheckBtn').off().on('click', function () {
					var adminPw = $('input[name="adminPw"]').val();

					var request = $.ajax({
						url: "/admin/goods/pwCheck",
						method: 'POST',
						data: { userPw : adminPw },
						dataType: "json"
					});

					request.done(function( data ) {

						if (data) {
							$('#pwCheckModal').modal('hide')
							var request = $.ajax({
								url: "/admin/coupon/userList",
								method: 'GET',
								data: { 'getUserListCheck' : true },
								dataType: "json"
							});

							request.done(function( data ) {
								$('#couponIssue').modal('show');
								let userList = "";

								$.each(data, function(index, item){
									userList += "<tr>"
									userList += "<td><input type=\"checkbox\" name='userId' value='"+ data[index].userId + "' class=\"childCheck\"></td>"
									userList += "<td>" + data[index].userId + "</td>"
									userList += "<td>" + data[index].userName + "</td>"
									userList += "<td>" + data[index].userNickname + "</td>"
									userList += "<td>" + data[index].rightList.rightStatus + "</td>"
									userList += "<td>" + data[index].userLevelName + "</td>"
									userList += "<td>" + data[index].userRegDate + "</td>"
									userList += "<td>" + data[index].userUpdateDate + "</td>"
									userList += "<td>" + data[index].userStatus + "</td>"
									userList += "</tr>"
								})

								$('.userList').prepend(userList);

								$('#couponIssue').on('hidden.bs.modal', function(e) {
									$('.userList').empty();
								})
							});

							request.fail(function( jqXHR, textStatus ) {
								alert( "Request failed: " + textStatus );
							});

						}else {
							if(typeof adminPw == 'undefined' || adminPw == null || adminPw == '') {
								alert('비밀번호를 입력해주세요.');
								$('#adminPw').focus();
								return false;
							}else {
								alert('비밀번호가 일치하지 않습니다.');
								$('#adminPw').focus();
								return false;
							}
						}
					})
					request.fail(function( jqXHR, textStatus ) {
						alert( "Request failed: " + textStatus );
					});
				});
			})

			$('#pwCheckModal').on('hidden.bs.modal', function(e) {
				$('#adminPw').val(null);
			});

			$("#adminPw").keyup(function(e){
				if(e.keyCode == 13) {
					$('#adminCheckBtn').click();
				}
			});
		});
	</script>
</th:block>

</html>