<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/userDefault}">

<th:block layout:fragment="customCss">

</th:block>

<th:block layout:fragment="customContents">

    <div th:replace="/fragments/userHeader :: headerFragment"></div>

    <div class="container" style="padding: 80px 0">
        <div>
            <div>주문서 작성</div>
        </div>
        <div>
            <h3>배송지</h3>
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target=".addressSelect">배송지 선택</button>

            <div class="modal fade addressSelect" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <div class="modal-header">
                        </div>
                        <div class="modal-body">
                            <div>
                                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#tab_content1" id="home-tab"
                                                                                  role="tab" data-toggle="tab"
                                                                                  aria-expanded="true">배송지명</a>&nbsp;|&nbsp;
                                        </li>
                                        <li role="presentation" class=""><a href="#tab_content3" role="tab"
                                                                            id="profile-tab2" data-toggle="tab"
                                                                            aria-expanded="false">배송지등록</a>
                                        </li>
                                    </ul>
                                    <div id="myTabContent" class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                            <th:block th:if="${not #lists.isEmpty(addressList)}" th:each="l, e : ${addressList}">
                                                <ul>
                                                    <li th:text="${l.addressName}">123</li>
                                                    <li th:text="${l.receiverName}">123</li>
                                                    <li th:text="${l.address}"></li>
                                                    <li th:text="${l.address2}"></li>
                                                    <li th:text="${l.phone}"></li>
                                                    <li th:text="${l.phone2}"></li>
                                                    <li>
                                                        <a th:href="@{|/user/address/modify/${l.addressList}|}">수정</a>
                                                    </li>
                                                    <li class=" last">
                                                        <a th:href="|javascript:deleteAddressFn('${l.addressList}')|">삭제</a>
                                                    </li>
                                                </ul>
                                            </th:block>
                                        </div>

                                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                                            <form th:action="@{/user/address/register}" method="post">
                                                <div class="form-group">
                                                    <label for="addressName">
                                                        배송지명 <span class="required">*</span>
                                                    </label>
                                                    <div>
                                                        <input type="text" id="addressName" name="addressName" required="required" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="receiverName">
                                                        수령인 <span class="required">*</span>
                                                    </label>
                                                    <div>
                                                        <input type="text" id="receiverName" name="receiverName" required="required" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="postalCode">
                                                        우편번호 <span class="required">*</span>
                                                    </label>
                                                    <div class="form-inline">
                                                        <input type="text" id="postalCode" name="postalCode" required="required" class="form-control" readonly>
                                                        <span class="input-group-btn">
                                                            <button id="addressSearchBtn" type="button" class="btn btn-dark">주소 검색</button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="address">
                                                        주소 <span class="required">*</span>
                                                    </label>
                                                    <div>
                                                        <input type="text" id="address" name="address" required="required" class="form-control" readonly>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="address2">
                                                        상세주소 <span class="required">*</span>
                                                    </label>
                                                    <div>
                                                        <input type="text" id="address2" name="address2" required="required" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="phone">
                                                        연락처 <span class="required">*</span>
                                                    </label>
                                                    <div>
                                                        <input type="text" id="phone" name="phone" required="required" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="phone2">
                                                        연락처 2
                                                    </label>
                                                    <div>
                                                        <input id="phone2" class="form-control" type="text" name="phone2">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="form-check-inline form-switch">
                                                        <label class="form-check-label" for="defaultAddressCheck">기본배송지 설정</label>
                                                        <input class="form-check-input" type="checkbox" id="defaultAddressCheck" name="defaultAddressCheck" checked>
                                                    </div>
                                                </div>
                                                <div class="ln_solid"></div>
                                                <div class="form-group">
                                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                        <button class="btn btn-default" type="reset">Reset</button>
                                                        <button type="submit" class="btn btn-dark">Submit</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>

                    </div>
                </div>
            </div>

            <div>
                <p>이름</p>
                <span>010-0000-0000</span> <span> | </span> <span>010-0000-0001</span>
                <p>전라북도 전주시 익산시 군산시</p>
            </div>
        </div>
        <div>
            <h3>상품정보</h3>
            <div class="d-flex">
                <div class="p-2">상품이미지</div>
                <div class="p-2">상품설명</div>
                <div class="p-2 ml-auto">가격정보</div>
            </div>
        </div>
        <div>
            <h3>쿠폰/할인/포인트</h3>
            <div class="d-flex p-2">
                <span class="p-2 mr-auto">상품할인</span>
                <span class="p-2">5000원</span>
            </div>
            <div class="d-flex p-2">
                <span class="p-2 mr-auto">쿠폰사용</span>
                <button type="button" class="p-2">선택</button>
            </div>
            <div class="d-flex p-2">
                <span class="p-2 mr-auto">쿠폰할인</span>
                <span class="p-2">5000원</span>
            </div>
            <div class="d-flex p-2">
                <span class="p-2 mr-auto">포인트사용</span>
                <input type="text" class="p-2"/>
            </div>
            <div class="d-flex p-2">
                <span class="p-2 mr-auto">보유포인트</span>
                <span class="p-2">5000원</span>
            </div>
        </div>
        <div>
            <h3>최종결제금액</h3>
            <div class="d-flex p-2">
                <span class="p-2 mr-auto">상품금액</span>
                <span class="p-2">5000원</span>
            </div>
            <div class="d-flex p-2">
                <span class="p-2 mr-auto">할인합계</span>
                <span type="text" class="p-2">5000원</span>
            </div>
            <div class="d-flex p-2">
                <span class="p-2 mr-auto">결제금액</span>
                <span class="p-2">5000원</span>
            </div>
        </div>
        <div>
            <h3>결제정보</h3>
            <button type="button" class="btn btn-dark col-4">신용카드</button>
            <button type="button" class="btn btn-dark col-4">계좌이체</button>
        </div>
        <div class="mt-3">
            <button type="button" class="btn btn-warning col-12">결제하기</button>
        </div>
    </div>

</th:block>

</html>