<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/userHead :: headFragment"></head>
<th:block layout:fragment="customMyPageCss">
</th:block>
<body>
<div class="container d-flex justify-content-center">
    <div class="d-flex flex-column justify-content-center col-md-10 col-sm-10">
        <div class="card col mb-2" th:if="${not #lists.isEmpty(addressList)}" th:each="l: ${addressList}">
            <div class="row">
                <div class="card-body col-md-9 col-sm-9">
                    <input type="hidden" name="postAddressList" th:value="${l.addressList}">
                    <h5 class="card-title">[[${l.addressName}]]</h5>
                    <div class="card-text">[[${l.receiverName}]]</div>
                    <div class="card-text">[[${l.address}]], [[${l.address2}]]</div>
                    <div class="card-text">[[${l.phone}]]
                        <th:block th:if="${not #strings.isEmpty(l.phone2)}"> | [[${l.phone2}]]</th:block>
                    </div>
                </div>
                <div class="card-body col-md-3 col-sm-3 my-auto">
                    <div class="mb-4">
                        <a class="btn-lg btn-secondary" href="javascript:void(0)" onclick="selectAddress(this)">선택</a>
                    </div>
                    <div class="mt-4">
                        <a class="btn-lg btn-secondary" th:href="|javascript:deleteAddress('${l.addressList}')|">삭제</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col mb-2">
            <button type="button" class="btn form-control" onclick="location.href='/user/address/register'">배송지 추가
            </button>
        </div>
        <div id="test"></div>
    </div>
</div>


<th:block layout:fragment="customScript">
    <script>
        function deleteAddress(addressList) {
            if (confirm("정말로 삭제하시겠습니까?")) {
                fetch('/user/address/delete', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: addressList
                })
                    .then(() => location.href = '/user/address');
            }
        }

        function selectAddress(obj) {
            let address = obj.closest('.card-body').previousElementSibling;
            opener.document.querySelector('#addressList').innerHTML = address.innerHTML;
            opener.document.querySelector('#addressList').dataset.checked = 'Y';
            window.setTimeout(function () {this.close();}, 200);
        }
    </script>
</th:block>

</body>
</html>