<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/userDefault}">

<th:block layout:fragment="customCss">

</th:block>

<th:block layout:fragment="customContents">

    <div th:replace="fragments/userHeader :: headerFragment"></div>

    <div class="container" style="padding: 80px 0">
        <div>주문서 작성</div>
        <form>
            <div>
                <h3>배송지</h3>
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="addressSelect" class="nav nav-tabs" role="tablist">
                        <th:block th:if="${not #lists.isEmpty(addressList)}"
                                  th:each="l, e : ${addressList}">
                            <li role="presentation">
                                <a th:href="@{|#${l.addressName}|}" class="address" role="tab" data-toggle="tab"
                                   th:data-address-list="${l.addressList}" th:text="${l.addressName}">
                                </a>&nbsp;|&nbsp;
                            </li>
                        </th:block>
                        <li role="presentation" id="submitCheck" class="">
                            <!--<a href="javascript:void(0);" data-toggle="modal" data-target=".addressSelect"
                               role="tab">배송지등록</a>-->
                            <a href="javascript:pop()">배송지등록</a>
                        </li>
                    </ul>
                    <div id="addressSelectContent" class="tab-content">
                        <th:block th:if="${not #lists.isEmpty(addressList)}" th:each="l, e : ${addressList}">
                            <div role="tabpanel" class="tab-pane fade" th:id="${l.addressName}">
                                <input type="hidden" class="postAddressList" th:value="${l.addressList}">
                                <div>[[${l.receiverName}]]</div>
                                <div>
                                    <span>[[${l.phone}]]</span> <span> | </span> <span>[[${l.phone2}]]</span>
                                </div>
                                <div>[[${l.address}]]</div>
                                <div>[[${l.address2}]]</div>
                            </div>
                        </th:block>
                    </div>
                </div>
                <div>
                    <h3>상품정보</h3>
                    <th:block th:each="gl : ${goodsList}">
                        <div class="d-flex goodsCode">
                            <div class="p-2">상품이미지</div>
                            <div class="p-2">
                                <span class="d-block" th:text="${gl.goodsName}"></span>
                                <span class="d-block orderAmount" th:data-goods-code="${gl.goodsCode}">2</span><span>개</span>
                            </div>
                            <div class="p-2 ml-auto goodsPrice" th:text="${gl.goodsPrice}"
                                 th:data-goods-price="${gl.goodsPrice}"
                                 th:data-post-price="${gl.goodsPostPrice}"
                                 th:data-discout-price="${#numbers.formatInteger(gl.goodsPrice * gl.goodsDiscountRate / 100, 0)}"
                                 th:data-order-price="${#numbers.formatInteger(gl.goodsPrice - gl.goodsPrice * gl.goodsDiscountRate / 100, 0)}">
                                <span>원</span>
                            </div>
                        </div>
                    </th:block>
                </div>
                <div>
                    <h3>쿠폰/할인/포인트</h3>
                    <div class="d-flex p-2">
                        <span class="p-2 mr-auto">상품할인</span>
                        <span id="sumGoodsDiscount" class="p-2"></span>
                    </div>
                    <div class="d-flex p-2">
                        <span class="p-2 mr-auto">쿠폰사용</span>
                        <button type="button" id="selectCoupon" class="p-2">선택</button>
                    </div>
                    <div class="d-flex p-2">
                        <span class="p-2 mr-auto">쿠폰할인</span>
                        <span id="couponPrice" class="p-2" data-discount-price="0" >0원</span>
                    </div>
                    <div class="d-flex p-2">
                        <label for="usePoint" class="p-2 mr-auto">포인트사용</label>
                        <input type="text" id="usePoint" class="p-2 discountInput"
                               oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                    </div>
                    <div class="d-flex p-2">
                        <span class="p-2 mr-auto">보유포인트</span>
                        <span id="currentPoint" class="p-2" th:text="${userPoint} + '원'">5000원</span>
                    </div>
                </div>
                <div>
                    <h3>최종결제금액</h3>
                    <div class="d-flex p-2">
                        <span class="p-2 mr-auto">상품금액</span>
                        <span id="totalSum" class="p-2">5000원</span>
                    </div>
                    <div class="d-flex p-2">
                        <span class="p-2 mr-auto">할인합계</span>
                        <span id="goodsDiscountPrice" type="text" class="p-2">5000원</span>
                    </div>
                    <div class="d-flex p-2">
                        <span class="p-2 mr-auto">결제금액</span>
                        <span id="totalOrderPrice" class="p-2">5000원</span>
                    </div>
                </div>
                <div>
                    <h3>결제정보</h3>
                    <button type="button" class="btn btn-dark col-4">신용카드</button>
                    <button type="button" class="btn btn-dark col-4">계좌이체</button>
                </div>
                <div class="mt-3">
                    <button type="button" id="payment" class="btn btn-warning col-12">결제하기</button>
                </div>
            </div>
        </form>
    </div>

</th:block>

<th:block layout:fragment="customScript">

    <script>
        let pop = function () {
            let addressPop = window.open('/user/address/register', 'addressPop', '_blank');
            let popInterval = window.setInterval(function () {
                if (addressPop !== undefined) {
                    if (addressPop.closed) {
                        if (document.querySelector('#submitCheck').classList.contains('submit')) {
                            fetch('/user/address/checkoutlist')
                                .then((response) => response.json())
                                .then((data) => {
                                    let addressList = data.addressList;
                                    let addressName = data.addressName;
                                    let receiverName = data.receiverName;
                                    let address = data.address;
                                    let address2 = data.address2;
                                    let phone = data.phone;
                                    let phone2 = data.phone2;
                                    let addressSelect = `<li role="presentation " data-addressList="${addressList}"> <a href="#${addressName}" role="tab" data-toggle="tab" aria-expanded="true">${addressName}</a>&nbsp;|&nbsp; </li>`;
                                    let addressContent = `<div role="tabpanel" class="tab-pane fade" id="${addressName}"><div>${receiverName}</div>` +
                                        `<div> <span>${phone}</span> <span> | </span> <span>${phone2}</span> </div>` +
                                        `<div>${address}</div> <div>${address2}</div> </div>`;
                                    let addressSelectLi = document.querySelectorAll('#addressSelect li');
                                    addressSelectLi[addressSelectLi.length - 1].insertAdjacentHTML('beforebegin', addressSelect);

                                    document.querySelector('#addressSelectContent').insertAdjacentHTML('beforeend', addressContent);
                                })
                        }
                        window.clearInterval(popInterval);
                    }
                }
            }, 1000);
        }

        /* 쿠폰 선택 팝업, 팝업 종료 시 할인 금액 반영 */
        document.querySelector('#selectCoupon').addEventListener('click', function () {
            let selectCouponPop = window.open('/user/order/couponlist', 'couponList', '_blank');
            let couponInterval = window.setInterval(function () {
                if (selectCouponPop.closed) {
                    discountFn();
                    couponCode = document.querySelector('#couponPrice').dataset.couponCode;
                    window.clearInterval(couponInterval);
                }
            }, 500);
        });

        /* 상품할인 합계 구해서 대입 */
        let goodsDiscountPrice = 0;
        let usePoint = 0;
        let couponPrice = 0;
        let couponCode = '';
        let totalPrice = 0;
        let totalOrderPrice = 0;
        let postAddressList = '';
        let postPrice = 0;
        let totalSum = 0;
        for (let g of document.querySelectorAll('.goodsPrice')) goodsDiscountPrice += Number(g.dataset.discoutPrice);
        for (let g of document.querySelectorAll('.goodsPrice')) totalSum += Number(g.dataset.goodsPrice);
        for (let g of document.querySelectorAll('.goodsPrice')) postPrice += Number(g.dataset.postPrice);

        totalPrice = totalSum - goodsDiscountPrice;

        document.querySelector('#sumGoodsDiscount').textContent = goodsDiscountPrice.toString() + '원';
        document.querySelector('#totalSum').textContent = totalSum.toString() + '원';
        document.querySelector('#goodsDiscountPrice').textContent = goodsDiscountPrice.toString() + '원';
        document.querySelector('#totalOrderPrice').textContent = (totalSum - goodsDiscountPrice).toString() + '원';

        let discountFn = function () {
            usePoint = Number(document.querySelector('#usePoint').value);
            console.log(usePoint);
            couponPrice = Number(document.querySelector('#couponPrice').dataset.discountPrice);
            document.querySelector('#goodsDiscountPrice').textContent
                = (goodsDiscountPrice + usePoint + couponPrice).toString() + '원';
            totalOrderPrice = (totalSum - goodsDiscountPrice - usePoint - couponPrice).toString();
            document.querySelector('#totalOrderPrice').textContent = totalOrderPrice + '원';
        }

        document.querySelector('#usePoint').onchange = discountFn;

        /* 배송지목록 클릭이벤트 */
        document.querySelectorAll('.address').forEach(function (e) {
            e.onclick = function () {
                postAddressList = this.dataset.addressList
                console.log(postAddressList)
            }
        });


        document.querySelector('#payment').addEventListener('click', () => {
            /* tb_order_detail */
            let orderDetail = [];
            for (let i of document.querySelectorAll('.orderAmount')) {
                let goodsCode = i.dataset.goodsCode;
                let orderAmount = Number(i.textContent);
                let obj = {goodsCode, orderAmount}
                orderDetail.push(obj);
                console.log(orderDetail);
            }
            /* tb_order */
            let order = {goodsDiscountPrice, usePoint, couponPrice, couponCode, totalSum, totalPrice, totalOrderPrice, postAddressList, postPrice};

            console.log(order);
            console.log(orderDetail);
           fetch('/user/order/end', {
               method: "POST",
               headers: {
                   "Content-Type": "application/json"
               },
               body: JSON.stringify(order)
           })
               .then((response) => {
                   return response.data/*fetch('/user/order/detail', {
                       method: "POST",
                       headers: {
                           "Content-Type": "application/json"
                       },
                       body: JSON.stringify(orderDetail)
                   });*/
               })
               .then((response) => alert('정상처리 완료'));
        });



    </script>

</th:block>

</html>