<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/userDefault}">

<th:block layout:fragment="customCss">

</th:block>

<th:block layout:fragment="customContents">

    <div th:replace="/fragments/userHeader :: headerFragment"></div>

    <div class="container" style="padding: 80px 0">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 border p-5 rounded">
                <form id="orderForm" th:action="@{/user/order/end}" method="post">
                    <h2>주문서 작성</h2>
                    <div class="border mb-2 p-3">
                    <h4>배송지</h4>
                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="addressSelect" class="nav nav-tabs" role="tablist">
                            <th:block th:if="${not #lists.isEmpty(addressList)}"
                                      th:each="l, e : ${addressList}">
                                <li role="presentation">
                                    <a th:href="@{|#${l.addressName}|}" class="address" role="tab" data-toggle="tab"
                                       th:data-address-list="${l.addressList}" th:text="${l.addressName}">
                                    </a>&nbsp;|&nbsp;
                                </li>
                            </th:block>
                            <li role="presentation" id="submitCheck" class="">
                                <a href="javascript:pop()">배송지등록</a>
                            </li>
                        </ul>
                        <div id="addressSelectContent" class="tab-content">
                            <th:block th:if="${not #lists.isEmpty(addressList)}" th:each="l, e : ${addressList}">
                                <div role="tabpanel" class="tab-pane fade" th:id="${l.addressName}">
                                    <input type="hidden" class="postAddressList" th:value="${l.addressList}">
                                    <div>[[${l.receiverName}]]</div>
                                    <div>
                                        <span>[[${l.phone}]]</span>
                                        <span th:if="${l.phone2 != null}">|</span>
                                        <span>[[${l.phone2}]]</span>
                                    </div>
                                    <div>[[${l.address}]]</div>
                                    <div>[[${l.address2}]]</div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    </div>
                    <div class="border mb-2 p-3">
                        <h4>상품정보</h4>
                        <th:block th:each="gl : ${goodsList}">
                            <div class="d-flex">
                                <input type="hidden" name="goodsCode" th:value="${gl.goodsCode.goodsCode}"/>
                                <input type="hidden" name="orderOgPrice" th:value="${gl.goodsCode.goodsPrice}"/>
                                <input type="hidden" name="discountPrice"
                                       th:value="${#numbers.formatInteger(gl.goodsCode.goodsPrice * gl.goodsCode.goodsDiscountRate / 100, 0)}"/>
                                <input type="hidden" name="orderPrice"
                                       th:value="${#numbers.formatInteger(gl.goodsCode.goodsPrice - gl.goodsCode.goodsPrice * gl.goodsCode.goodsDiscountRate / 100, 0)}"/>
                                <input type="hidden" name="orderAmount" th:value="${gl.cartAmount}"/>
                                <input type="hidden" name="goodsPostPrice" th:value="${gl.goodsCode.goodsPostPrice}"/>
                                <div class="p-2">상품이미지</div>
                                <div class="p-2">
                                    <a class="d-block" th:text="${gl.goodsCode.goodsName}" th:href="@{/user/goods/goods(goodsCode=${gl.goodsCode.goodsCode})}"></a>
                                    <span class="d-block" th:text="${gl.cartAmount} + '개'"></span>
                                </div>
                                <div class="p-2 ml-auto">
                                    <span th:text="${gl.goodsCode.goodsPrice * gl.cartAmount + '원'}"></span>
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div class="border mb-2 p-3">
                        <h4>쿠폰/할인/포인트</h4>
                        <input type="hidden" name="goodsDiscountPrice" value=""/>
                        <input type="hidden" name="totalSum" value=""/>
                        <input type="hidden" name="couponPrice" value="0"/>
                        <input type="hidden" name="couponCode" value=""/>
                        <input type="hidden" name="couponStatusCode" value=""/>
                        <input type="hidden" name="totalPrice" value=""/>
                        <input type="hidden" name="totalOrderPrice" value=""/>
                        <input type="hidden" name="postAddressList" value=""/>
                        <input type="hidden" name="postPrice" value=""/>
                        <div class="d-flex p-2">
                            <span class="p-2 mr-auto">상품할인</span>
                            <span id="totalDiscount" class="p-2"></span>
                        </div>
                        <div class="d-flex p-2">
                            <span class="p-2 mr-auto">쿠폰사용</span>
                            <button type="button" id="selectCoupon" class="p-2 btn btn-dark">선택</button>
                        </div>
                        <div class="d-flex p-2">
                            <span class="p-2 mr-auto">쿠폰할인</span>
                            <span id="couponPrice" class="p-2">0원</span>
                        </div>
                        <div class="d-flex p-2">
                            <label for="usePoint" class="p-2 mr-auto">포인트사용</label>
                            <input type="text" id="usePoint" class="p-2" name="usePoint" value="0"
                                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                        </div>
                        <div class="d-flex p-2">
                            <span class="p-2 mr-auto">보유포인트</span>
                            <span id="userPoint" class="p-2" th:text="${userPoint} + '원'"></span>
                        </div>
                    </div>
                    <div class="border mb-2 p-3">
                        <h4>최종결제금액</h4>
                        <div class="d-flex p-2">
                            <span class="p-2 mr-auto">상품금액</span>
                            <span id="totalSum" class="p-2"></span>
                        </div>
                        <div class="d-flex p-2">
                            <span class="p-2 mr-auto">할인합계</span>
                            <span id="goodsDiscountPrice" type="text" class="p-2"></span>
                        </div>
                        <div class="d-flex p-2">
                            <span class="p-2 mr-auto">결제금액</span>
                            <span id="totalOrderPrice" class="p-2"></span>
                        </div>
                    </div>
                    <div class="mt-5">
                        <button type="button" class="btn btn-dark col-4">신용카드</button>
                        <button type="button" class="btn btn-dark col-4">계좌이체</button>
                        <div class="mt-3">
                            <button type="submit" class="btn btn-warning col-12">결제하기</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</th:block>

<th:block layout:fragment="customScript">

    <script>
        let pop = function () {
            let addressPop = window.open('/user/address/register', 'addressPop', 'width=350,height=550');
            let popInterval = window.setInterval(function () {
                if (addressPop !== undefined) {
                    if (addressPop.closed) {
                        if (document.querySelector('#submitCheck').classList.contains('submit')) {
                            fetch('/user/address/checkoutlist')
                                .then((response) => response.json())
                                .then((data) => {
                                    let addressList = data.addressList;
                                    let addressName = data.addressName;
                                    let receiverName = data.receiverName;
                                    let address = data.address;
                                    let address2 = data.address2;
                                    let phone = data.phone;
                                    let phone2 = data.phone2;
                                    let addressSelect = `<li role="presentation " data-address-list="${addressList}"> <a href="#${addressName}" role="tab" data-toggle="tab" aria-expanded="true">${addressName}</a>&nbsp;|&nbsp; </li>`;
                                    let addressContent = `<div role="tabpanel" class="tab-pane fade" id="${addressName}"><div>${receiverName}</div>` +
                                        `<div> <span>${phone}</span> <span> | </span> <span>${phone2}</span> </div>` +
                                        `<div>${address}</div> <div>${address2}</div> </div>`;
                                    let addressSelectLi = document.querySelectorAll('#addressSelect li');
                                    addressSelectLi[addressSelectLi.length - 1].insertAdjacentHTML('beforebegin', addressSelect);

                                    document.querySelector('#addressSelectContent').insertAdjacentHTML('beforeend', addressContent);
                                })
                        }
                        window.clearInterval(popInterval);
                    }
                }
            }, 1000);
        }

        /* 쿠폰 선택 팝업, 팝업 종료 시 할인 금액 반영 */
        document.querySelector('#selectCoupon').addEventListener('click', function () {
            let selectCouponPop = window.open('/user/order/couponlist', 'coupon', 'width=800,height=450');
            let couponInterval = window.setInterval(function () {
                if (selectCouponPop.closed) {
                    discountFn();
                    window.clearInterval(couponInterval);
                }
            }, 500);
        });

        /* 상품할인 합계 구해서 대입 (tb_order) */
        let goodsDiscountPrice = 0;
        let totalSum = 0;
        let postPrice = 0;

        for (let i = 0; i < document.getElementsByName('discountPrice').length; i++) {
            goodsDiscountPrice += Number(document.getElementsByName('discountPrice')[i].value) * Number(document.getElementsByName('orderAmount')[i].value);
            totalSum += Number(document.getElementsByName('orderOgPrice')[i].value) * Number(document.getElementsByName('orderAmount')[i].value);
            postPrice += Number(document.getElementsByName('goodsPostPrice')[i].value);
        }

        document.querySelector('#totalDiscount').textContent = goodsDiscountPrice.toString() + '원';

        document.querySelector('#totalSum').textContent = totalSum.toString() + '원';
        document.getElementsByName('totalSum')[0].value = totalSum.toString();
        document.querySelector('#goodsDiscountPrice').textContent = goodsDiscountPrice.toString() + '원';
        document.getElementsByName('goodsDiscountPrice')[0].value = goodsDiscountPrice.toString();
        document.querySelector('#totalOrderPrice').textContent = (totalSum - goodsDiscountPrice).toString() + '원';
        document.getElementsByName('totalOrderPrice')[0].value = (totalSum - goodsDiscountPrice).toString();
        document.getElementsByName('totalPrice')[0].value = (totalSum - goodsDiscountPrice).toString();
        document.getElementsByName('postPrice')[0].value = postPrice.toString();

        /* 포인트, 쿠폰 금액 변경 시 할인금액과 결제금액 변경 함수*/
        let discountFn = function () {
            let usePoint = 0;
            if (document.querySelector('#usePoint').value !== '') {
                usePoint = Number(document.querySelector('#usePoint').value);
            }
            let couponPrice = Number(document.getElementsByName('couponPrice')[0].value);
            document.querySelector('#goodsDiscountPrice').textContent
                = (goodsDiscountPrice + usePoint + couponPrice).toString() + '원';
            document.getElementsByName('goodsDiscountPrice')[0].value
                = (goodsDiscountPrice + usePoint + couponPrice).toString();
            document.querySelector('#totalOrderPrice').textContent
                = (totalSum - goodsDiscountPrice - usePoint - couponPrice).toString() + '원';
            document.getElementsByName('totalOrderPrice')[0].value
                = (totalSum - goodsDiscountPrice - usePoint - couponPrice).toString();
        }

        /* 포인트 변경 시 discountFn 함수 호출 */
        document.querySelector('#usePoint').onchange = discountFn;

        /* 배송지목록 클릭이벤트 */
        document.querySelectorAll('.address').forEach(function (e) {
            e.onclick = function () {
                document.getElementsByName('postAddressList')[0].value = e.dataset.addressList;
            }
        });

    </script>

</th:block>

</html>