<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/userHead :: headFragment"></head>
<th:block layout:fragment="customMyPageCss">
</th:block>
<body>
<div class="col">
    <form id="addressRegisterForm" th:action="@{/user/address/register}" method="post" onsubmit="submitCheck();">
        <input type="hidden" id="checkout" name="checkout" th:value="${checkout}">
        <div class="form-group">
            <label for="addressName"> 배송지명 <span class="required">*</span> </label>
            <div>
                <input type="text" id="addressName" name="addressName" required="required" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="receiverName"> 수령인 <span class="required">*</span> </label>
            <div>
                <input type="text" id="receiverName" name="receiverName" required="required" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="postalCode"> 우편번호 <span class="required">*</span> </label>
            <div class="input-group" style="width: 40%;">
                <input type="text" id="postalCode" name="postalCode" required="required" class="form-control" readonly>
                <div class="input-group-append">
                    <button id="addressSearchBtn" type="button" class="btn btn-secondary">주소 검색</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="address"> 주소 <span class="required">*</span> </label>
            <div>
                <input type="text" id="address" name="address" required="required" class="form-control" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="address2"> 상세주소 <span class="required">*</span> </label>
            <div>
                <input type="text" id="address2" name="address2" required="required" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="phone"> 연락처 <span class="required">*</span> </label>
            <div class="">
                <input type="text" id="phone" name="phone" required="required" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="phone2" class=""> 연락처 2 </label>
            <div>
                <input type="text" id="phone2" name="phone2" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="" for="defaultAddressCheck"> 기본배송지 설정 </label>
            <input type="checkbox" id="defaultAddressCheck" name="defaultAddressCheck" class="" checked="checked"
                   value="Y">
        </div>
        <div class="form-group">
            <div>
                <button class="btn-lg btn-secondary mr-1" type="button" onclick="location.href='/user/address'">취소</button>
                <button id="addressRegisterBtn" type="submit" class="btn-lg btn-dark">등록</button>
            </div>
        </div>
    </form>
</div>
<th:block th:replace="fragments/userJs :: jsFragment"></th:block>
<th:block layout:fragment="customScript">
    <script th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
    <script>
        document.querySelector('#addressSearchBtn').addEventListener('click', function () {
            new daum.Postcode({
                oncomplete: function (data) {
                    document.querySelector('#postalCode').value = data.zonecode;
                    document.querySelector('#address').value = data.address;
                }
            }).open();
        });

        const modifyAddress = function (addressList) {
            fetch(`/user/address/modify/${addressList}`)
                .then((response) => response.json())
                .then((data) => {
                    for (let key in data) {
                        let input = document.querySelector('#' + key);
                        if (input !== null) {
                            input.value = data[key];
                        }
                    }
                    document.querySelector('#addressList').value = addressList;
                    document.querySelector('#addressModal').style.display = 'block';
                });
        }
    </script>
</th:block>

</body>
</html>