<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/userHead :: headFragment"></head>
<body>
<div id="couponList">
    <ul class="list-inline">
        <li class="list-inline-item col-2">쿠폰명</li>
        <li class="list-inline-item col-2">할인가격</li>
        <li class="list-inline-item col-2">최소주문가격</li>
        <li class="list-inline-item col-3">만료일자</li>
        <li class="list-inline-item col-2">선택</li>
    </ul>
    <th:block th:if="${not #lists.isEmpty(couponStatus)}" th:each="cs : ${couponStatus}">
        <ul class="list-inline">
            <li class="list-inline-item col-2" th:text="${cs.couponInfo.couponName}">쿠폰명</li>
            <li class="list-inline-item col-2" th:text="${cs.couponInfo.discountPrice}">할인가격</li>
            <li class="list-inline-item col-2" th:text="${cs.couponInfo.priceTerms}">최소주문가격</li>
            <li class="list-inline-item col-3" th:text="${cs.couponInfo.endDate}">만료일자</li>
            <li class="list-inline-item col-2">
                <button type="button" class="useCoupon btn-sm btn-secondary"
                        th:if="0 < ${cs.couponInfo.priceTerms}"
                        th:data-coupon-status-code="${cs.couponStatusCode}"
                        th:data-coupon-code="${cs.couponInfo.couponCode}"
                        th:data-discount-price="${cs.couponInfo.discountPrice}">선택
                </button>
                <button type="button" class="useCoupon"
                        th:unless="0 < ${cs.couponInfo.priceTerms}" disabled>선택
                </button>
            </li>
        </ul>
    </th:block>
</div>

<th:block th:replace="fragments/userJs :: jsFragment"></th:block>
<script>

    document.querySelector('#couponList').addEventListener('click', function (e) {
        if (e.target.classList.contains('useCoupon')) {
            opener.document.querySelector('#couponPrice').textContent = e.target.dataset.discountPrice + '원';
            opener.document.getElementsByName('couponPrice')[0].value = e.target.dataset.discountPrice;
            opener.document.getElementsByName('couponStatusCode')[0].value = e.target.dataset.couponStatusCode;
            opener.document.getElementsByName('couponCode')[0].value = e.target.dataset.couponCode;
            window.setTimeout(function () {
                this.close();
            }, 500);
        }
    });

</script>


</body>
</html>