<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>쿠폰 목록</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>
<body>
<div id="couponList">
    <ul class="list-inline">
        <li class="list-inline-item col-2">쿠폰명</li>
        <li class="list-inline-item col-2">할인가격</li>
        <li class="list-inline-item col-2">최소주문가격</li>
        <li class="list-inline-item col-3">만료일자</li>
        <li class="list-inline-item col-2">선택</li>
    </ul>
    <th:block th:if="${not #lists.isEmpty(couponStatus)}" th:each="cs : ${couponStatus}">
        <ul class="list-inline">
            <li class="list-inline-item col-2" th:text="${cs.couponInfo.couponName}">쿠폰명</li>
            <li class="list-inline-item col-2" th:text="${cs.couponInfo.discountPrice}">할인가격</li>
            <li class="list-inline-item col-2" th:text="${cs.couponInfo.priceTerms}">최소주문가격</li>
            <li class="list-inline-item col-3" th:text="${cs.couponInfo.endDate}">만료일자</li>
            <li class="list-inline-item col-2">
                <button type="button" class="useCoupon"
                        th:if="0 < ${cs.couponInfo.priceTerms}"
                        th:data-coupon-code="${cs.couponInfo.couponCode}"
                        th:data-discount-price="${cs.couponInfo.discountPrice}">선택
                </button>
                <button type="button" class="useCoupon"
                        th:unless="0 < ${cs.couponInfo.priceTerms}" disabled>선택
                </button>
            </li>
        </ul>
    </th:block>
</div>

<script>

    document.querySelector('#couponList').addEventListener('click', function (e) {
        if (e.target.classList.contains('useCoupon')) {
            opener.document.querySelector('#couponPrice').textContent = e.target.dataset.discountPrice + '원';
            opener.document.getElementsByName('couponPrice')[0].value = e.target.dataset.discountPrice;
            opener.document.getElementsByName('couponCode')[0].value = e.target.dataset.couponCode;
            window.setTimeout(function () {
                this.close();
            }, 500);
        }
    });

</script>


</body>
</html>