<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/build/css/bootstrap.min.css}">
    <script th:src="@{/build/js/bootstrap.min.js}"></script>
    <script th:src="@{/build/js/jquery-3.6.1.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <form th:object="${orderDetail}">
                <div class="form-group my-3">
                    <label for="orderNum">주문번호</label>
                    <input type="email" class="form-control" id="orderNum" th:value="*{orderNum}" readonly/>
                </div>
                <div class="form-group mb-3">
                    <label for="input2">상품명</label>
                    <input type="text" class="form-control" id="input2" th:value="*{goodsCode}" readonly/>
                </div>
                <div class="form-group mb-3">
                    <label for="exchangeReason">교환사유</label>
                    <select class="custom-select form-control" id="exchangeReason" required>
                        <option selected disabled value="invalid">교환사유를 선택해주세요</option>
                        <option value="123">품질</option>
                        <option value="123">파손</option>
                        <option value="123">오배송</option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="textarea">상세사유</label>
                    <textarea class="form-control" id="textarea" rows="3"></textarea>
                </div>
                <div class="form-group text-right">
                    <button type="button" class="btn btn-dark">교환요청</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>