<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminDefault}">

	<th:block layout:fragment="customTitle">
	    <title th:text="${title}"></title>
	</th:block>
	
	<th:block layout:fragment="customContents">
		<div class="row">
			<div class="col-sm-12">
        		<div class="x_panel">
            		<div class="x_title">
            		    <h2 style="font-size: 17px;">판매자 등급 카테고리 내역 (목록에서 클릭한 열의 등급 코드 PK값에 해당하는 카테고리 정보를 화면에 바인딩한다.)</h2>
                    	<div class="clearfix"></div>
            		</div>
            		<div class="x_content">
	            		<div class="row">
                    		<div class="col-sm-12">
         						<br/>
								<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" th:action="@{/admin/category/modifylevelSellerCategory}" method="post">
									<!-- 등급 코드 PK -->
									<div class="item form-group">
										<label class="col-form-label col-md-3 col-sm-3 label-align" for="levelCode">등급 코드 PK
										</label>
										<div class="col-md-6 col-sm-6 ">
											<input type="text" id="levelCode" name="levelCode" th:value="${levelSellerCategory.levelCode}" disabled="disabled" required="required" class="form-control" maxlength="15">
										</div>
									</div>
									<!-- 등급 이름 -->
									<div class="item form-group">
										<label class="col-form-label col-md-3 col-sm-3 label-align" for="levelName">등급 이름
										</label>
										<div class="col-md-6 col-sm-6 ">
											<select class="select2_single form-control" id="levelName" disabled="disabled" name="levelName" required="required" tabindex="-1">
												<option></option>
												<th:block th:if="${not #lists.isEmpty(levelSellerCategoryList)}" th:each="lsCategoryList : ${levelSellerCategoryList}">
													<!-- th:selected 사용 -->
													<option th:if="${lsCategoryList.levelCode eq 'levelSeller01'}" th:value="${lsCategoryList.levelCode}" th:selected="${levelSellerCategory.levelName eq '물방울'}">물방울</option> 
													<option th:if="${lsCategoryList.levelCode eq 'levelSeller02'}" th:value="${lsCategoryList.levelCode}" th:selected="${levelSellerCategory.levelName eq '시냇물'}">시냇물</option>
													<option th:if="${lsCategoryList.levelCode eq 'levelSeller03'}" th:value="${lsCategoryList.levelCode}" th:selected="${levelSellerCategory.levelName eq '호수'}">호수</option>
													<option th:if="${lsCategoryList.levelCode eq 'levelSeller04'}" th:value="${lsCategoryList.levelCode}" th:selected="${levelSellerCategory.levelName eq '강'}">강</option>
												</th:block>	
											</select>
										</div>
									</div>
									<!-- 회원 아이디(등록) -->
									<div class="item form-group">
										<label class="col-form-label col-md-3 col-sm-3 label-align" for="regId">회원 아이디(등록)
										</label>
										<div class="col-md-6 col-sm-6 ">
											<input type="text" name="regId" id="regId" th:value="${levelSellerCategory.regId}" disabled="disabled" required="required" class="form-control" maxlength="15">
										</div>
									</div>
									<!-- 등급 생성일 -->
									<div class="item form-group">
										<label class="col-form-label col-md-3 col-sm-3 label-align" for="levelRegDate">등급 생성일
										</label>
										<div class="col-md-6 col-sm-6 ">
											<input type="datetime" name="levelRegDate" id="levelRegDate" th:value="${levelSellerCategory.levelRegDate}" disabled="disabled" required="required" class="form-control" maxlength="15">
										</div>
									</div>
									<!-- 사용 여부 -->
									<div class="item form-group">
										<label class="col-form-label col-md-3 col-sm-3 label-align">사용 여부
										</label>
										<div class="col-md-6 col-sm-6 ">
											<input type="radio" class="flat" name="useCheck" id="useCheckY" value="Y" th:checked="${levelSellerCategory.useCheck eq 'Y'}" required="required" disabled="disabled"/> Y
											<input type="radio" class="flat" name="useCheck" id="useCheckN" value="N" th:checked="${levelSellerCategory.useCheck eq 'N'}" required="required" disabled="disabled"/> N
										</div>
									</div>
									<!-- 1년 누적 판매 금액 -->
									<div class="item form-group">
										<label class="col-form-label col-md-3 col-sm-3 label-align" for="sellerPriceTerms">1년 누적 판매 금액
										</label>
										<div class="col-md-6 col-sm-6 ">
											<!-- 숫자만 입력 가능 -->
											<input type="number" id="sellerPriceTerms" name="sellerPriceTerms" th:value="${levelSellerCategory.sellerPriceTerms}" disabled="disabled" required="required" class="form-control" oninput="handleOnInput(this, 15)">
										</div>
									</div>
									<!-- 1년 누적 판매 건수 -->
									<div class="item form-group">
										<label class="col-form-label col-md-3 col-sm-3 label-align" for="sellerScoreTerms">1년 누적 판매 건수
										</label>
										<div class="col-md-6 col-sm-6 ">
											<!-- 숫자만 입력 가능 -->
											<input type="number" id="sellerScoreTerms" name="sellerScoreTerms" th:value="${levelSellerCategory.sellerScoreTerms}" disabled="disabled" required="required" class="form-control" oninput="handleOnInput(this, 15)">
										</div>
									</div>
									<!-- 6개월 평균 리뷰 평점 -->
									<div class="item form-group">
										<label for="sellerReviewTerms" class="col-form-label col-md-3 col-sm-3 label-align">6개월 평균 리뷰 평점
										</label>
										<div class="col-md-6 col-sm-6 ">
											<!-- 숫자만 입력 가능 -->
											<input id="sellerReviewTerms" class="form-control" type="number" th:value="${levelSellerCategory.sellerReviewTerms}" disabled="disabled" required="required" name="sellerReviewTerms" oninput='handleOnInput(this, 15)'>
										</div>
									</div>
									<!-- 등급 코드 -->
									<div class="item form-group">
										<label class="col-form-label col-md-3 col-sm-3 label-align" for="levelCodeNpk">등급 코드 
										</label>
										<div class="col-md-6 col-sm-6 ">
											<input type="text" name="levelCodeNpk" id="levelCodeNpk" th:value="${levelSellerCategory.levelCodeNpk}" disabled="disabled" required="required" class="form-control" maxlength="15">
										</div>
									</div>
									<div class="ln_solid"></div>
									<div class="item form-group">
										<div class="col-md-6 col-sm-6 offset-md-3">
											<button type="button" id="modifyBtn" class="btn btn-primary">수정</button>
											<button class="btn btn-success" type="reset">초기화</button>
											<button id="cancelBtn" class="btn btn-warning" type="button">목록</button>
										</div>
									</div>
									<div class="ln_solid"></div>
									<ul style="padding-left: 0;">
										<li style="list-style: none; padding-left: 10px;">1. 수정 버튼 클릭하면 비활성 상태인 요소가 활성화되면서 수정이 가능하다.</li>
										<li style="list-style: none; padding-left: 10px;">2. 초기화 버튼 클릭하면 수정했던 내용이 초기화된다.</li>
										<li style="list-style: none; padding-left: 10px;">3. 목록 버튼 클릭하면 목록으로 이동한다.</li>
									</ul>
								</form> <!-- <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left"> -->
           					</div> <!-- </div class="col-sm-12"> -->
           				</div> <!-- </div class="row"> -->
           				
           			</div> <!-- </div class="x_content"> -->
            	</div> <!-- </div class="x_panel"> -->
            
			</div> <!-- </div class="col-md-12 col-sm-12"> -->
		</div> <!-- </div class="row"> -->
	
	</th:block>

	<th:block layout:fragment="customJsScript">
		<script type="text/javascript">
			function handleOnInput(el, maxlength) {
			  if(el.value.length > maxlength)  {
			    el.value 
			      = el.value.substr(0, maxlength);
			  }
			}
			
			// 수정 버튼 탐색
			let modifyBtn = document.querySelector('#modifyBtn');
			// 수정할 요소 탐색
 			let updateContent = document.querySelectorAll('#levelName, #sellerPriceTerms, #sellerReviewTerms, #sellerScoreTerms, #useCheckY, #useCheckN');
			
			// 수정 버튼에 이벤트 등록
			modifyBtn.addEventListener('click', function(){
				for(var i=0; i<updateContent.length; i++){
					// 수정할 요소가 disabled 상태라면 원래대로 바꾼다. 
					if(updateContent[i].disabled){
						updateContent[i].disabled = false;
					}
				}
				// 그리고 수정 버튼을 전송 버튼으로 바꾼다.
				modifyBtn.addEventListener('click', function(){
					let disabledContent =  $('input[disabled]');
					disabledContent.each(function(i){
						// console.log($(this)[0].disabled);
						$(this)[0].disabled=false;
					});
					this.type = 'submit';
				});
			});
			
			// 목록 버튼 탐색
			let cancelBtn = document.querySelector('#cancelBtn');
			
			// 목록 버튼에 이벤트 등록
			cancelBtn.addEventListener('click', function(){
				console.log(location.href);
				// 판매자 등급 카테고리 목록으로 리다이렉트
				window.location = '/admin/category/levelSeller';
			
			});
			
			$(function(){
				// 초기화 버튼 탐색
				let $cancleBtn =  $('button:reset');
				// 체크가 되있는 상태인 라디오 버튼 탐색
				let $radioBtn =  $('input[checked*=checked]');
				console.log($radioBtn.prop('id'));
				console.log($cancleBtn);
				$cancleBtn.click(function(){
					// 모든 라디오 버튼 탐색
					let $radioBtn =  $('input:radio');
					$radioBtn.each(function(i){
						console.log($(this).prop('id'));
// 						if($(this).prop('id') != $radioBtn){
// 							console.log('다르다');
// 						}else{
// 							console.log('같다.');
// 						}
					});
				});
			});
		</script>
	</th:block>

</html>