<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customTopJs">
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script>
		$(function() {
			let $checks = $('.indivChecks');
			$('checkAll').click(function() {
				$checks.prop('checked', $(this).prop('checked'));
			});
		});
	</script>
</th:block>

<th:block layout:fragment="customContents">

	<div class="page-title">
		<div class="title_left">
			<h3>알림 전송 내역</h3>
		</div>

		<div class="title_right">
			<div
				class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search"></div>
		</div>
	</div>

	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h5>
					검색 필터 
					<a class="collapse-link"><i class="fa fa-chevron-up" style="color: #b4b7ba;"></i></a>
				</h5>
				<div class="clearfix"></div>
			</div>

			<div class="x_content">
				<div class="well" style="overflow: auto">
					<div class="">
						<table class=" table table-bordered" style="background-color: white;">
							<tbody>
								<tr>
									<td class="col-md-2 col-sm-2" style="padding-top: 17px;"><b>알림선택</b></td>
									<td class="col-md-10">
										<div class="form-inline">
											<div class="form-group">
												<div class="form-group">
													<select class="form-control" id="alertSearchOption" style="width: 250px;">
														<option selected>- 전체검색 -</option>
														<th:block  th:if="${not #lists.isEmpty(alertList)}" th:each="l : ${alertList}">														
															<option th:value="${l.alertCode}">[[${l.alertContent}]]</option>
														</th:block>
													</select>
												</div>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td class="col-md-2 col-sm-2" style="padding-top: 17px;"><b>기간</b></td>
									<td class="col-md-10" style="padding: 3px 0px 3px;">
										<div class="x_content form-inline">
											<div class="form-group">
												<fieldset>
													<div class="control-group">
														<div class="controls">
															<div class="input-prepend input-group"
																style="margin: 0px 5px 0px;">
																<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
																<input type="text" style="width: 200px" name="reservation" id="reservation" class="form-control" value="01/01/2016 - 01/25/2016" />
															</div>
														</div>
													</div>
												</fieldset>
											</div>
											<div class="form-group">
												<div class="row">
													<div class="btn-group  btn-group-sm" style="margin: 0px 10px 4px;">
														<button class="btn btn-default" type="button">오늘</button>
														<button class="btn btn-default" type="button">7일</button>
														<button class="btn btn-default" type="button">15일</button>
														<button class="btn btn-default" type="button">1개월</button>
														<button class="btn btn-default" type="button">3개월</button>
													</div>
												</div>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>

						<div style="text-align: center;">
							<button type="reset" class="btn btn-dark">초기화</button>
							<button type="button" class="btn btn-dark">검색</button>
						</div>
					</div>
				</div>
			</div>

			<div class="x_content2">
				<table id="datatable-checkbox" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
					<thead>
						<tr>
							<th style="width: 30px;">
								<input type="checkbox" id="checkAll" class="flat">
							</th>
							<th>알림전송</th>
							<th>알림코드</th>
							<th>수신자</th>
							<th>발신자</th>
							<th>수신일시</th>
							<th>발신일시</th>
							<th>관리</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${not #lists.isEmpty(alertSendList)}" th:each="a : ${alertSendList}">
							<td>
								<input type="checkbox" class="indivChecks flat">
							</td>
							<td th:text="${a.alertSend}"></td>
							<td th:text="${a.alertCode}"></td>
							<td th:text="${a.receiveId}"></td>
							<td th:text="${a.sendId}"></td>
							<td th:text="${a.receiveDate}"></td>
							<td th:text="${a.sendDate}"></td>
							<td>
								<a href="#"><i class="fa fa-close"></i> 삭제</a>
							</td>
						</tr>
						<tr th:unless="${not #lists.isEmpty(alertSendList)}">
							<td colspan="7" class="text-center">알림 전송 내역이 없습니다.</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</th:block>
</html>