<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:fragment="customContents">
	<div class="page-title">
		<div class="title_left">
			<h3>게시물 관리</h3>
		</div>
	</div>

	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h5>
					검색 필터 <a class="collapse-link"><i class="fa fa-chevron-up"
						style="color: #b4b7ba;"></i></a>
				</h5>
				<div class="clearfix"></div>
			</div>

			<div class="x_content">
				<div class="well" style="overflow: auto">
					<form th:action="@{/admin/board/boardList}" method="post">
						<div class="form-inline form-group" style="margin-bottom: -1px;">
							<label class="control-label" for="qnaSearch" style="margin-right: 10px;">게시판</label>
								<select class="form-control">
									<option value="">::</option>
									<option value="1">레시피게시판</option>
									<option value="2">자유게시판</option>
									<option value="3">농촌체험</option>
									<option value="4">맛집추천</option>
									<option value="5">행사</option>
								</select>
							<label class="control-label" for="qnaSearch" style="margin-left: 10px; margin-right: 10px;">키워드</label>
								<select class="form-control" name="searchKey">
									<option value="">::</option>
									<option value="boardTitle">제목</option>
									<option value="boardContent">내용</option>
									<option value="boardTag">태그</option>
									<option value="userId">작성자ID</option>
								</select>
							<input type="text" name="searchValue" class="form-control" size="12">
						</div>
						<div class="form-inline control-group controls">
							<label class="control-label" for="qnaSearchDate" style="margin-right: 10px; ">등록일</label>
							<div class="input-prepend input-group" style="margin-top:9px;">
								<span class="add-on input-group-addon"><i
									class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
									<input type="text" style="width: 200px;" name="reservation"
									id="reservation" class="form-control" value="01/01/2016 - 01/25/2016" />
							</div>
							<div class="btn-group  btn-group-sm">
		                        <button class="btn btn-default" type="button" name="filterDate" value="today">오늘</button>
		                        <button class="btn btn-default" type="button" name="filterDate" value="week">일주일</button>
		                        <button class="btn btn-default" type="button" name="filterDate" value="month">한달</button>
	                     	</div>
						</div>
						<div style="text-align: center; margin-bottom:-10px;">
							<button type="submit" class="btn btn-dark">검색</button>
							<button type="reset" class="btn btn-dark">초기화</button>
						</div>
					</form>
				</div>
			</div>

				<div class="x_content2">
                    <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
						<thead>
							<tr>
								<th style="width: 30px"><input type="checkbox" id="check-all" class="flat"></th>
								<th style="width: 90px;">게시판</th>
								<th style="width: 160px;">제목</th>
								<th>내용</th>
								<th style="width: 80px;">작성자</th>
								<th style="width: 60px;">조회수</th>
								<th style="width: 60px;">추천수</th>
								<th style="width: 60px;">신고수</th>
								<th style="width: 140px;">등록일</th>
								<th style="width: 140px;">수정일</th>
								<th style="width: 100px;">관리</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${not #lists.isEmpty(boardList)}"
							th:each="b : ${boardList}" id="boardListTable">
								<td><input type="checkbox" id="check-all" class="flat"></td>
								<td th:text="${'['+(b.boardCategoryInfo.categoryName)+']'}" style="text-align: center;"></td>
								<td th:text="${b.boardTitle}"></td>
								<td th:text="${b.boardContent}"></td>
								<td th:text="${b.userInfo.userId}"></td>
								<td th:text="${b.viewAmount}"></td>
								<td th:text="${b.likeAmount}"></td>
								<td th:text="${b.reportAmount}"></td>
								<td th:text="${b.regDate}"></td>
								<td th:text="${b.modifyDate}"></td>
								<td style="text-align: center; width: 110px;">
									<a href="#"><i class="fa fa-edit"></i> 수정</a>
									<a href="#"><i class="fa fa-close"></i> 삭제</a>
								</td>
							</tr>
							<tr th:unless="${not #lists.isEmpty(boardList)}">
								<td colspan="11">등록된 상품이 없습니다.</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
</th:block>
<!-- <th:block layout:fragment="customJsScript">
    <th:block th:replace="/fragments/adminJs :: datatablesFragment"></th:block>
</th:block>  -->
</html>